/**
 * Bootstrap variables override
 */
.movie-slider {
  width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50% - 8px);
  margin-bottom: 60px;
  overflow: hidden; }
  @media (max-width: 991.98px) {
    .movie-slider {
      margin-left: calc(-50vw + 50%); } }

@media (min-width: 1200px) {
  .movie-slider > .masvideos-movies {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 0; } }

.movie-slider > .masvideos-movies > .movies {
  width: 100%; }

.movie-slider > .masvideos-movies .movie {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0; }

.slider-movie {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all .3s;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  height: 700px; }
  .slider-movie:after {
    background: linear-gradient(to bottom, rgba(240, 47, 23, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    height: 564px;
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
  .slider-movie .slider-movie__hover {
    padding: 0 25px; }
    @media (min-width: 1200px) {
      .slider-movie .slider-movie__hover {
        padding: 0 42px; } }
  .slider-movie .slider-movie__hover {
    padding-bottom: 27px;
    padding-top: 30px;
    z-index: 1; }
  .slider-movie .slider-movie__hover {
    display: flex;
    flex-direction: column; }
    @media (min-width: 1200px) {
      .slider-movie .slider-movie__hover {
        transition: all .3s;
        transform: translateY(170px); } }
    @media (min-width: 1440px) {
      .slider-movie .slider-movie__hover {
        transform: translateY(121px); } }
  @media (min-width: 1200px) {
    .slider-movie:hover .slider-movie__hover, .slider-movie:focus .slider-movie__hover {
      transform: translateY(0px); }
    .slider-movie:hover .slider-movie__meta, .slider-movie:focus .slider-movie__meta {
      padding-bottom: 0; }
    .slider-movie:hover .movie-description, .slider-movie:focus .movie-description {
      opacity: 1; } }
  .slider-movie .movie__link h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 7px; }
    @media (min-width: 768px) {
      .slider-movie .movie__link h3 {
        font-size: 44px; } }
  .slider-movie .slider-movie__meta .movie-details {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .slider-movie .slider-movie__meta .movie-details li {
      color: #fff;
      font-size: 12px;
      font-family: "Montserrat", "Open Sans", sans-serif;
      line-height: 14px;
      margin-bottom: 10px; }
      .slider-movie .slider-movie__meta .movie-details li a {
        color: #fff; }
      @media (min-width: 768px) {
        .slider-movie .slider-movie__meta .movie-details li {
          margin-bottom: 0; } }
    .slider-movie .slider-movie__meta .movie-details li + li {
      border-left: 1px solid #767676;
      padding-left: 8px;
      margin-left: 8px; }
  .slider-movie .slider-movie-description-wrap {
    height: 56px;
    overflow: hidden;
    margin-bottom: 17px; }
    .slider-movie .slider-movie-description-wrap:empty {
      order: 1; }
  .slider-movie .movie__short-description {
    display: block; }
    .slider-movie .movie__short-description p {
      font-size: 17px;
      color: #fff;
      font-family: "Montserrat", "Open Sans", sans-serif;
      line-height: 26px;
      margin-bottom: 0; }
  .slider-movie .movie__short-description,
  .slider-movie .movie__actions {
    opacity: 0; }
  .slider-movie .movie__actions {
    display: block; }
    .slider-movie .movie__actions a {
      display: inline-block;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      text-transform: uppercase;
      padding: 10px 20px;
      font-size: 15px;
      line-height: 1.5;
      border-radius: 4px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      padding: 12px 30px;
      font-size: 14px;
      line-height: 1.5;
      border-radius: 5px;
      font-family: "Montserrat", "Open Sans", sans-serif;
      display: block;
      border-width: 2px; }
      @media screen and (prefers-reduced-motion: reduce) {
        .slider-movie .movie__actions a {
          transition: none; } }
      .slider-movie .movie__actions a:hover, .slider-movie .movie__actions a:focus {
        text-decoration: none; }
      .slider-movie .movie__actions a:focus, .slider-movie .movie__actions a.focus {
        outline: 0;
        /*box-shadow: $btn-focus-box-shadow;*/ }
      .slider-movie .movie__actions a.disabled, .slider-movie .movie__actions a:disabled {
        opacity: 0.65; }
      .slider-movie .movie__actions a:not(:disabled):not(.disabled) {
        cursor: pointer; }
      .slider-movie .movie__actions a:not(:disabled):not(.disabled):active, .slider-movie .movie__actions a:not(:disabled):not(.disabled).active {
        background-image: none; }
      @media (min-width: 576px) {
        .slider-movie .movie__actions a {
          display: inline-block;
          padding: 13.5px 38.99px; } }
      @media (min-width: 1201px) and (max-width: 1335px) {
        .slider-movie .movie__actions a {
          display: block;
          width: max-content; } }
    .slider-movie .movie__actions a:first-child {
      margin-bottom: 20px; }
      @media (min-width: 576px) {
        .slider-movie .movie__actions a:first-child {
          margin-bottom: 0; } }
      @media (min-width: 1201px) and (max-width: 1335px) {
        .slider-movie .movie__actions a:first-child {
          margin-bottom: 20px; } }
    .slider-movie .movie__actions .movie-actions--link_add-to-playlist {
      color: #fff;
      background-color: transparent;
      background-image: none;
      border-color: #fff; }
      @media (min-width: 576px) {
        .slider-movie .movie__actions .movie-actions--link_add-to-playlist {
          margin-left: 20px; } }
      @media (min-width: 1201px) and (max-width: 1335px) {
        .slider-movie .movie__actions .movie-actions--link_add-to-playlist {
          margin-left: 0; } }
      .slider-movie .movie__actions .movie-actions--link_add-to-playlist:hover {
        color: #000;
        background-color: #fff;
        border-color: #fff; }
      .slider-movie .movie__actions .movie-actions--link_add-to-playlist:focus, .slider-movie .movie__actions .movie-actions--link_add-to-playlist.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
      .slider-movie .movie__actions .movie-actions--link_add-to-playlist.disabled, .slider-movie .movie__actions .movie-actions--link_add-to-playlist:disabled {
        color: #fff;
        background-color: transparent; }
      .slider-movie .movie__actions .movie-actions--link_add-to-playlist:not(:disabled):not(.disabled):active, .slider-movie .movie__actions .movie-actions--link_add-to-playlist:not(:disabled):not(.disabled).active,
      .show > .slider-movie .movie__actions .movie-actions--link_add-to-playlist.dropdown-toggle {
        color: #212529;
        background-color: #fff;
        border-color: #fff; }
        .slider-movie .movie__actions .movie-actions--link_add-to-playlist:not(:disabled):not(.disabled):active:focus, .slider-movie .movie__actions .movie-actions--link_add-to-playlist:not(:disabled):not(.disabled).active:focus,
        .show > .slider-movie .movie__actions .movie-actions--link_add-to-playlist.dropdown-toggle:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  .slider-movie .slider-movie__hover_watch-now {
    text-align: center;
    margin-bottom: 40px;
    display: none; }
    @media (min-width: 768px) {
      .slider-movie .slider-movie__hover_watch-now {
        display: block; } }
    @media (min-width: 1200px) {
      .slider-movie .slider-movie__hover_watch-now {
        margin-bottom: 82px; } }
    @media (min-width: 1200px) {
      .slider-movie .slider-movie__hover_watch-now {
        opacity: 0;
        transition: all .3s; } }
  .slider-movie:hover .slider-movie__hover_watch-now,
  .slider-movie:hover .movie__short-description,
  .slider-movie:hover .movie__actions, .slider-movie:focus .slider-movie__hover_watch-now,
  .slider-movie:focus .movie__short-description,
  .slider-movie:focus .movie__actions {
    opacity: 1; }
  .slider-movie .watch-now-btn {
    display: inline-block;
    text-align: center;
    transition: all .3s; }
    .slider-movie .watch-now-btn .watch-now-btn-bg {
      width: 117px;
      height: 117px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 500px;
      margin-bottom: 18px;
      background-image: linear-gradient(30deg, #2a4999 0%, #2c9cd4 100%); }
      .slider-movie .watch-now-btn .watch-now-btn-bg svg {
        margin-left: 10px; }
    .slider-movie .watch-now-btn .watch-now-txt {
      font-size: 24px;
      color: #fff; }

/*# sourceMappingURL=style.css.map */