.movie-sidebar {
    .widget-title {
        color: $black;
        margin-bottom: 17px;
        padding-bottom: 10px;
    }

    .widget-area-inner {
        background-color: $default-bg-color;
        padding: 28px 20px;
    }

    .masvideos-widget-movies-layered-nav-list {
        @include list-unstyled();
        display: flex;
        flex-wrap: wrap;

        li {
            margin: 5px 5px 0px 0px;

            .count {
                display: none;
            }
        }

        a {
            padding: 6px 10.5px;
            display: block;
            color: $black;
            background-color: $pagination-bg;
            font-weight: 500;

            @include hover-focus {
                background-color: $pagination-active-bg;
                color: $white;
                font-weight: 500;
            }
        }
    }

    .chosen a{
        background-color: #24baef;
        color: #fff;
    }
}

.dark .movie-sidebar {
    .widget-area-inner {
        background-color: $dark-bg-color;
    }

    .widget-title {
        border-bottom-color: $white;
    }

    .masvideos-widget-movies-layered-nav-list {
        a {
            background-color: $dark-link-bg-color;
            color: $vod-text-color;

            @include hover-focus {
                background-color: $pagination-active-bg;
                color: $black;
            }
        }
    }

    .chosen a{
        background-color: #24baef;
        color: #000;
    }
}

.light .movie-sidebar .widget-area-inner {
    padding: 46px 20px;
}
