.vodi-categories-widget {

    .categories {
        @include list-unstyled();
        display: flex;
        flex-wrap: wrap;
    }

    .category {
    	background-color: #181d29;
		// flex: 0 0 17.5%;
  //       max-width: 17.5%;
		margin: 0 3.5px 3.5px 0;
		letter-spacing: -0.05em;
        cursor: pointer;
        width: 52px;
        height: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include hover-focus() {
            background-color: $vodi-primary-color;

            a,
            span {
                color: #131722;
            }
        }

    	a {
    		font-size: 21px;
			line-height: 1.25;
			font-weight: $os-semi-bold;
			color: $vodi-primary-color;
            display: block;
    	}

    	.count {
    		font-size: 12px;
    		line-height: 14px;
    		color: #6b7590;
            display: block;
    	}
    }
}

.movie-sidebar,
.video-sidebar,
.tv-show-sidebar {
    &.widget-area {
        .widget {
            margin-bottom: 28px;
        }

        .widget-title {
            font-size: 22px;
            letter-spacing: -0.025em;
            font-weight: $ms-medium;
            padding-bottom: 13px;
            border-bottom-style: solid;
            border-width: 1px;
            display: block;
            margin-bottom: 30px;
        }

        .widget_categories {
            ul {
                /* @include list-unstyled();
                column-count: 2; */

                li {

                    &:before {
                        content: none;
                    }

                    /* a {
                        padding: 3px 0;
                        position: relative;
                        display: flex;
                        align-items: center;

                        &:before {
                            content: "";
                            margin-right: 15px;
                            font-size: 18px;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            vertical-align: top;
                            width: 18px;
                            height: 18px;
                            display: inline-block;
                            background-repeat: no-repeat;
                            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18px" height="486px"><path fill-rule="evenodd" fill="rgb(180, 187, 192)" d="M-0.000,486.000 L-0.000,468.000 L18.000,468.000 L18.000,486.000 L-0.000,486.000 ZM16.000,470.000 L2.000,470.000 L2.000,484.000 L16.000,484.000 L16.000,470.000 ZM-0.000,442.000 L18.000,442.000 L18.000,460.000 L-0.000,460.000 L-0.000,442.000 ZM2.000,458.000 L16.000,458.000 L16.000,444.000 L2.000,444.000 L2.000,458.000 ZM-0.000,416.000 L18.000,416.000 L18.000,434.000 L-0.000,434.000 L-0.000,416.000 ZM2.000,432.000 L16.000,432.000 L16.000,418.000 L2.000,418.000 L2.000,432.000 ZM-0.000,390.000 L18.000,390.000 L18.000,408.000 L-0.000,408.000 L-0.000,390.000 ZM2.000,406.000 L16.000,406.000 L16.000,392.000 L2.000,392.000 L2.000,406.000 ZM-0.000,364.000 L18.000,364.000 L18.000,382.000 L-0.000,382.000 L-0.000,364.000 ZM2.000,380.000 L16.000,380.000 L16.000,366.000 L2.000,366.000 L2.000,380.000 ZM-0.000,338.000 L18.000,338.000 L18.000,356.000 L-0.000,356.000 L-0.000,338.000 ZM2.000,354.000 L16.000,354.000 L16.000,340.000 L2.000,340.000 L2.000,354.000 ZM-0.000,312.000 L18.000,312.000 L18.000,330.000 L-0.000,330.000 L-0.000,312.000 ZM2.000,328.000 L16.000,328.000 L16.000,314.000 L2.000,314.000 L2.000,328.000 ZM-0.000,286.000 L18.000,286.000 L18.000,304.000 L-0.000,304.000 L-0.000,286.000 ZM2.000,302.000 L16.000,302.000 L16.000,288.000 L2.000,288.000 L2.000,302.000 ZM-0.000,260.000 L18.000,260.000 L18.000,278.000 L-0.000,278.000 L-0.000,260.000 ZM2.000,276.000 L16.000,276.000 L16.000,262.000 L2.000,262.000 L2.000,276.000 ZM-0.000,234.000 L18.000,234.000 L18.000,252.000 L-0.000,252.000 L-0.000,234.000 ZM2.000,250.000 L16.000,250.000 L16.000,236.000 L2.000,236.000 L2.000,250.000 ZM-0.000,208.000 L18.000,208.000 L18.000,226.000 L-0.000,226.000 L-0.000,208.000 ZM2.000,224.000 L16.000,224.000 L16.000,210.000 L2.000,210.000 L2.000,224.000 ZM-0.000,182.000 L18.000,182.000 L18.000,200.000 L-0.000,200.000 L-0.000,182.000 ZM2.000,198.000 L16.000,198.000 L16.000,184.000 L2.000,184.000 L2.000,198.000 ZM-0.000,156.000 L18.000,156.000 L18.000,174.000 L-0.000,174.000 L-0.000,156.000 ZM2.000,172.000 L16.000,172.000 L16.000,158.000 L2.000,158.000 L2.000,172.000 ZM-0.000,130.000 L18.000,130.000 L18.000,148.000 L-0.000,148.000 L-0.000,130.000 ZM2.000,146.000 L16.000,146.000 L16.000,132.000 L2.000,132.000 L2.000,146.000 ZM-0.000,104.000 L18.000,104.000 L18.000,122.000 L-0.000,122.000 L-0.000,104.000 ZM2.000,120.000 L16.000,120.000 L16.000,106.000 L2.000,106.000 L2.000,120.000 ZM-0.000,78.000 L18.000,78.000 L18.000,96.000 L-0.000,96.000 L-0.000,78.000 ZM2.000,94.000 L16.000,94.000 L16.000,80.000 L2.000,80.000 L2.000,94.000 ZM-0.000,52.000 L18.000,52.000 L18.000,70.000 L-0.000,70.000 L-0.000,52.000 ZM2.000,68.000 L16.000,68.000 L16.000,54.000 L2.000,54.000 L2.000,68.000 ZM-0.000,26.000 L18.000,26.000 L18.000,44.000 L-0.000,44.000 L-0.000,26.000 ZM2.000,42.000 L16.000,42.000 L16.000,28.000 L2.000,28.000 L2.000,42.000 ZM-0.000,-0.000 L18.000,-0.000 L18.000,18.000 L-0.000,18.000 L-0.000,-0.000 ZM2.000,16.000 L16.000,16.000 L16.000,2.000 L2.000,2.000 L2.000,16.000 Z"/></svg>') no-repeat;
                            //background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>') no-repeat;

                        }

                        &:hover {
                            background: none !important;

                            &:before {
                                content: "";
                                width: 18px;
                                height: 18px;
                                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18px"><path fill="rgb(36, 186, 239)" d="M-0.000,18.000 L-0.000,-0.000 L18.000,-0.000 L18.000,18.000 L-0.000,18.000 ZM13.387,5.216 C13.312,5.136 13.272,5.039 13.158,4.999 C11.202,7.087 9.246,9.176 7.291,11.263 C6.661,10.603 6.032,9.943 5.403,9.284 C5.249,9.121 5.098,8.958 4.944,8.796 C4.913,8.764 4.862,8.637 4.791,8.660 C4.722,8.742 4.654,8.823 4.586,8.904 C4.391,9.103 4.195,9.302 4.000,9.501 C4.073,9.726 4.708,10.281 4.893,10.477 C5.411,11.028 5.930,11.580 6.449,12.131 C6.709,12.408 6.949,12.758 7.265,12.972 C7.265,12.981 7.265,12.990 7.265,12.999 C7.273,12.999 7.282,12.999 7.291,12.999 C9.527,10.631 11.764,8.262 14.000,5.894 C13.932,5.679 13.542,5.380 13.387,5.216 Z"/></svg>')no-repeat;
                                //font-family: "Font Awesome 5 free";
                                font-weight: 800;
                                display: inline-block;
                            }
                        }
                    } */
                }
            }
        }
    }
}

.page-template-category-template,
.page-template-category-tvshows-template {
    .widget-area-inner {
        padding: 25px 20px;
    }

    .site-content {
        padding-top: 75px;
    }

    .section_header {
        padding-top: 20px;
    }
}