.movies-list {
    counter-reset: my-sec-counter;
    background: #131722;

    .section-movies-list-header{
        padding: 34px 0px 15px 0px;
        border-bottom: 1px solid #2f2f33;
        margin: 0 15px;

        h2 {
            font-size: 22px;
            line-height: 18px;
            font-weight: 500;
            color: #fff;
        }
    }

    .movie {
        border-bottom: 1px solid #2f2f33;
        display: flex;
        margin: 0 15px;

        a {
            margin-bottom: 10px;
        }

        &:before{
            counter-increment: my-sec-counter;
            content: counter(my-sec-counter) " "; 
            margin-right: 25px;
            text-align: center;
            color: $pagination-active-color;
            font-size: 36px;
            line-height: 2.2;
            font-weight: $ms-bold;

                @include media-breakpoint-up(xl) {
                    width: 40px;
            }
        }

        &:last-child {
            border: none;
        }

        .year {
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            color: #808b90;
            padding: 13px 0px 2px 0px;
            display: block;
        }

        .movie__name {
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            font-weight: 700;
            margin: 0;
        }

        .movie__type {
            font-size: 12px;
            line-height: 18px;
            color: #24baef;
        }
    }
}