/**
 * Bootstrap variables override
 */
.section-movies-carousel-2 {
  padding: 56px 0; }
  .section-movies-carousel-2__inner {
    align-items: center; }
  .section-movies-carousel-2 .home-section__nav-header .home-section__title {
    margin-bottom: 17px; }
  .section-movies-carousel-2 .movie {
    margin-bottom: 0; }
  .section-movies-carousel-2__carousel {
    position: relative; }
    .section-movies-carousel-2__carousel .movies .slick-slide {
      margin: 0;
      padding: 0 12.5px; }
    .section-movies-carousel-2__carousel .movies .slick-slider {
      margin: 0 -12.5px; }
    .section-movies-carousel-2__carousel .movies .slick-list {
      margin: 0; }
    .section-movies-carousel-2__carousel .slick-arrow {
      width: 40px;
      height: 40px;
      border: 2px solid #d2d2d8;
      border-radius: 50%;
      transform: none;
      top: 34%;
      z-index: 1; }
      .section-movies-carousel-2__carousel .slick-arrow::before {
        display: inline-block; }
      .section-movies-carousel-2__carousel .slick-arrow:hover, .section-movies-carousel-2__carousel .slick-arrow:focus {
        border-color: #9f9fa4; }
    .section-movies-carousel-2__carousel .slick-prev {
      left: 0; }
      .section-movies-carousel-2__carousel .slick-prev:before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(189, 189, 195)"/></svg>'); }
      @media (min-width: 768px) {
        .section-movies-carousel-2__carousel .slick-prev {
          left: -30px; } }
      @media (min-width: 1440px) {
        .section-movies-carousel-2__carousel .slick-prev {
          left: -48px; } }
    .section-movies-carousel-2__carousel .slick-prev:hover::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(129, 129, 133)"/></svg>'); }
    .section-movies-carousel-2__carousel .slick-next {
      right: 0; }
      .section-movies-carousel-2__carousel .slick-next:before {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(189, 189, 195)" /></svg>'); }
      @media (min-width: 768px) {
        .section-movies-carousel-2__carousel .slick-next {
          right: -30px; } }
      @media (min-width: 1440px) {
        .section-movies-carousel-2__carousel .slick-next {
          right: -48px; } }
    .section-movies-carousel-2__carousel .slick-next:hover::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(129, 129, 133)" /></svg>'); }
  .section-movies-carousel-2.dark {
    padding: 72px 0 60px; }
    .section-movies-carousel-2.dark .section-movies-carousel-2__carousel .slick-arrow {
      border-color: #4a545d; }
    .section-movies-carousel-2.dark .section-movies-carousel-2__carousel .slick-prev::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(113, 127, 140)"/></svg>'); }
    .section-movies-carousel-2.dark .section-movies-carousel-2__carousel .slick-prev:hover::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(255, 255, 255)"/></svg>'); }
    .section-movies-carousel-2.dark .section-movies-carousel-2__carousel .slick-next::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(113, 127, 140)"/></svg>'); }
    .section-movies-carousel-2.dark .section-movies-carousel-2__carousel .slick-next:hover::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(255, 255, 255)" /></svg>'); }
  .section-movies-carousel-2.movies-with-ratings .movies-carousel .slick-slide {
    margin: 0 7px; }
  .section-movies-carousel-2.movies-with-ratings .movies-carousel .slick-list {
    margin: 0 -7px; }

/*# sourceMappingURL=style.css.map */