// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.home-blog-tab-section {
    .articles.tab-pane.active {
        display: flex;
        flex-direction: column;
    }

    .articles .article {
        margin-bottom: 24px;

        &.vodi-sticky {
            order: -1;
        }

        .article__attachment {
            @include make-col(5.93);
        }
    }

    &.style-v2 {
        .home-section__flex-header {
            .section-title {
                &:after {
                    content: none;
                }
            }

            .blog-list-navs {
                display: none;
            }
        }

        .articles .article {
            margin-bottom: 12px;

            .article__attachment {
                @include make-col(2.6);
            }

            .article__meta,
            .article__excerpt {
                display: none;
            }
        }
    }
}
