/**
 * Bootstrap variables override
 */
.vodi-event-category .event-category-lists {
  padding-left: 0;
  list-style: none; }

@media (min-width: 768px) {
  .vodi-event-category .columns-3 .column {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 992px) {
  .vodi-event-category .columns-3 .column {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media (min-width: 768px) {
  .vodi-event-category .columns-4 .column {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 992px) {
  .vodi-event-category .columns-4 .column {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media (min-width: 1200px) {
  .vodi-event-category .columns-4 .column {
    flex: 0 0 25%;
    max-width: 25%; } }

@media (min-width: 768px) {
  .vodi-event-category .columns-5 .column {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 992px) {
  .vodi-event-category .columns-5 .column {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; } }

@media (min-width: 1200px) {
  .vodi-event-category .columns-5 .column {
    flex: 0 0 25%;
    max-width: 25%; } }

@media (min-width: 1440px) {
  .vodi-event-category .columns-5 .column {
    flex: 0 0 20%;
    max-width: 20%; } }

.vodi-event-category .event-category-list {
  margin-bottom: 20px; }
  .vodi-event-category .event-category-list__inner {
    display: flex;
    position: relative;
    height: inherit;
    padding: 20px;
    height: 465px; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .vodi-event-category .event-category-list__inner {
        height: 380px; } }
    @media (min-width: 1440px) {
      .vodi-event-category .event-category-list__inner {
        height: 565px; } }
    .vodi-event-category .event-category-list__inner-poster, .vodi-event-category .event-category-list__inner-poster:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .vodi-event-category .event-category-list__inner-poster::before {
      background: linear-gradient(to bottom, rgba(240, 47, 23, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
      content: " "; }
    .vodi-event-category .event-category-list__inner-poster-image {
      height: 465px;
      object-fit: cover;
      width: 100%; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .vodi-event-category .event-category-list__inner-poster-image {
          height: 380px; } }
      @media (min-width: 1440px) {
        .vodi-event-category .event-category-list__inner-poster-image {
          height: 565px; } }
      .vodi-event-category .event-category-list__inner-poster-image.empty {
        background-color: #ddd; }
    .vodi-event-category .event-category-list__inner-content {
      border: 2px solid #fff;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      text-align: center;
      padding-bottom: 12px;
      z-index: 1; }
    .vodi-event-category .event-category-list__inner .event-category-title {
      font-size: 18px;
      color: #fff;
      font-weight: 700;
      padding: 0 10px; }

/*# sourceMappingURL=style.css.map */