/**
 * admin.scss
 * General MasVideos admin styles. Settings, movie data tabs, reports, etc.
 */

/**
 * MasVideos meta boxes
 */
.masvideos-metaboxes-wrapper {
	.toolbar {
		margin: 0 !important;
		border-top: 1px solid white;
		border-bottom: 1px solid #eee;
		padding: 9px 12px !important;

		&:first-child {
			border-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	p.toolbar {
		overflow: hidden;
		zoom: 1;
	}

	.expand-close {
		margin-right: 2px;
		color: #777;
		font-size: 12px;
		font-style: italic;
		a {
			background: none;
			padding: 0;
			font-size: 12px;
			text-decoration: none;
		}
	}

	&#movie_attributes .expand-close {
		float: right;
		line-height: 28px;
	}

	button.add_variable_attribute,
	.fr {
		float: right;
		margin: 0 0 0 6px;
	}

	.masvideos-metaboxes {
		border-bottom: 1px solid #eee;
	}

	.masvideos-metabox-sortable-placeholder {
		border-color: #bbb;
		background-color: #f5f5f5;
		margin-bottom: 9px;
		border-width: 1px;
		border-style: dashed;
	}

	.masvideos-metabox {
		background: #fff;
		border-bottom: 1px solid #eee;
		margin: 0 !important;

		select {
			font-weight: 400;
		}

		&:last-of-type {
			border-bottom: 0;
		}

		.handlediv {
			width: 27px;

			&::before {
				content: '\f142' !important;
				cursor: pointer;
				display: inline-block;
				font: 400 20px/1 'Dashicons';
				line-height: 0.5 !important;
				padding: 8px 10px;
				position: relative;
				right: 12px;
				top: 0;
			}
		}

		&.closed {
			// @include border-radius(3px);

			.handlediv::before {
				content: '\f140' !important;
			}

			h3 {
				border: 0;
			}
		}

		h3 {
			margin: 0 !important;
			padding: 0.75em 0.75em 0.75em 1em !important;
			font-size: 1em !important;
			overflow: hidden;
			zoom: 1;
			cursor: move;

			button, a.delete {
				float: right;
			}

			a.delete {
				color: red;
				font-weight: normal;
				line-height: 26px;
				text-decoration: none;
				position: relative;
				visibility: hidden;
			}

			strong {
				font-weight: normal;
				line-height: 26px;
				font-weight: 700;
			}

			select {
				font-family: sans-serif;
				max-width: 20%;
				margin: 0.25em 0.25em 0.25em 0;
			}

			.handlediv {
				background-position: 6px 5px !important;
				visibility: hidden;
				height: 26px;
			}

			&.fixed {
				cursor: pointer !important;
			}
		}

		h3:hover, &.ui-sortable-helper {
			a.delete, .handlediv {
				visibility: visible;
			}
		}

		table {
			width: 100%;
			position: relative;
			background-color: #fdfdfd;
			padding: 1em;
			border-top: 1px solid #eee;

			td {
				text-align: left;
				padding: 0 6px 1em 0;
				vertical-align: top;
				border: 0;

				label {
					text-align: left;
					display: block;
					line-height: 21px;
				}

				input {
					float: left;
					min-width: 200px;
				}

				input,
				textarea {
					width: 100%;
					margin: 0;
					display: block;
					font-size: 14px;
					padding: 4px;
					color: #555;
				}

				select,
				.select2-container {
					width: 100% !important;
				}

				input.short {
					width: 200px;
				}

				input.checkbox {
					width: 16px;
					min-width: inherit;
					vertical-align: text-bottom;
					display: inline-block;
					float: none;
				}
			}

			td.attribute_name {
				width: 200px;
			}

			.plus,
			.minus {
				margin-top: 6px;
			}

			.fl {
				float: left;
			}

			.fr {
				float: right;
			}
		}
	}
}

.masvideos_variable_attributes {
	background-color: #fdfdfd;
	border-top: 1px solid #eee;

	.data {
		// @include clearfix;
		padding: 1em 2em;
	}

	.upload_image_button {
		display: block;
		width: 64px;
		height: 64px;
		float: left;
		margin-right: 20px;
		position: relative;
		cursor: pointer;

		img {
			width: 100%;
			height: auto;
			display: none;
		}

		&::before {
			content: '\f128';
			font-family: 'Dashicons';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			line-height: 64px;
			font-size: 64px;
			font-weight: 400;
			-webkit-font-smoothing: antialiased;
		}

		&.remove {
			img {
				display: block;
			}

			&::before {
				content: '\f335';
				display: none;
			}

			&:hover::before {
				display: block;
			}
		}
	}

	.options {
		border: 1px solid #eee;
		border-width: 1px 0;
		padding: 0.25em 0;

		label {
			display: inline-block;
			padding: 4px 1em 2px 0;
		}

		input[type=checkbox] {
			margin: 0 5px 0 .5em!important;
			vertical-align: middle;
		}
	}
}

.form-row {
	label {
		display: inline-block;
	}

	.masvideos-help-tip {
		float: right;
	}

	input[type=text],
	input[type=number],
	select,
	textarea {
		width: 100%;
		vertical-align: middle;
		margin: 2px 0 0;
		padding: 5px;
	}

	select {
		height: 30px;
		line-height: 30px;
	}

	&.dimensions_field {
		.wrap {
			clear:left;
			display: block;
		}
		input {
			width: 33%;
			float: left;
			vertical-align: middle;

			&:last-of-type {
				margin-right: 0;
				width: 34%;
			}
		}
	}

	&.form-row-first,
	&.form-row-last {
		width: 48%;
		float: right;
	}

	&.form-row-first {
		clear: both;
		float: left;
	}

	&.form-row-full {
		clear: both;
	}
}

.masvideos {

	h2.woo-nav-tab-wrapper {
		margin-bottom: 1em;
	}

	nav.woo-nav-tab-wrapper {
		margin: 1.5em 0 1em;
	}

	.subsubsub {
		margin: -8px 0 0;
	}

	.masvideos-admin-breadcrumb {
		margin-left: 0.5em;
		a {
			color: #a46497;
		}
	}

	#template div {
		margin: 0;

		p .button {
			float: right;
			margin-left: 10px;
			margin-top: -4px;
		}

		.editor textarea {
			margin-bottom: 8px;
		}
	}

	textarea[disabled='disabled'] {
		background: #dfdfdf !important;
	}

	table.form-table {
		margin: 0;
		position: relative;
		table-layout: fixed;

		.forminp-radio ul {
			margin: 0;
			li {
				line-height: 1.4em;
			}
		}

		input[type="text"],
		input[type="number"],
		input[type="email"] {
			height: auto;
		}

		textarea.input-text {
			height: 100%;
			min-width: 150px;
			display: block;
		}

		// Give regular settings inputs a standard width and padding.
		textarea,
		input[type="text"],
		input[type="email"],
		input[type="number"],
		input.regular-input {
			width: 400px;
			margin: 0;
			padding: 6px;
			box-sizing: border-box;
			vertical-align: top;
		}

		select {
			width: 400px;
			margin: 0;
			box-sizing: border-box;
			height: 32px;
			line-height: 32px;
			vertical-align: top;
		}

		input[size] {
			width: auto !important;
		}

		// Ignore nested inputs.
		table {
			select,
			textarea,
			input[type="text"],
			input[type="email"],
			input[type="number"],
			input.regular-input {
				width: auto;
			}
		}

		textarea.wide-input {
			width: 100%;
		}

		img.help_tip,
		.masvideos-help-tip {
			padding: 0;
			margin: -4px 0 0 5px;
			vertical-align: middle;
			cursor: help;
			line-height: 1;
		}

		span.help_tip {
			cursor: help;
			// color: $blue;
		}

		th {
			position: relative;
			padding-right: 24px;
		}

		th label {
			position: relative;
			display: block;

			img.help_tip,
			.masvideos-help-tip {
				margin: -8px -24px 0 0;
				position: absolute;
				right: 0;
				top: 50%;
			}
		}

		th label + .masvideos-help-tip {
			margin: 0 0 0 0;
			position: absolute;
			right: 0;
			top: 20px;
		}

		masvideos-help-tip

		.select2-container {
			vertical-align: top;
			margin-bottom: 3px;
		}

		table.widefat th {
			padding-right: inherit;
		}

		.wp-list-table .masvideos-help-tip {
			float: none;
		}

		fieldset {
			margin-top: 4px;

			img.help_tip,
			.masvideos-help-tip {
				margin: -3px 0 0 5px;
			}

			p.description {
				margin-bottom: 8px;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		.iris-picker {
			z-index: 100;
			display: none;
			position: absolute;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

			.ui-slider {
				border: 0 !important;
				margin: 0 !important;
				width: auto !important;
				height: auto !important;
				background: none transparent !important;

				.ui-slider-handle {
					margin-bottom: 0 !important;
				}
			}
		}

		.iris-error {
			background-color: #ffafaf;
		}

		.colorpickpreview {
			padding: 7px 0;
			line-height: 1em;
			display: inline-block;
			width: 26px;
			border: 1px solid #ddd;
			font-size: 14px;
		}

		.image_width_settings {
			vertical-align: middle;

			label {
				margin-left: 10px;
			}

			input {
				width: auto;
			}
		}

		.wc_payment_gateways_wrapper,
		.wc_emails_wrapper {
			padding: 0 15px 10px 0;
		}
	}
}

.masvideos #tabs-wrap table a.remove {
	margin-left: 4px;
}

.masvideos #tabs-wrap table p {
	margin: 0 0 4px !important;
	overflow: hidden;
	zoom: 1;
}

.masvideos #tabs-wrap table p a.add {
	float: left;
}

#wp-excerpt-editor-container {
	background: #fff;
}

#video_variation-parent #parent_id,
#movie_variation-parent #parent_id {
	width: 100%;
}

#postimagediv img {
	border: 1px solid #d5d5d5;
	max-width: 100%;
}

#masvideos-video-images .inside
#masvideos-movie-images .inside {
	margin: 0;
	padding: 0;

	.add_video_images,
	.add_movie_images {
		padding: 0 12px 12px;
	}

	#video_images_container,
	#movie_images_container {
		padding: 0 0 0 9px;

		ul {
			// @include clearfix();
			margin: 0;
			padding: 0;

			li.image,
			li.add,
			li.masvideos-metabox-sortable-placeholder {
				width: 80px;
				float: left;
				cursor: move;
				border: 1px solid #d5d5d5;
				margin: 9px 9px 0 0;
				background: #f7f7f7;
				// @include border-radius(2px);
				position: relative;
				box-sizing: border-box;

				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}

			li.masvideos-metabox-sortable-placeholder {
				border: 3px dashed #dddddd;
				position: relative;

				&::after {
					// @include icon_dashicons( '\f161' );
					font-size: 2.618em;
					line-height: 72px;
					color: #ddd;
				}
			}

			ul.actions {
				position: absolute;
				top: -8px;
				right: -8px;
				padding: 2px;
				display: none;

				li {
					float: right;
					margin: 0 0 0 2px;

					a {
						width: 1em;
						height: 1em;
						margin: 0;
						height: 0;
						display: block;
						overflow: hidden;

						&.tips {
							cursor: pointer;
						}
					}

					a.delete {
						// @include ir();
						font-size: 1.4em;

						&::before {
							// @include icon_dashicons( '\f153' );
							color: #999;
							background: #fff;
							border-radius: 50%;
							height: 1em;
							width: 1em;
							line-height: 1em;
						}

						&:hover::before {
							// color: $red;
						}
					}
				}
			}

			li:hover ul.actions {
				display: block;
			}
		}
	}
}

#masvideos-video-data,
#masvideos-movie-data {
	.hndle {
		padding: 10px;

		span {
			display: block;
			vertical-align: middle;
			line-height: 24px;

			span {
				display: inline;
				line-height: inherit;
				vertical-align: baseline;
			}
		}

		select {
			margin: 0;
		}

		label {
			padding-right: 1em;
			font-size: 12px;
			vertical-align: baseline;
		}

		label:first-child {
			margin-right: 1em;
			border-right: 1px solid #dfdfdf;
		}

		input, select {
			margin-top: -3px 0 0;
			vertical-align: middle;
		}

		select {
			margin-left: 0.5em;
		}
	}

	> .handlediv {
		margin-top: 4px;
	}

	.wrap {
		margin: 0;
	}
}

#masvideos-video-data,
#masvideos-movie-data {
	.panel-wrap {
		background: #fff;
	}

	.masvideos_options_panel,
	.masvideos-metaboxes-wrapper {
		float: left;
		width: 80%;

		.masvideos-radios {
			display: block;
			float: left;
			margin: 0;

			li {
				display: block;
				padding: 0 0 10px;

				input {
					width: auto;
				}
			}
		}
	}
}

#masvideos-video-data,
#masvideos-movie-data,
.masvideos {
	.panel-wrap {
		overflow: hidden;
	}

	ul.masvideos-tabs {
		margin: 0;
		width: 20%;
		float: left;
		line-height: 1em;
		padding: 0 0 10px;
		position: relative;
		background-color: #fafafa;
		border-right: 1px solid #eee;
		box-sizing: border-box;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 9999em;
			position: absolute;
			bottom: -9999em;
			left: 0;
			background-color: #fafafa;
			border-right: 1px solid #eee;
		}

		li {
			margin: 0;
			padding: 0;
			display: block;
			position: relative;

			a {
				margin: 0;
				padding: 10px;
				display: block;
				box-shadow: none;
				text-decoration: none;
				line-height: 20px !important;
				border-bottom: 1px solid #eee;

				span {
					margin-left: 0.618em;
					margin-right: 0.618em;
				}

				&::before {
					// @include iconbeforedashicons( '\f107' );
				}
			}

			&.general_options a::before {
				content: '\f107';
			}

			&.inventory_options a::before {
				content: '\f481';
			}

			&.shipping_options a::before {
				font-family: 'WooCommerce';
				content: '\e01a';
			}

			&.linked_movie_options a::before {
				content: '\f103';
			}

			&.attribute_options a::before {
				content: '\f175';
			}

			&.advanced_options a::before {
				font-family: 'Dashicons';
				content: '\f111';
			}

			&.variations_options a::before {
				content: '\f509';
			}

			&.usage_restriction_options a::before {
				font-family: 'WooCommerce';
				content: '\e602';
			}

			&.usage_limit_options a::before {
				font-family: 'WooCommerce';
				content: '\e601';
			}

			&.general_coupon_data a::before {
				font-family: 'WooCommerce';
				content: '\e600';
			}

			&.active a {
				color: #555;
				position: relative;
				background-color: #eee;
			}
		}
	}
}