.page {
    &__title {
        font-weight: $ms-semi-bold;
    }

    &__content {
        @include clearfix();
        margin-bottom: 40px;

        > *:last-child {
            margin-bottom: 0;
        }

        p {
            @include clearfix();
        }
    }
}

.archive__header,
.page__header {
    background-color: #f6f7f9;
    margin-top: -37px;
    text-align: left;
    padding: 70px 0;
    margin-bottom: 37px;
}

.page-links {
    display: flex;
    align-items: center;

    > .page-links-inner {
        margin-left: 10px;
    }
}

.archive.dark {
    .site-content {
        background-color: #131722;
        padding-top: 37px;
    }

    .site-header {
        margin-bottom: 0;
    }
}
