body {
    font-family: $os;
    font-size: 15px;
    line-height: 24px;
    color: #19272e;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $ms;
}

a {
    color: $vodi-primary-color;

    @include hover-focus() {
        text-decoration: none;
    }
}
