// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.single-featured-movie-section {
    .container {
        height: 100%;
    }
}

.single-featured-movie {
    display: flex;
    align-items: flex-end;

    @include media-breakpoint-up(md) {
        height: inherit;
    }

    .featured-movie__action {
        font-size: 14px;
        font-weight: $ms-bold;
        line-height: 18px;
        letter-spacing: -0.01em;
        font-family: $ms;
        padding: 17px 0 36px;
        display: inline-block;

        a {
            color: #ffffff;
            display: flex;
            align-items: center;

            .play-trailer-txt {
                font-size: 14px;
            }
        }

        i {
            margin-right: 10px;
            font-size: 17px;
        }
    }

    .movie {

        &__meta {
            margin-bottom: 11px;

            &--genre {

                a {
                    color: $vodi-primary-color;
                    font-weight: $ms-bold;
                }
            }

            &--release-year {
                display: none;
            }

            .avg-rating-text a{
                color: #fff;
                font-weight: $os-semi-bold;
            }
        }
    }

    h2 {
        font-size: 44px;
        margin-left: -2px;
        margin-bottom: 0;

        a {
            color: #fff;
            font-weight: $os-bold;
        }
    }

    .movie__meta {
        font-size: 13px;

        & > span + span {
            &:before {
                content: '・';
                font-size: 14px;
                color: #fff;
            }
        }
    }

    &__inner {
        width: 50%;
        margin-bottom: 40px;

        a {
            text-decoration: none;
        }
    }
}

.page__content:first-child .single-featured-movie-section.single-featured-movie {
    margin-top: -160px;
    padding-top: 160px;
}