// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.banner-with-section-videos {
    padding: 56px 0;

    &__content {
        @include make-row(20px);

        .banner,
        .masvideos {
            @include make-col-ready(20px);
        }

        .banner {
            margin-bottom: 20px;

            &__image {
                height: 100%;
                object-fit: cover;
            }
        }

        .masvideos {
            .video {
                margin-bottom: 0;
            }
        }

        @include media-breakpoint-up(md) {
            .banner {
                @include make-col(6);
                margin-bottom: 0;
            }

            .masvideos {
                @include make-col(6);
            }
        }

        @include media-breakpoint-up(lg) {
            .banner {
                @include make-col(5);
            }

            .masvideos {
                @include make-col(7);
            }
        }

        @include media-breakpoint-up(xl) {
            .banner {
                @include make-col(3);
            }

            .masvideos {
                @include make-col(9);
            }
        }

        @include media-breakpoint-up(xxl) {
            .banner {
                @include make-col(2.4);
            }

            .masvideos {
                @include make-col(9.6);
            }
        }
    }

    &.style-2 {
        .banner,
        .video {
            margin-bottom: 20px;
        }

        .videos .video {
            &__container,
            &__poster,
            &__poster > a {
                height: 100%;
            }

            &__poster {
                margin-bottom: 0;

                &--image {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__info {
                padding: 0 26px 6px;
            }
        }
    }
}