$vodi-dark-footer-bg: #0c0e17;
$vodi-dark-theme-link-color: #808b90;
$vodi-dark-footer-text-color: #4d5c63;
$vodi-dark-social-icon: #fff;
$vodi-dark-theme-bg: #000;
$vodi-dark-footer-bottom-bg: #06090f;
$vodi-dark-footer-v1-link-color: #808b90;
$vodi-dark-footer-title-color: #d1d1d1;
$vodi-dark-footer-v1-bg: #0a0d14;

$vodi-dark-header-text-color: #fff;
$vodi-dark-header-bg-color: #0c0e17;
$vodi-dark-search-form-color: #1d202c;
$vodi-dark-title-color: #fff;
// $vodi-footer-bg: $vodi-dark-theme-bg;

// $vodi-footer-text-color: $vodi-dark-theme-text-color;
// $vodi-footer-link-color: $vodi-dark-theme-link-color;
// $vodi-footer-social-icon: $vodi-dark-social-icon;

// $vodi-header-text-color: $vodi-dark-header-text-color;
// $vodi-header-bg-color: $vodi-dark-header-bg-color;

