$vodi-light-footer-bg: #eeeff0;
$vodi-light-footer-text-color: #b0b0b0;
$vodi-light-footer-link-color: #707070;
$vodi-light-social-icon: #929293;
$vodi-light-theme-bg: #fff;
$vodi-light-footer-title-color: #19272e;
$vodi-light-footer-v1-text-color: #808b90;

$vodi-light-header-text-color: #121a21;
$vodi-light-header-bg-color: #fff;
$vodi-light-search-form-border-color: #d0d0d2;
$vodi-light-title-color: #121a21;

// $vodi-footer-bg: $vodi-light-theme-bg;
// $vodi-footer-text-color: $vodi-light-theme-text-color;
// $vodi-footer-link-color: $vodi-light-theme-link-color;
// $vodi-footer-social-icon: $vodi-light-social-icon;

// $vodi-header-text-color: $vodi-light-header-text-color;
// $vodi-header-bg-color: $vodi-light-header-bg-color;
