@import "dark";
@import "light";
@import "transparent";

.site-header {
	&.light {
		background: $vodi-light-header-bg-color;

		.site_header__primary-nav .nav > li > a,
		.site-header__upload--link,
		.site-header__user-account--link,
		.site-header__upload {
			color: $vodi-light-header-text-color;
		}

		.search-form .search-field {
			border-color: $vodi-light-search-form-border-color;

			&::placeholder {
				color: #a0a0a0;
			}
		}

		.site-header__offcanvas--toggler svg {
			fill: #97979f;
		}

		.site-header__upload--link svg {
			fill: #6f6f6f;
		}

		.site-header__notification--link svg {
			fill: #6f6f6f;
		}

		.search-form .search-submit svg {
			fill: #656565;
		}

		.offcanvas-collapse {
			background-color: $vodi-light-theme-bg;
		}

		.offcanvas-nav .sub-menu .menu-item > a,
		.offcanvas-nav .menu-item > a {
			color: $vodi-light-header-text-color;
		}

		.site_header__primary-nav .menu-item-has-children > a::after {
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>') no-repeat;
		}
	}

	&.dark {
		background: $vodi-dark-header-bg-color;

		.site_header__primary-nav .nav > li > a,
		.site-header__upload--link,
		.site-header__user-account--link,
		.site-header__upload {
			color: $vodi-dark-header-text-color;
		}

		.search-form .search-field {
			border-color: $vodi-dark-search-form-color;
			background: $vodi-dark-search-form-color;

			&::placeholder {
				color: #808b90;
			}

			&:focus {
				background: transparent;
			}
		}

		.site-header__upload--link svg {
			fill: #b2b2b2;
		}

		.site-header__offcanvas--toggler svg {
			fill: $vodi-dark-theme-link-color;
		}

		.search-form .search-submit svg {
			fill: $vodi-dark-theme-link-color;
		}

		.site-header__notification--link svg {
			fill: #a5a6a8;
		}

		.offcanvas-collapse {
			background-color: $vodi-dark-theme-bg;
		}

		.offcanvas-nav .sub-menu .menu-item > a,
		.offcanvas-nav .menu-item > a {
			color: $vodi-dark-header-text-color;

			&:hover{
				color: $vodi-light-header-text-color;
			}
		}

		.site_header__primary-nav .menu-item-has-children > a::after {
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>') no-repeat;
		}
	}

	&.transparent {
		background: $vodi-theme-header-bg-color;

		.site_header__primary-nav .nav > li > a,
		.site-header__upload--link,
		.site-header__user-account--link,
		.site-header__upload {
			color: $vodi-theme-header-text-color;
		}

		.search-form .search-field {
			border-color: $vodi-theme-search-form-color;
			background: $vodi-theme-search-form-color;

			&::placeholder {
				color: #a0a0a0;
			}
		}

		.site-header__offcanvas--toggler svg {
			fill: #97979f;
		}

		.site-header__upload--link svg {
			fill: #fff;
		}

		.site-header__notification--link svg {
			fill: #fff;
		}

		.search-form .search-submit svg {
			fill: #656565;
		}

		.offcanvas-collapse {
			background-color: $vodi-theme-theme-bg;
		}

		.offcanvas-nav .sub-menu .menu-item > a,
		.offcanvas-nav .menu-item > a {
			color: $vodi-theme-offcanvas-submenu-text-color;
		}

		.site_header__primary-nav .menu-item-has-children > a::after {
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(255, 255, 255)"/></svg>') no-repeat;
		}
	}
}

.site__footer--v3 {
	&.light {
		background-color: $vodi-light-footer-bg;
    	color: $vodi-light-footer-text-color;

    	.footer-menu a {
    		color: $vodi-dark-theme-link-color;
    	}

    	.footer-social-icon {
			color: $vodi-light-social-icon;
		}

		.footer-menu > li + li:before {
			color: #bdbdbd;
		}

	}

	&.dark {
		background-color: $vodi-dark-footer-bg;
    	color: $vodi-dark-footer-text-color;

    	.footer-menu a {
    		color: $vodi-dark-theme-link-color;
    	}

    	.footer-social-icon {
			color: $vodi-dark-social-icon;
		}

		.footer-menu > li + li:before {
			color: #394a52;
		}

		.social-icons {
			.fa-inverse {
				color: $vodi-dark-theme-bg;
			}
		}
	}
}


.site__footer--v1 {
	&.light {
		background-color: $vodi-light-footer-bg;
		color: $vodi-light-footer-text-color;

		.site-info,
		.policy-info a {
			color: #a6a6a6;
		}

		.footer-widgets,
		.recentcomments + .recentcomments,
		.widget_recent_entries ul > li + li,
		.widget_rss ul > li + li {
			border-top: 1px solid #cdcdcd;
		}

		.footer-bottom-bar {
			background-color: $vodi-light-header-bg-color;
		}

		li > a {
			color: $vodi-light-footer-v1-text-color;

			&:hover {
				color: $vodi-light-footer-title-color;
			}
		}

		i {
			color: #555f64;
		}

		.footer-widgets .widget-title,
		.footer-widgets .widget-title .rsswidget {
			color: $vodi-light-footer-title-color;
		}

		.footer-widgets-inner.col-3 .footer-widget-3{
			box-shadow: -7px -1px 0px -6px #cdcdcd;
		}

		select {
			background-color: transparent;
			border: 1px solid #cdcdcd;
			background-image: linear-gradient(45deg, transparent 50%, #000), linear-gradient(135deg, #000, transparent 50%);
		}

		.calendar_wrap table th,
		.calendar_wrap table td {
			border: 1px solid #cdcdcd;
		}

		.search-form .search-field:focus {
			background-color: transparent;
		}

		p,
		.rssSummary {
			color: $vodi-light-footer-v1-text-color;
		}
	}

	&.dark {

		background-color: $vodi-dark-footer-v1-bg;
		color: $vodi-dark-footer-text-color;

		.site-info,
		.policy-info a {
			color: #494d58;
		}

		.footer-widgets,
		.recentcomments + .recentcomments,
		.widget_recent_entries ul > li + li,
		.widget_rss ul > li + li  {
			border-top: 1px solid #2d323f;
		}

		.footer-bottom-bar {
			background-color: $vodi-dark-footer-bottom-bg;
		}

		li > a {
			color: $vodi-dark-footer-v1-link-color;

			&:hover {
				color: $vodi-dark-footer-title-color;
			}
		}

		i {
			color: $vodi-dark-footer-title-color;
		}

		.footer-widgets .widget-title,
		.footer-widgets .widget-title .rsswidget {
			color: $vodi-dark-footer-title-color;
		}

		.footer-widgets-inner.col-3 .footer-widget-3{
			box-shadow: -7px -1px 0 -6px #2d323f;
		}

		select {
			border-color: $vodi-dark-search-form-color;
			background: $vodi-dark-search-form-color;
		}

		.widget_rss .rss-date,
		.widget_rss cite,
		.widget_rss .post-date,
		.widget_recent_entries .rss-date,
		.widget_recent_entries cite,
		.widget_recent_entries .post-date,
		.recentcomments .comment-author-link > a,
		.wp-caption .wp-caption-text,
		.widget_rss .rss-date:before, .widget_recent_entries .rss-date:before {
			color: $vodi-dark-footer-v1-link-color;
		}

		.search-form .search-field,
		.search-form .search-field:focus {
			border-color: $vodi-dark-search-form-color;
			background: $vodi-dark-search-form-color;
		}

		.search-form .search-submit svg {
			fill: $vodi-dark-theme-link-color;
		}

		.calendar_wrap table th,
		.calendar_wrap table td {
			border: 1px solid #2d323f;
		}
	}
}

.page-template-template-homepage-v6,
.page-template-template-homepage-v7 {
	.content-area {
		&.light {
			&:before {
				background: #fff;
			}
		}

		&.dark {
			&:before {
				background: #131621;
			}

			.page-control-bar-bottom {

				ul.page-numbers{
				 	> li {

				 		> span.current {
							color: #000;
						}

						> a {
							color: #b4bbc0;
							background-color: #373c49;

							// @include hover-focus() {
							// 	background-color: #2a2e38;
							// }
						}
				 	}

				 	> li:last-child a {
				 		color: #fff;
				 	}
				}
			}

			.vodi-control-bar select, .form-vodi-wc-ppp select, .page-control-bar-bottom select {
				color: #808b90;
			}

			.vodi-control-bar .videos-type li a {
				color: #e8e7e7;
			}
		}
	}

	.home-sidebar-area {
		&.dark {
			&:before {
				background: #1c212e;
			}
		}

		&.light {
			&:before {
				background: #f6f7f9;
			}
		}
	}

	.home-section {
		width: 100%;
		margin-left: 0;
		.container {
			padding: 0;
		}
	}
}

.light {
	.section-title, .comments-title, .comment-respond .comment-reply-title {
		color: #121a21;

		&:after {
			background: #e8e8e8;
		}
	}

	.movie__title {
		color: #000;
	}

	.home-section.style-2 {
		.movie__title {
			color: #fff;
		}
	}

	.vodi-control-bar select, .form-vodi-wc-ppp select, .page-control-bar-bottom select{
		color: #707070;
	}

	.vodi-control-bar .videos-type li a {
		color: #707070;
	}

	.page-control-bar-bottom .masvideos-result-count {
		color: #707070;
	}

	.page-control-bar-bottom{
		border-top: 1px solid #e8e8e8;
	}

	.style-2 .section_title {
        color: $vodi-light-title-color;
        border-bottom: 1px solid #d0d0d2;
    }

    .vodi-archive-wrapper[data-view="list-large"],
	.vodi-archive-wrapper[data-view="list-small"],
	.vodi-archive-wrapper[data-view="list"] {
		.movie {
			+ .movie {
	            border-top: 1px solid #e8e8e8;
	        }
		}
	}

	.vodi-archive-wrapper[data-view="list"] .movie:nth-child(odd) .movie__body,
	.vodi-archive-wrapper[data-view="list"] .movie:nth-child(odd) .video__body,
	.vodi-archive-wrapper[data-view="list"] .video:nth-child(odd) .movie__body,
	.vodi-archive-wrapper[data-view="list"] .video:nth-child(odd) .video__body {
		border-right: 1px solid #e8e8e8;
	}

	.movie .avg-rating-number {
		color: #fff;
	}

}

.dark {
	.section-title, .comments-title, .comment-respond .comment-reply-title {
		color: #ffffff;

		&:after {
			background: #2a2e3c;
		}
	}

	&.style-2 .video__title {
		color: #fff;
	}

	.movie__title {
		color: #fff;
	}

	.vodi-control-bar select, .form-vodi-wc-ppp select, .page-control-bar-bottom select {
		color: #fff;
	}

	.vodi-control-bar .videos-type li a {
		color: #fff;
	}

	.page-control-bar-bottom .masvideos-result-count {
		color: #808b90;
	}

	.page-control-bar-bottom {
		border-top: 1px solid #2a2e3c;
	}

    .style-2 .section_title {
        color: $vodi-dark-title-color;
        border-bottom: 1px solid #2a2e3c;
    }

    .vodi-archive-wrapper[data-view="list-large"],
	.vodi-archive-wrapper[data-view="list-small"],
	.vodi-archive-wrapper[data-view="list"] {
		.movie {
			+ .movie {
	            border-top: 1px solid #2f2f33;
	        }
		}
	}

	.movie .avg-rating-number {
		color: #b4bbc0;
	}

	.widget-area .widget_categories ul li a {
		color: #b4bbc0;
	}

	.widget-area .widget-title {
		color: #fff;
		border-bottom-color: #2f2f33;
	}
}

.page-template-category-template,
.page-template-category-tvshows-template,
.page-template-category-video-template {
	.dark {
		background-color: #131722;
	}
}

.page-template-category-template,
.page-template-category-tvshows-template {
	.site-content {
		background-color: #131722;
	}

	.widget-area .widget_categories ul li a {
		color: #b4bbc0;
	}

	.widget-area-inner {
		background: #1c212e;
	}

	.widget-area .widget-title {
		color: #fff;
		border-bottom-color: #2f2f33;
	}
}
