.header-v2 {	
	padding-top: 20px;
	z-index: 1;
	padding-bottom: 20px;

	.site-header {
		&__inner {
			align-items: flex-start;
		}

		&__offcanvas--toggler {
			padding: 8px 25px 7px 18px;
		}

		&__logo {
			@include make-auto-width-col();

			a {
				display: block;
			}
		}

		&__search-outer {
        	@include make-auto-col();
        	padding: 0 60px;
		}

		&__search {
			padding: 0;
		}

		&__header-icons {
			@include make-auto-width-col();
			display: flex;
			padding-top: 8px;
		}
	}

	.site_header__primary-nav {
		padding: 0;

		.nav {
			> li:first-child {
				a {
					padding-left: 0;
				}
			}
		}
	}

	& + .site-content {
		.page__header {
			position: relative;
			background-color: #000;
			padding-top: 150px;
	    	margin-top: -175px;
	    }
	}	
}

.site-header {
	&.header-v2 {
		box-shadow: none;
	}
}

