.movies__inner {
    @include make-row(25px);
}

.movies__inner > .movie {
    @include make-col-ready(25px);
}

.columns-5 .movies__inner > .movie,
.columns-7 .movies__inner > .movie {
    @include media-breakpoint-up(sm) {
        @include make-col(4);
    }

    @include media-breakpoint-up(md) {
        @include make-col(2.4);

        .movie__meta {
            font-size: 10px;
        }

        .movie__title {
            font-size: 12px;
        }
    }

    @include media-breakpoint-up(lg) {
        .movie__meta {
            font-size: 12px;
        }

        .movie__title {
            font-size: 14px;
        }
    }
}

.columns-7 .movies__inner > .movie {
    @include media-breakpoint-up(xl) {
        @include make-col(1.71428571429);
    }
}

.movies-carousel {
    &__inner {
        .movies__inner {
            margin: 0;
        }
    }
}

.columns-1 .movies__inner > .movie {
    @include media-breakpoint-up(xxl) {
        @include make-col(12);
    }
}

.columns-1 > .movie {
    @include media-breakpoint-up(md) {
        @include make-col(12);
    }
}

.columns-2 .movies__inner > .movie {
    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }
}

.columns-2 > .movie {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }
}

.columns-3 > .movie,
.columns-3 .movies__inner > .movie {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }
}

.columns-4 > .movie,
.columns-4 .movies__inner > .movie {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(3);
    }
}

.columns-5 .movies__inner > .movie {
    @include media-breakpoint-up(xxl) {
        @include make-col(2.4);
    }
}

.columns-5 > .movie {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(2.4);
    }
}

.columns-6 > .movie,
.columns-6 .movies__inner > .movie {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(2);
    }
}

.vodi-archive-wrapper[data-view="list-small"],
.vodi-archive-wrapper[data-view="list-large"] {
    .columns-2,
    .columns-3,
    .columns-4,
    .columns-5,
    .columns-6,
    .columns-7 {
        .movies__inner > .movie {
            @include media-breakpoint-up(md) {
                @include make-col(12);
            }
        }
    }
}

.vodi-archive-wrapper[data-view="list"] {
    .columns-2,
    .columns-3,
    .columns-4,
    .columns-5,
    .columns-6,
    .columns-7 {
        .movies__inner > .movie {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }
        }
    }
}
