form.comment-form .logged-in-as a,
.comment-respond .comment-reply-title a:hover,
.vodi-related-articles .header-aside a:hover,
.home-section__flex-header ul.nav li a.active,
.section-featured-tv-show .featured-tv-show__videos .nav-link:hover,
.section-featured-tv-show .featured-tv-show__videos .nav-link.active,
.home-section .home-section__nav-header .nav-link:hover,
.home-section .home-section__nav-header .nav-link.active,
.home-section.dark .home-section__action-link:hover,
.home-section.dark .home-section__footer-action--link:hover,
.section-videos-live-coming-soon .live-video__title a:hover,
.section-videos-live-coming-soon .coming-soon-video__title a:hover,
.event-category-list__inner:hover .event-category-title,
.section-featured-movies-carousel ul.nav .nav-item .nav-link.active,
.section-featured-movies-carousel ul.nav .nav-item .nav-link:hover,
.home-sidebar-area .widget ul.menu li a:hover,
.home-sidebar-area .widget:last-child ul.menu li a:hover:before,
.section-live-game-players-list .live-game-player__social-network-page-link:hover,
.section-live-game-players-list .live-game-player__name a:hover,
.section-live-game-players-list .live-game-player .game-now-playing,
.dark .article .entry-title a:hover,
.dark .article .article__excerp:hover,
.dark .article .article__meta > *:not(.article__categories):hover,
.dark .article .article__meta > *:not(.article__categories) a:hover,
.home-blog-sidebar-section.dark header .header-aside > a:hover,
.home-blog-sidebar-section.dark .widget .entry-title a:hover,
.home-blog-sidebar-section.dark .widget .recentcomments a:hover,
.home-blog-sidebar-section.dark .widget .widget-header .header-aside > a:hover,
.home-blog-sidebar-section.dark .widget .entry-meta > *:not(.entry-categories) a:hover,
.dark .movie__actions .movie-actions--link_add-to-playlist:hover,
.section-movies-list ul.nav li a.active {
  color: #24baef; }

.site-header.dark .search-form .search-field:focus,
.dark .section-movies-carousel-2__carousel .slick-arrow:hover,
.dark .section-movies-carousel__carousel .slick-arrow:hover,
.dark .section-videos-carousel__carousel .slick-arrow:hover {
  border-color: #24baef; }

.video__badge,
.movie__badge,
.dark .section-movies-carousel-2__carousel .slick-arrow:hover,
.vodi-control-bar .videos-view-switcher .nav-item a:hover,
.vodi-control-bar .archive-view-switcher .nav-item a:hover,
.vodi-control-bar .videos-view-switcher .nav-item a.active,
.vodi-control-bar .archive-view-switcher .nav-item a.active,
.dark .section-movies-carousel__carousel .slick-arrow:hover,
.dark .section-videos-carousel__carousel .slick-arrow:hover {
  background-color: #24baef; }

.slider-movie .movie-actions--link_watch,
.section-featured-video .featured-video__content-action--link_watch,
.about-movie .movie-detail .movie-tab__content-action--link_watch,
.featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch,
.section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch {
  color: #fff;
  background-color: #24baef;
  border-color: #24baef; }
  .slider-movie .movie-actions--link_watch:hover,
  .section-featured-video .featured-video__content-action--link_watch:hover,
  .about-movie .movie-detail .movie-tab__content-action--link_watch:hover,
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch:hover,
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch:hover {
    color: #fff;
    background-color: #0f9ed1;
    border-color: #0f9ed1; }
  .slider-movie .movie-actions--link_watch:focus, .slider-movie .movie-actions--link_watch.focus,
  .section-featured-video .featured-video__content-action--link_watch:focus,
  .section-featured-video .featured-video__content-action--link_watch.focus,
  .about-movie .movie-detail .movie-tab__content-action--link_watch:focus,
  .about-movie .movie-detail .movie-tab__content-action--link_watch.focus,
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch:focus,
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch.focus,
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch:focus,
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch.focus {
    box-shadow: 0 0 0 0.2rem rgba(36, 186, 239, 0.5); }
  .slider-movie .movie-actions--link_watch.disabled, .slider-movie .movie-actions--link_watch:disabled,
  .section-featured-video .featured-video__content-action--link_watch.disabled,
  .section-featured-video .featured-video__content-action--link_watch:disabled,
  .about-movie .movie-detail .movie-tab__content-action--link_watch.disabled,
  .about-movie .movie-detail .movie-tab__content-action--link_watch:disabled,
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch.disabled,
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch:disabled,
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch.disabled,
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch:disabled {
    color: #fff;
    background-color: #24baef;
    border-color: #24baef; }
  .slider-movie .movie-actions--link_watch:not(:disabled):not(.disabled):active, .slider-movie .movie-actions--link_watch:not(:disabled):not(.disabled).active,
  .show > .slider-movie .movie-actions--link_watch.dropdown-toggle,
  .section-featured-video .featured-video__content-action--link_watch:not(:disabled):not(.disabled):active,
  .section-featured-video .featured-video__content-action--link_watch:not(:disabled):not(.disabled).active,
  .show >
  .section-featured-video .featured-video__content-action--link_watch.dropdown-toggle,
  .about-movie .movie-detail .movie-tab__content-action--link_watch:not(:disabled):not(.disabled):active,
  .about-movie .movie-detail .movie-tab__content-action--link_watch:not(:disabled):not(.disabled).active,
  .show >
  .about-movie .movie-detail .movie-tab__content-action--link_watch.dropdown-toggle,
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch:not(:disabled):not(.disabled):active,
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch:not(:disabled):not(.disabled).active,
  .show >
  .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch.dropdown-toggle,
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch:not(:disabled):not(.disabled):active,
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch:not(:disabled):not(.disabled).active,
  .show >
  .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch.dropdown-toggle {
    color: #fff;
    background-color: #0f9ed1;
    border-color: #0e95c5; }
    .slider-movie .movie-actions--link_watch:not(:disabled):not(.disabled):active:focus, .slider-movie .movie-actions--link_watch:not(:disabled):not(.disabled).active:focus,
    .show > .slider-movie .movie-actions--link_watch.dropdown-toggle:focus,
    .section-featured-video .featured-video__content-action--link_watch:not(:disabled):not(.disabled):active:focus,
    .section-featured-video .featured-video__content-action--link_watch:not(:disabled):not(.disabled).active:focus,
    .show >
    .section-featured-video .featured-video__content-action--link_watch.dropdown-toggle:focus,
    .about-movie .movie-detail .movie-tab__content-action--link_watch:not(:disabled):not(.disabled):active:focus,
    .about-movie .movie-detail .movie-tab__content-action--link_watch:not(:disabled):not(.disabled).active:focus,
    .show >
    .about-movie .movie-detail .movie-tab__content-action--link_watch.dropdown-toggle:focus,
    .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch:not(:disabled):not(.disabled):active:focus,
    .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch:not(:disabled):not(.disabled).active:focus,
    .show >
    .featured-tv-shows__inner .movie-info .movie-tab__content-action--link_watch.dropdown-toggle:focus,
    .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch:not(:disabled):not(.disabled):active:focus,
    .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch:not(:disabled):not(.disabled).active:focus,
    .show >
    .section-movies-list .featured-with-list-view-movies-list__info .featured-movie .movie .movie-actions--link_watch.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(36, 186, 239, 0.5); }

/*# sourceMappingURL=blue.css.map */