// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.home-blog-list-section {
    .articles {
        display: flex;
        flex-direction: column;

        .article {
            &.format-audio,
            &.vodi-sticky {
                flex-direction: column;
                align-items: flex-start;

                .article__summary,
                .article__attachment {
                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .article__attachment {
                    margin-bottom: 23px;
                    margin-right: 0;
                    width: 100%;
                }
            }

            &.vodi-sticky {
                order: -1;
            }

            .article__attachment {
                @include make-col(3.1);
            }
        }
    }

    &.enable-divider {
        .articles {
            .article {
                padding-bottom: 19px;
                margin-bottom: 19px;
                border-bottom: 1px solid #e8e8e8;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    &.style-2 {
        .articles {
            counter-reset: vodi-post-counter;
            .article {
                margin-bottom: 10px;

                .article__title {
                    font-size: 17px;
                    line-height: 21px;
                    letter-spacing: -0.025em;
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;

                    &:before {
                        content: counter(vodi-post-counter);
                        counter-increment: vodi-post-counter;
                        border-radius: 50%;
                        width: 34px;
                        border: 1px solid #a2abaf;
                        padding: 5.5px 0;
                        margin-right: 13px;
                        display: inline-block;
                        text-align: center;
                    }
                }

                &.vodi-sticky {
                    order: 0;
                }
            }
        }
    }
}
