.comments-area {
    margin-bottom: 40px;
}

.comment-list,
.commentlist {
    @include list-unstyled();

    .children {
        @include list-unstyled();
        padding-left: 100px;
    }

    .avatar {
        width: 50px;
        height: 50px;
    }
}

.comment-body {
    display: flex;
}

.comment-author-gravatar {
    position: relative;
    margin-right: 18px;
}

.comment-meta-and-content {
    flex: 1;
    font-size: 14px;
    line-height: 26px;
}

.comment-meta {
    display: flex;
    align-items: center;

    > * {
        margin-right: 8px;
    }
}

.comments-title {
    margin-bottom: 37px;
}

.comment-text {
    color: $vodi-title-color;
    word-break: break-word;

    > *:last-child {
        margin-bottom: 0;
    }

    table {
        @include make-table();
    }

    ul, ol {
        margin-bottom: 1rem;
    }
}

.avatar {
    border-radius: 50%;
    display: block;
}

.comment-author-name {
    font-weight: $os-bold;
    color: $vodi-title-color;
    font-style: normal;

    a {
        color: $vodi-title-color;
    }

}

.comment-date {
    color: $pagination-color;
    font-weight: 400;
}

.comment-content {
    margin-bottom: 20px;

    .reply {
        a {
            color: $pagination-color;
            font-size: 12px;
            letter-spacing: -0.01em;

            &.comment-reply-link,
            &.comment-edit-link {
                &:before {
                    font-family: "Font Awesome 5 free";
                    margin-right: 7px;
                }
            }

            &.comment-reply-link {
                &:before {
                    content: "\f3e5";
                    font-weight: 800;

                }
            }

            &.comment-edit-link {
                margin-left: 10px;

                &:before {
                    content: "\f044";
                    font-weight: 600;

                }
            }
        }
    }
}

.comment-respond .comment-reply-title {

    a {
        color: $pagination-color;
    }

    small {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 10px;
        transform: translateY(-50%);
        z-index: 1000;
        background: #fff;
        font-size: 59%;
        line-height: 18px;
        font-family: $ms;
        font-weight: $ms-medium;
        padding-left: 11px;
    }
}

.comment-text {
    h1, h2, h3, h4, h5, h6 {
        font-weight: $ms-semi-bold;
        margin: 0.75em 0;
    }

    h1 { font-size: 26px; }
    h2 { font-size: 24px; }
    h3 { font-size: 22px; }
    h4 { font-size: 20px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }
}