.container-fluid,
.container {
    @include make-container();
    max-width: 1486px;
    @include media-breakpoint-up(md) {
	    padding-left: 38px;
	    padding-right: 38px;
	}
}

.row,
.site-content__inner,
.gallery,
.home-section__movies__inner,
.section-movies-carousel__inner,
.section-movies-list,
.grid-movie-list,
.videos-list,
.section-featured-video__inner,
.videos-with-featured-video__1-6-column,
.videos-with-featured-video__1-8-column,
.videos-with-featured-video__1-10-column,
.videos-with-featured-video__1-12-column,
.home-section__videos__inner,
.section-videos-carousel__inner,
.home-blog-sidebar-section__inner,
.blog-section-3-with-sidebar__blog-section-3-content,
.section-feature-post__inner,
.section-videos-live-coming-soon__inner,
.vodi-event-category-list,
.brand-video-channel-carousel__inner,
.banner-with-section-videos__1-8-column,
.videos-with-featured-video__1-8-column,
.home-section-featured-tv-shows > .about-movie,
.featured-tv-shows__inner,
.vodi-archive-wrapper[data-view="list-large"] .movie,
.vodi-archive-wrapper[data-view="list-small"] .movie,
.vodi-archive-wrapper[data-view="list"],
.blog-grid-with-list-section,
.home-blog-grid-section .articles {
    @include make-row();

}

.sidebar-area,
.content-area,
.gallery,
.site-content__inner > .page__header,
.gallery > .gallery-item,
.home-section__movies__inner > .home-section__header,
.home-section__movies__inner .masmovies-movies,
.section-movies-carousel__inner > .section-movies-carousel__header,
.section-movies-carousel__inner > .section-movies-carousel__carousel,
.grid-movie-list .movie__list,
.section-featured-video__inner > .featured-video__content,
.section-featured-video__inner > .featured-video__action,
.videos-with-featured-video__1-6-column > .masvideos-videos,
.videos-list > .video,
.home-section__videos__inner > .home-section__header,
.home-section__videos__inner .masvideos-videos,
.section-videos-carousel__inner > .section-videos-carousel__header,
.section-videos-carousel__inner > .section-videos-carousel__carousel,
.section-feature-post__inner .article,
.section-videos-live-coming-soon__inner > .live-videos,
.section-videos-live-coming-soon__inner > .coming-soon-videos,
.brand-video-channel-carousel__inner .thumbnail,
.banner-with-section-videos__1-8-column > .masvideos,
.banner-with-section-videos__1-8-column > .masvideos,
.videos-with-featured-video__1-8-column > .masvideos,
.videos-with-featured-video__1-10-column > .masvideos,
.videos-with-featured-video__1-12-column > .masvideos,
.widget-area,.home-section-featured-tv-shows .about-movie,
.home-section-featured-tv-shows .about-movie > .movie-poster,
.home-section-featured-tv-shows .about-movie > .movie-detail,
.featured-tv-shows__inner .movie-poster,
.featured-tv-shows__inner .movie-info,
.vodi-archive-wrapper[data-view="list-large"] .movie__poster,
.vodi-archive-wrapper[data-view="list-small"] .movie__poster,
.vodi-archive-wrapper[data-view="list-large"] .movie__info,
.vodi-archive-wrapper[data-view="list-large"] .movie__review-info,
.vodi-archive-wrapper[data-view="list-small"] .movie__info,
.vodi-archive-wrapper[data-view="list-small"] .movie__review-info,
.vodi-archive-wrapper[data-view="list"] .video__info,
.vodi-archive-wrapper[data-view="list-large"] .video__info,
.vodi-archive-wrapper[data-view="list-large"] .video__review-info,
.vodi-archive-wrapper[data-view="list-large"] .video__container,
.vodi-archive-wrapper[data-view="list-small"] .video__info,
.vodi-archive-wrapper[data-view="list-small"] .video__review-info,
.vodi-archive-wrapper[data-view="list-small"] .video__container,
.hot-premier-show .movie,
.home-blog-grid-section .article,
.column {
    @include make-col-ready();
}
