figure,
img,
video {
    @include img-fluid();
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    margin-bottom: 1.5em;
    max-width: 100%;
}

/* Remove bottom on embeds that wrapped in paragraphs via wpautop. */

p > embed:only-child,
p > iframe:only-child,
p > object:only-child {
    margin-bottom: 0;
}

/**
 * Captions
 */
.wp-caption {
    max-width: 100%;

    img[class*='wp-image-'] {
        display: block;
        margin: 0 auto;
    }
    
    .wp-caption-text {
        font-size: 12px;
        line-height: 15px;
        color: #707070;
        text-align: center;
        margin-top: 8px;
    }
}

/**
 * Alignment
 */
.alignleft {
    display: inline;
    float: left;
    margin-right: 25px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 25px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}