// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.home-blog-grid-with-list-section {
    
    &__inner {
        padding: 61px 0 38px;

        .home-section__flex-header {
            margin-bottom: 20px;
        } 
    }
    
	.home-blog-sidebar-section__blog-section {
        @include make-col(12);

        @include media-breakpoint-up(lg) {
    	   @include make-col(8.5);
        }
    }

    .home-blog-sidebar-section__sidebar-section {

        @include media-breakpoint-up(lg) {
            @include make-col(3.5);
            padding-left: 54px;
        }

        .home-section__flex-header {
            margin-bottom: 17px;
        }  
    }

    .blog-grid-with-list-section {

    	&__article{
            &--grid {
                @include media-breakpoint-up(md) {
        		  @include make-col(5.8);
                }

                 .article {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &__title {
                        font-size: 22px;
                        line-height: 28px;
                    }

                    &__attachment {
                        max-width: 100%;
                        margin-right: 0;
                        margin-bottom: 22px;

                        &--thumbnail {
                            height: auto;
                        }
                    }
                 }
        	}

            &--list {
                @include media-breakpoint-up(md) {
                   @include make-col(6.2);
                }

                .article{
                    &__title {
                        font-size: 17px;
                        line-height: 21px;
                    }
                    &__attachment {
                        margin-right: 18px;
                    }
                }
            }
        }
    }
}

.home-blog-sidebar-section__sidebar-section {

    li > a {
        display: block !important;
    }
}

.home-section.blog-sidebar {

    .widget {
        margin-bottom: 0;
         
        &+ .widget  {
            margin-top: 41px;
        }
    }

    .widget-header {
        margin-bottom: 19px;
    }

    .home-blog-sidebar-section__sidebar-section-inner {
        @include media-breakpoint-up(xl) {
            padding-left: 42px;
        }       
    }

    .widget.tab-widget {
        margin-top: 51px;
    }
}

