// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.home-blog-grid-section {
    .articles {
        &.columns-2 .article {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }
        }

        &.columns-3 .article {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }

            @include media-breakpoint-up(xl) {
                @include make-col(4);
            }
        }

        &.columns-4 .article {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(4);
            }

            @include media-breakpoint-up(xl) {
                @include make-col(3);
            }
        }

        &.columns-5 .article {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(4);
            }
            
            @include media-breakpoint-up(xl) {
                @include make-col(2.4);
            }
        }

        &.columns-6 .article {
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(4);
            }
            
            @include media-breakpoint-up(xl) {
                @include make-col(2.4);
            }

            @include media-breakpoint-up(xl) {
                @include make-col(2);
            }
        }

        .article {
            display: block;

            .article__attachment {
                margin-bottom: 22px;
                margin-right: 0;
                width: 100%;
            }
        }

        &.columns-3 {
            .article {
                .article__title {
                    font-size: 17px;
                }

                .article__attachment {
                    margin-bottom: 20px;
                }
            }
        }

        &.columns-4,
        &.columns-5,
        &.columns-6 {
            .article {
                .article__title {
                    font-size: 15px;
                }

                .article__attachment {
                    margin-bottom: 17px;
                }
            }
        }
    }

    &.style-2 {
        .articles {
            margin-left: -17px;
            margin-right: -17px;
        }

        .article {
            text-align: center;
            padding-left: 17px;
            padding-right: 17px;

            &__categories {
                font-size: 13px;
                line-height: 18px;
                letter-spacing: -0.010em;
            }
        }
    }

    &.style-3 {
        .articles .article {
            position: relative;

            .article__attachment {
                margin-bottom: 0;
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.4) 40%, rgba(0,0,0,.1) 70%, rgba(0,0,0,0) 90%);
                    background-position: bottom;
                    background-repeat: no-repeat;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }

            &__summary {
                position: absolute;
                bottom: 0;
                left: 30px;
                right: 30px;
            }

            &__header {
                margin-bottom: 15px;
            }

            .article__title {
                font-size: 18px;
                line-height: 21px;
                letter-spacing: -0.01em;

                a {
                    color: #fff;

                    @include hover-focus() {
                        color: $vodi-primary-color;
                    }
                }
            }
        }
    }
}
