.banner-with-section-videos {
    padding: 56px 0 30px;
    &__1-8-column {
        .column-1 {
            @include media-breakpoint-up(xl) {
                @include make-col(2);
                padding-right: 12px;
            }

            .video {
                @include media-breakpoint-up(xl) {

                    &__episode {
                        margin-bottom: 2px;
                    }

                    &__poster--image {
                        height: 388px;
                        object-fit: cover;
                    }
                }
            }
        }

        > .column-4 {
            @include media-breakpoint-up(xl) {
                @include make-col(10);
                padding-left: 7.5px;
            }

            .videos__inner {
                @include make-row(15px);
            }

            .video {
                @include media-breakpoint-up(xl) {
                    @include make-col-ready(15px);
                    @include make-col(3);
                    padding-right: 13px;
                    margin-bottom: 9px;

                    &__episode {
                        margin-bottom: 2px;
                    }

                    &__poster--image {
                        height: 153px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .section-title__inner {
        display: inline-block;
    }

    .banner {
        text-align: center;;
        img {
            height: 324px;
            margin-bottom: 10px;
        }
    }

    .video {
        @include media-breakpoint-up(md){
            @include make-col-ready(15px);
            @include make-col(6);
        } 

        @include media-breakpoint-up(lg){
            @include make-col-ready(15px);
            @include make-col(4);
        }  
    }
}