.blog-section-2-with-sidebar {
	margin-bottom: 58px;
    padding-top: 78px;

    .home-blog-sidebar-section__inner {
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }

	.home-blog-sidebar-section__blog-section {

        @include media-breakpoint-up(lg) {
            @include make-col(8.5);

        }

        .featured {
            margin-bottom: 55px; 
        }

        .article {
            align-items: start;
        }

        .article__summary {
            @include media-breakpoint-up(lg) {
                padding-bottom: 10px;
                padding-bottom: 10px;
            }
        }

        .home-section__flex-header {
            margin-bottom: 20px;
        }    
	}

    .home-blog-sidebar-section__sidebar-section {

        @include media-breakpoint-up(lg) {
            @include make-col(3.5);
        }

        .home-section__title-tabs.section-title {
            &:after {
                content: none;
            }
        }
    }

    .home-blog-sidebar-section__sidebar-section-4-inner {
        
        .entry-title {

            @include media-breakpoint-down(lg){
                font-size: 14px;
            }
        }

        @include media-breakpoint-up(xl) {
            padding-right: 38px;
        }

        .entry-cats-list {

            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }
        }

        .entry-cats-list {
            @include media-breakpoint-down(lg) {
                font-size: 10px;
            }
        }

        .published {
            @include media-breakpoint-down(lg) {
                font-size: 9px;
            }
        }

        .article__meta {
            
            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }
        }
    }

    .home-blog-sidebar-section__blog-section.blog-section-4 {

        .featured {
            margin-bottom: 45px; 
        }

        .article__meta {

            @include media-breakpoint-down(lg) {
                font-size: 12px;
            }
        }
    } 

    .home-section__title-tabs {

        li {
            
            a {
                display: inline-block !important;
            }
        } 
    }

    .tab-content {

        .article {
            margin-bottom: 12px;
        }
        
        .article__attachment {
            
            margin-right: 15px;
        }

    }

    .vodi_posts_widget {

        .style-1 {

            ul li:first-child {
                padding-top: 0px;
            }
        }

        .style-2 {

            ul li .post-thumbnail {
                img {
                    width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }

                &:after {
                    background-size: cover;
                }
            }
        }

        &.tab-widget {
            .home-section__flex-header ul.nav {
                @include media-breakpoint-between(lg , xl) {
                    flex-wrap: nowrap;
                    overflow: auto;

                    .nav-item {
                        &+ .nav-item::before {
                            margin: 0 9px 0 11px;
                        }

                        a {
                            font-size: 20px;
                        }
                    }
                }
            }

            .article__attachment {
                flex: none;
            }
        }
    }

    .blog-section-4 {

        .article:last-child {
            margin: 0;
        }
    } 
}