.blog-section-1-with-sidebar {
    margin-bottom: 53px;

    .home-blog-sidebar-section__blog-section {

        @include media-breakpoint-up(lg) {
            @include make-col(7);
        }

        @include media-breakpoint-up(xl) {
            @include make-col(8.5);
        }

        .article__attachment {
            @include media-breakpoint-only(lg) {
                flex: none;
                max-width: 100%;
            }
        }
    }

    .home-blog-sidebar-section__sidebar-section {
        @include make-col(12);
        
        @include media-breakpoint-up(lg) {
            @include make-col(5);
        }

        @include media-breakpoint-up(xl) {
            @include make-col(3.5);
        }
    }

    .section-title {
        &:after {
            @include media-breakpoint-down(sm) {
                content: none;
            }
        }

        &__inner {
            display: inline-block;
        }

        &::after {
            margin-left: 15px;
        }

        &.home-section__title-tabs {
            @include media-breakpoint-between(lg , xl) {
                .nav-item {
                    &+ .nav-item::before {
                        margin: 0 9px 0 11px;
                    }

                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .widget-title {
        @include media-breakpoint-between(lg , xl) {
            font-size: 20px;
            line-height: 31px;
        }
    }

    .article {

        @include media-breakpoint-up(lg) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include media-breakpoint-up(xl) {
            flex-direction: row;
        }
    }

    .article__summary {

        @include media-breakpoint-up(lg) {
            padding-top: 20px;
        }
    }
}

.blog-section-2-with-sidebar,
.blog-section-3-with-sidebar,
.blog-section-4-with-sidebar,
.blog-section-5-with-sidebar {
    .home-blog-sidebar-section__sidebar-section {
        @include media-breakpoint-only(lg) {
            .widget-header {
                display: block;
                padding-left: 0;

                .widget-title {
                    margin-bottom: 22px;
                    
                    &:after {
                        content: none;
                    }
                }

                .header-aside a {
                    padding-left: 0;
                }
            }
        }
    }
}

.home-blog-sidebar-section {
    &.left-sidebar {
        @include media-breakpoint-up(lg) {
            .home-blog-sidebar-section__blog-section {
                order: 1;
            }
        }
    }

    &.dark {
        header .header-aside > a {
            color: #808b90;
        }

        .widget {
            .widget-title {
                color: $white;

                &:after {
                    background-color: #2a2e3c;
                }
            }

            .entry-title a {
                color: $white;
            }


            .widget-header .header-aside > a {
                color: #808b90;
            }

            .entry-meta > *:not(.entry-categories) a {
                color: #808b90;

                > * {
                    color: inherit;
                }
            }

            &.vodi_posts_widget .style-1 ul {
                li + li {
                    border-top-color: #2a2e3c;
                }
            }

            .recentcomments {
                color: #808b90;

                .comment-author-link a {
                    color: #808b90;
                }

                a {
                    color: $white;
                }

                &+ .recentcomments {
                    border-top-color: #2a2e3c;
                }
            }
        }
    }
}

.home-section {
    
    .article__attachment  {
        flex: none;
        height: auto;
        max-width: 100%; 

        @include media-breakpoint-between(md , lg) {
            @include make-col(4);
        }
    }

    .article {
        margin-bottom: 30px;

        .article__header {
            margin-bottom: 13px;
        }

        .entry-title {
            font-size: 18px;
            line-height: 24px;

            @include media-breakpoint-up(xl) {
                font-size: 22px;
                line-height: 28px;
            }

            margin-bottom: 4px;
        } 

        &__meta {

            > * + *:before {
                margin: 0;
            }
        }

        &__categories a {
            font-weight: $os-bold;
        }
    }

    .featured { 
        display: flex;
        flex-direction: column;

        .entry-title {
            font-size: 18px;

            @include media-breakpoint-up(md) {
                font-size: 22px;
            }
        }  

        .article__attachment {
            height: auto;
            max-width: 100%;
            margin-bottom: 14px;
            margin-right: 0;
        }
    }

    .home-section__title-tabs {
        .section-title__inner {
            display: inline-block;
        }

        @include media-breakpoint-between(lg , xl) {
            .nav-item {
                &+ .nav-item::before {
                    margin: 0 9px 0 11px;
                }

                a {
                    font-size: 20px;
                }
            }
        }

        .nav-item {
            margin: 0;

            a {
                @include media-breakpoint-down(md) {
                    font-size: 16px;
                }
                font-size: 24px;
                line-height: 18px;
                letter-spacing: -0.025em;
                font-weight: normal;
                display: inline-block;

                &.active {
                    font-weight: $ms-medium;
                }
            }
            
            + .nav-item {

                &:before {
                    content: '/';
                    margin: 0 18px 0 22px;
                    color: #e4e4e4;
                }    
            }    
        }

        .nav {
            padding: 0;

            @include media-breakpoint-down(md) {
                margin-left: 5px;
            }
        }
    }

    .tab-content {

        > .tab-pane {
            display: none;
        }

        > .active {
            display: block;
        }

        .article {
            margin-bottom: 24px;
        }
    }
}