.blog-section-3-with-sidebar {
	margin-bottom: 69px;

    .home-blog-sidebar-section__blog-section {
        @include make-col(12);
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            @include make-col(8.5);
            margin-bottom: 0;
        }
    } 

    .home-blog-sidebar-section__sidebar-section {
        
        @include media-breakpoint-up(lg) {
            @include make-col(3.5);
        }
    }

	.article {
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
        display: flex;
        flex-direction: column;
	}

    .article__attachment { 
        margin-right: 0;
        margin-bottom: 19px;

        @include media-breakpoint-up(md) {
            flex: none;
            max-width: 100%;
        }
    }

    .home-section__flex-header {
        margin-bottom: 20px;
    }
}