.home-section__videos {
    &__inner {
        padding: 50px 0 30px;

        > .home-section__header {
            &::before {
                @include media-breakpoint-up(md) {
                    margin-right: auto;
                    margin-left: auto;
                }

                @include media-breakpoint-up(xl) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            @include media-breakpoint-up(md) {
                text-align: center;
            }

            @include media-breakpoint-up(xl) {
                @include make-col(4);
                text-align: left;
            }

            @include media-breakpoint-up(xxl) {
                padding-right: 75px;
            }

            &::before {
                margin-bottom: 42px;
            }

            & + .masvideos-videos {
                @include media-breakpoint-up(xl) {
                    @include make-col(8);
                    padding-left: 7.5px;
                }
            }
        }

        .video {
            margin-bottom: 20px;
        }
    }

    &.column-5_6 {
        .home-section__videos__inner {
            > .home-section__header {
                @include media-breakpoint-up(xl) {
                    @include make-col(2);
                    padding-right: 9px;
                }

                &:before {
                    margin-bottom: 25px;
                }

                .home-section__title {
                    font-size: 24px;
                    font-weight: $ms-bold;
                    line-height: 30px;
                    margin-bottom: 16px;

                    span {
                        font-weight: $ms-medium;
                    }
                }
            }

            > .columns-5 {
                @include media-breakpoint-up(xl) {
                    @include make-col(10);
                }

                .videos__inner > .video {
                    @include media-breakpoint-up(md) {
                        @include make-col(6);
                    }

                    &:first-child {
                        @include media-breakpoint-between(md,lg) {
                            @include make-col(12);
                        }
                    }

                    @include media-breakpoint-up(xl) {
                        @include make-col(2.4);
                    }
                }
            }

            .video {
                &__title {
                    margin-bottom: 0.3rem;
                }

                &__episode {
                    display: none;
                }

                &__meta {
                    display: block;
                }

                &__duration {
                    display: block;
                }
            }
        }
    }
}