.home-section-newest-spisodes-block {
    &__inner{
        &-title {
            font-size: 22px;
            line-height: 18px;
            font-family: $ms-medium;
            padding-bottom: 16px;
            margin-bottom: 0;
        }
    }
}

.vodi-control-bar,
.form-vodi-wc-ppp,
.form-masviseos-mpp {
    select {
        border: none;
        background: 0 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: right 4px center;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>');
        -webkit-appearance: none;

        &:not([size]):not([multiple]) {
            height: auto;
        }
    }
}

.vodi-control-bar {
    justify-content: space-between;
    display: flex;
    padding: 7px 0;
    width: 100%;
    //margin-bottom: 13px;

    &__left,
    &__right {
        display: flex;
        align-items: center;
        flex: 0 0 auto;

        span {
            font-size: 14px;
            line-height: 14px;
            font-family: $ms-medium;
            color: #707070;
        }
    }

    &__right {
        .form-vodi-masviseos-mpp {
            margin-right: 16px;
        }
    }



    form.woocommerce-ordering {
        position: relative;
        margin-bottom: 0;

        &:before {
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17px" height="14px"><path fill="rgb(117, 117, 117)" d="M4.034,-0.001 C4.248,0.008 4.401,0.071 4.578,0.113 C4.699,0.294 4.899,0.408 4.967,0.644 C4.967,1.606 4.967,2.568 4.967,3.529 C4.967,5.971 4.967,8.414 4.967,10.856 C4.980,10.856 4.993,10.856 5.006,10.856 C5.641,10.223 6.276,9.590 6.911,8.958 C7.041,8.873 7.329,8.745 7.572,8.806 C7.930,8.896 8.016,9.121 8.233,9.337 C8.293,10.165 7.817,10.389 7.377,10.818 C6.639,11.539 5.900,12.260 5.161,12.982 C4.928,13.209 4.395,13.909 4.073,13.969 C3.952,13.787 3.760,13.663 3.606,13.513 C3.270,13.184 2.933,12.855 2.596,12.526 C2.052,11.982 1.507,11.438 0.963,10.894 C0.717,10.666 0.471,10.438 0.224,10.211 C0.148,10.109 0.119,9.993 0.030,9.907 C0.015,9.698 -0.048,9.490 0.069,9.337 C0.171,8.957 0.746,8.633 1.235,8.882 C1.922,9.540 2.609,10.198 3.296,10.856 C3.296,7.465 3.296,4.073 3.296,0.682 C3.358,0.600 3.351,0.467 3.412,0.378 C3.511,0.234 3.714,0.158 3.840,0.037 C3.938,0.034 3.984,0.034 4.034,-0.001 ZM12.781,0.037 C12.820,0.037 12.859,0.037 12.898,0.037 C13.999,1.125 15.101,2.213 16.202,3.301 C16.427,3.522 17.287,4.153 16.902,4.668 C16.828,4.945 16.613,4.993 16.435,5.162 C16.280,5.174 16.124,5.187 15.969,5.200 C15.631,5.107 15.447,4.842 15.230,4.630 C14.712,4.137 14.193,3.643 13.675,3.150 C13.675,6.553 13.675,9.958 13.675,13.361 C13.514,13.560 13.485,13.804 13.209,13.893 C13.076,14.007 12.700,14.044 12.548,13.931 C11.760,13.719 12.004,12.233 12.004,11.273 C12.004,8.566 12.004,5.857 12.004,3.150 C11.991,3.150 11.978,3.150 11.965,3.150 C11.676,3.589 10.996,4.095 10.604,4.478 C10.404,4.673 10.198,4.996 9.943,5.123 C9.784,5.203 9.589,5.200 9.360,5.200 C9.238,5.102 9.043,5.080 8.932,4.972 C8.848,4.890 8.822,4.751 8.738,4.668 C8.699,3.730 9.312,3.462 9.827,2.960 C10.811,1.986 11.796,1.011 12.781,0.037 Z"/></svg>');
            //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>');
            //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"><image x="0px" y="0px" width="15" height="15" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiCQwSESc57yyFAAABJUlEQVQY01XNPUiUcQCA8d/9PZXADygUHJVAB0FxEOLdGgWDlqMxaAisRv86ybnJO+ii4CC4uAnibC0JF4KDSAUFpUFtUinoC+rdvQ4efjzrw8PTlMveJSvJduWoLHuSvE++VQ7Lst5kK+mpfAx45LFWMGTACGjRqysWAmou1IljZpyIsYSaqlqaB9fkmHTiqV+m3BBQl8vxQ6dx3X7e1wQ5Zn1R9ts0Cg0dB5V0eBXb0j/mXVpID+7WS1ose+0lgmqjy6+HwbBdq471o6DQ2FUFdYJ5z23KrN8e4wNvdHsWR4M5G3rEdPv2qGTCiv+WQnruq7++u0sf1uwYLKJVUfGe3vDCunaLAU2aG9egWSDd99ZDH8wG/HPoAmQOnIHP9nxKT68AlGJa8y/jPhcAAAAASUVORK5CYII=" /></svg>');
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        select {
            padding: 10px 20px 10px 30px;
        }
    }

    .videos-type {
        display: flex;
        align-items: center;
        padding-left: 37px;
        list-style: none;
        margin-bottom: 0;
        justify-content: space-between;

        li {
            a {
                position: relative;
                font-size: 14px;
                line-height: 14px;
                font-family: $ms-medium;
                display: flex;
                align-items: center;

                &:after {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    vertical-align: middle;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                    //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>');
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path d="M-0.000,18.000 L-0.000,-0.000 L18.000,-0.000 L18.000,18.000 L-0.000,18.000 ZM16.000,2.000 L2.000,2.000 L2.000,16.000 L16.000,16.000 L16.000,2.000 Z" fill="rgb(204, 204, 204)"/></svg>');
                }

                &.active,
                &:hover {
                    &:after {
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px"><path fill="rgb(36, 186, 239)" d="M-0.000,18.000 L-0.000,-0.000 L18.000,-0.000 L18.000,18.000 L-0.000,18.000 ZM13.388,5.216 C13.312,5.136 13.272,5.039 13.158,4.999 C11.202,7.087 9.246,9.176 7.291,11.263 C6.661,10.603 6.032,9.944 5.403,9.284 C5.250,9.121 5.098,8.958 4.944,8.796 C4.913,8.764 4.862,8.637 4.791,8.660 C4.723,8.742 4.655,8.823 4.587,8.904 C4.391,9.103 4.195,9.302 4.000,9.501 C4.073,9.726 4.708,10.281 4.893,10.477 C5.411,11.029 5.930,11.580 6.449,12.131 C6.709,12.408 6.950,12.759 7.265,12.972 C7.265,12.981 7.265,12.990 7.265,12.999 C7.274,12.999 7.282,12.999 7.291,12.999 C9.527,10.631 11.764,8.262 14.000,5.894 C13.932,5.680 13.542,5.380 13.388,5.216 Z"/></svg>');
                    }
                }
            }

            & + li {
                margin-left: 29px;
            }
        }
    }

    .videos-view-switcher,
    .archive-view-switcher {
        align-items: center;

        .nav-item {
            & + .nav-item {
                margin-left: 10px;
            }

            a {
                display: flex;
                padding: 5px 4px;
                border-radius: 3px;
            }
        }
    }

    .form-vodi-wc-ppp {
        margin-left: 40px;
        margin-bottom: 0;
    }

    .vodi-advanced-pagination {
        position: relative;
        margin-left: 24px;
        margin-bottom: 0;

        &:before {
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17px" height="14px"><path fill="rgb(117, 117, 117)" d="M4.034,-0.001 C4.248,0.008 4.401,0.071 4.578,0.113 C4.699,0.294 4.899,0.408 4.967,0.644 C4.967,1.606 4.967,2.568 4.967,3.529 C4.967,5.971 4.967,8.414 4.967,10.856 C4.980,10.856 4.993,10.856 5.006,10.856 C5.641,10.223 6.276,9.590 6.911,8.958 C7.041,8.873 7.329,8.745 7.572,8.806 C7.930,8.896 8.016,9.121 8.233,9.337 C8.293,10.165 7.817,10.389 7.377,10.818 C6.639,11.539 5.900,12.260 5.161,12.982 C4.928,13.209 4.395,13.909 4.073,13.969 C3.952,13.787 3.760,13.663 3.606,13.513 C3.270,13.184 2.933,12.855 2.596,12.526 C2.052,11.982 1.507,11.438 0.963,10.894 C0.717,10.666 0.471,10.438 0.224,10.211 C0.148,10.109 0.119,9.993 0.030,9.907 C0.015,9.698 -0.048,9.490 0.069,9.337 C0.171,8.957 0.746,8.633 1.235,8.882 C1.922,9.540 2.609,10.198 3.296,10.856 C3.296,7.465 3.296,4.073 3.296,0.682 C3.358,0.600 3.351,0.467 3.412,0.378 C3.511,0.234 3.714,0.158 3.840,0.037 C3.938,0.034 3.984,0.034 4.034,-0.001 ZM12.781,0.037 C12.820,0.037 12.859,0.037 12.898,0.037 C13.999,1.125 15.101,2.213 16.202,3.301 C16.427,3.522 17.287,4.153 16.902,4.668 C16.828,4.945 16.613,4.993 16.435,5.162 C16.280,5.174 16.124,5.187 15.969,5.200 C15.631,5.107 15.447,4.842 15.230,4.630 C14.712,4.137 14.193,3.643 13.675,3.150 C13.675,6.553 13.675,9.958 13.675,13.361 C13.514,13.560 13.485,13.804 13.209,13.893 C13.076,14.007 12.700,14.044 12.548,13.931 C11.760,13.719 12.004,12.233 12.004,11.273 C12.004,8.566 12.004,5.857 12.004,3.150 C11.991,3.150 11.978,3.150 11.965,3.150 C11.676,3.589 10.996,4.095 10.604,4.478 C10.404,4.673 10.198,4.996 9.943,5.123 C9.784,5.203 9.589,5.200 9.360,5.200 C9.238,5.102 9.043,5.080 8.932,4.972 C8.848,4.890 8.822,4.751 8.738,4.668 C8.699,3.730 9.312,3.462 9.827,2.960 C10.811,1.986 11.796,1.011 12.781,0.037 Z"/></svg>');
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        select {
            padding: 10px 20px 10px 30px;
        }
    }
}

.vodi-control-bar .videos-view-switcher .nav-item a svg path,
.vodi-control-bar .archive-view-switcher .nav-item a svg path {
    fill: #707070;
}

.vodi-control-bar .videos-view-switcher .nav-item a.active svg path,
.vodi-control-bar .archive-view-switcher .nav-item a.active svg path,
.vodi-control-bar .videos-view-switcher .nav-item a:hover svg path,
.vodi-control-bar .archive-view-switcher .nav-item a:hover svg path {
    fill: #fff;
}

.dark .vodi-control-bar .videos-view-switcher .nav-item a svg path,
.dark .vodi-control-bar .archive-view-switcher .nav-item a svg path {
    fill: #b4bbc0;
}

.dark .vodi-control-bar .videos-view-switcher .nav-item a.active svg path,
.dark .vodi-control-bar .archive-view-switcher .nav-item a.active svg path,
.dark .vodi-control-bar .videos-view-switcher .nav-item a:hover svg path,
.dark .vodi-control-bar .archive-view-switcher .nav-item a:hover svg path {
    fill: #131722;
}
