@import "home-title-with-tab-header";
@import "home-title-with-nav-header";

.home-section {
    @include stretch-full-width();

    .home-section {
        &__header {
            position: relative;

            &::before {
                content: '';
                width: 48px;
                background-color: #a8a8a83d;
                height: 1px;
                top: 0;
                margin-bottom: 23px;
                display: block;
            }
        }

        &__title {
            font-size: 32px;
            line-height: 38px;
            font-weight: $ms-semi-bold;
            color: $vodi-body-color;
            margin-bottom: 33px;
        }

        &__subtitle {
            line-height: 22px;
            color: #858585;
            font-weight: 500;
            font-family: $ms;
            margin-bottom: 24px;
        }

        &__action {
            border-top: 1px solid #acacac2b;
            padding: 14px 0;
        }

        &__footer-action {
            display: block;
            text-align: right;
        }

        &__action-link,
        &__footer-action--link {
            display: inline-block;
            font-family: $ms;
            font-size: 13px;
            font-weight: $ms-medium;
            text-transform: uppercase;
            color: #4f5668;

            &::after {
                display: inline-block;
                content: '';
                height: 1em;
                width: 12px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="7"><path d="M3.979,3.703 C3.987,3.785 3.966,3.869 3.903,3.934 L1.038,6.901 C0.921,7.023 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.011,6.203 0.128,6.082 L2.190,3.946 C2.276,3.829 2.356,3.691 2.356,3.548 C2.356,3.214 1.947,2.885 1.947,2.885 L1.963,2.877 L0.080,0.905 C-0.036,0.784 -0.029,0.592 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.867,-0.039 0.983,0.083 L3.823,3.057 C3.867,3.102 3.876,3.161 3.885,3.218 C3.945,3.267 3.988,3.334 3.988,3.416 L3.988,3.681 C3.988,3.690 3.979,3.694 3.979,3.703 Z" fill="rgb(79, 86, 104)"/></svg>');
                background-repeat: no-repeat;
                background-position: 100% 91%;
            }

            @include hover-focus() {
                &::after {
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="7"><path d="M3.979,3.703 C3.987,3.785 3.966,3.869 3.903,3.934 L1.038,6.901 C0.921,7.023 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.011,6.203 0.128,6.082 L2.190,3.946 C2.276,3.829 2.356,3.691 2.356,3.548 C2.356,3.214 1.947,2.885 1.947,2.885 L1.963,2.877 L0.080,0.905 C-0.036,0.784 -0.029,0.592 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.867,-0.039 0.983,0.083 L3.823,3.057 C3.867,3.102 3.876,3.161 3.885,3.218 C3.945,3.267 3.988,3.334 3.988,3.416 L3.988,3.681 C3.988,3.690 3.979,3.694 3.979,3.703 Z" fill="rgb(0, 86, 179)"/></svg>');
                }
            }
        }

        &__footer-action--link {
            @include hover-focus() {
                color: #0056b3;
            }
        }
    }

    .home-section__title-tabs {
        .section-title__inner {
            display: inline-block;
        }

        .nav.nav-tabs .nav-item {
            margin: 0;

            a {
                @include media-breakpoint-down(md) {
                    font-size: 16px;
                }
                font-size: 24px;
                line-height: 18px;
                letter-spacing: -0.025em;
                font-weight: normal;
                display: inline-block;

                &.active {
                    font-weight: $ms-medium;
                }
            }

            + .nav-item {
                &:before {
                    content: '/';
                    margin: 0 18px 0 22px;
                    color: #e4e4e4;
                }
            }
        }

        .nav.nav-tabs {
            padding: 0;

            @include media-breakpoint-down(md) {
                margin-left: 5px;
            }
        }

        @include media-breakpoint-between(lg , xl) {
            .nav.nav-tabs .nav-item {
                &+ .nav-item::before {
                    margin: 0 9px 0 11px;
                }

                a {
                    font-size: 20px;
                }
            }
        }
    }

    .tab-content {
        > .tab-pane {
            display: none;
        }

        > .active {
            display: block;
        }
    }

    &.dark {
        background-color: #131722;
    }

    &.more-dark {
        background-color: #0f131d;
    }

    &.less-dark {
        background-color: #1c212e;
    }

    &.light {
        background-color: #f5f5f5;
    }

    &.more-light {
        background-color: #fcfcfc;
    }

    &.dark,
    &.more-dark,
    &.less-dark {
        .home-section {
            &__title {
                color: $white;
            }

            &__subtitle {
                color: #949cb0;
            }

            &__action-link {
                @include hover-focus() {
                    &::after {
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="7"><path d="M3.979,3.703 C3.987,3.785 3.966,3.869 3.903,3.934 L1.038,6.901 C0.921,7.023 0.724,7.029 0.598,6.916 L0.143,6.506 C0.017,6.393 0.011,6.203 0.128,6.082 L2.190,3.946 C2.276,3.829 2.356,3.691 2.356,3.548 C2.356,3.214 1.947,2.885 1.947,2.885 L1.963,2.877 L0.080,0.905 C-0.036,0.784 -0.029,0.592 0.095,0.479 L0.547,0.068 C0.671,-0.045 0.867,-0.039 0.983,0.083 L3.823,3.057 C3.867,3.102 3.876,3.161 3.885,3.218 C3.945,3.267 3.988,3.334 3.988,3.416 L3.988,3.681 C3.988,3.690 3.979,3.694 3.979,3.703 Z" fill="rgb(36, 186, 239)"/></svg>');
                    }
                }
            }
        }
    }

    .widget-header {
        display: block;

        @include media-breakpoint-up(sm) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .widget-title {
            flex: 1;
            overflow: hidden;
            position: relative;
        }

        .header-aside a {
            font-size: 14px;
            line-height: 18px;
            color: #949494;
            font-weight: 500;

            @include media-breakpoint-up(sm) {
                padding-left: 8px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .section-title {
            &:after {
                content: none;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .widget-title {
            margin-bottom: 22px;

            &:after {
                content: none;
            }
        }
    }


    &__full-width-banner {
        margin-bottom: 55px;
    }

    .article {
        margin-bottom: 30px;

        .entry-title {
            font-size: 18px;
            line-height: 24px;

            @include media-breakpoint-up(xl) {
                font-size: 22px;
                line-height: 28px;
            }

            margin-bottom: 4px;
        }

        &__header {
            margin-bottom: 13px;
        }

        &__attachment  {
            flex: none;
            height: auto;
            max-width: 100%;

            @include media-breakpoint-between(md , lg) {
                @include make-col(4);
            }
        }

        &__meta {

            > * + *:before {
                margin: 0;
            }
        }

        &__categories a {
            font-weight: $os-bold;
        }
    }
}

.style-2 .home-section {
    .home-section {
        &__title {
            font-size: 22px;
            font-weight: 500;

            &:after {
                background-color: #2d323f;
            }
        }

        &__flex-header {
            margin-bottom: 19px;

            .nav {
                padding-left: 23px;

                li+li {
                    margin-left: 47px;
                }
            }
        }

        &__action {
            border-top: none;
            padding: 0;
            text-align: right;
            line-height: 1;

            a {
                font-size: 14px;
                text-transform: unset;
            }
        }
    }
}

.section-title {
    @include media-breakpoint-up(lg) {
        font-size: 24px;
    }

    font-size: 18px;
    line-height: 1.25;
    letter-spacing: -0.025em;
    font-weight: $ms-medium;
    color: #121a21;
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 22px;

    &:after {
        position: absolute;
        content: "";
        height: 1px;
        background-color: #e8e8e8;
        width: 100%;
        top: 50%;
    }
}

.style-2 {
    .section_title {
        font-size: 22px;
        line-height: 1.25;
        letter-spacing: -0.025em;
        font-weight: $ms-medium;
        // color: #ffffff;
        // border-bottom: 1px solid #2f2f33;
        padding-bottom: 12px;
        margin: 0;
    }
}
