.home-section-videos-with-featured-video {

    .home-section__flex-header {
        padding: 17px 0 4px 0;
    }

    .section-title__inner {
        display: inline-block;

        .nav {
            li + li {
                margin-left: 0;
            }

            a {
                font-size: 22px;

                &.active {
                    color:#fff;
                }
            }
        }
    }

    &.style-2 {

        .column-1 {
            padding-right: 12.5px;
        }

        .columns-3 {
            padding-right: 5px;

            .video {
                padding-right: 13px;
                margin-bottom: 9px;
            }
        }
    }

    margin-bottom: 0;
}