.home-section {
	.home-section {
		&__flex-header {
	        margin-bottom: 29px;
	        width: 100%;

	        @include media-breakpoint-up(md) {
	            display: flex ;
	            justify-content: space-between;
	            align-items: center;
	        }

	        .section-title {
	            @include media-breakpoint-up(md) {
	                flex: 1;
	                margin: 0;
	            }

	            &:after {
	                margin-left: 25px;
	            }
	        }

	        ul.nav {
	            flex-wrap: nowrap;
	            align-items: center;
	            overflow: auto;

	            @include media-breakpoint-up(md) {
	                padding-left: 15px;
	                flex-wrap: wrap;
	                overflow: initial;
	            }

		    	li {
		    		a {
		    			display: block;
		    			font-size: 14px;
		    			color: #949494;
		    			line-height: 18px;

		    			&.active {
		    				font-weight: $ms-bold;
		    			}
		    		}

		    		& + li {
		    			margin-left: 33px;
		    		}
		    	}
		    }

		    .header-aside a {
		    	font-size: 14px;
		    	line-height: 18px;
		    	color: #949494;
		    	font-weight: $ms-medium;
	            @include media-breakpoint-up(md) {
		    	   padding-left: 12px;
	            }
		    }
	    }
	}
}
