.home-sidebar-area {
	position:relative;
	z-index: 2;
    width: 100%;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		content: "";
		right: 0;
	}

    @include media-breakpoint-up(xl) {

        &:before {
            position: absolute;
            left: -500px;
            top: 0;
            bottom: 0;
            content: "";
            right: 0;
     }

    }

	.home-sidebar-area-inner {
		padding: 40px 15px 0 15px;
	}

	.widget-title {
		font-size: 18px;
		font-weight: $ms-medium;
		position: relative;
		display: block;
		padding-bottom: 13px;
		margin-bottom: 12px;
		padding-left: 0;
		border-width: 1px;
		border-bottom-style: solid;
        margin-left: 0;

	}

	.widget {
		&:first-child {
			.widget-title {
				&::after {
		            display: inline-block;
		            margin-left: 9px;
		            content: "";
		            width: 7px;
		            height: 6px;
		        }

		        &:before {
		        	display: inline-block;
		            margin-left: 9px;
		            content: "";
		            width: 7px;
		            height: 6px;
		            background: url('data:image/svg+xml;utf8,<svg xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="17px"><image x="0px" y="0px" width="21px" height="17px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAARCAMAAAAFWBeyAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACN1BMVEUqSZkqTJsqUJ4qVaEqWqUrYKkrZq0rbLIrc7Yrebsrf8ArhcQsi8gskMz///8qSZkqSZkqSZkqTJsqUJ4qVaEqWqUrYKkrZq0rbLIrc7Yrebsrf8ArhcQsi8gskMwslc8smdIsnNQsnNQsnNQqSZkqSZkqSZkqTJsqUJ4qVaEqWqUrYKkrZq0rbLIrc7Yrebsrf8ArhcQsi8gskMwslc8smdIsnNQsnNQsnNQqSZksnNQsnNQqSZkqSZkqWqUrYKkrZq0rbLIsnNQsnNQqWqUrYKkrbLIrc7YrebsqWqUrZq0rbLIrebsrf8ArYKkrZq0rc7Yrebsrf8ArhcQsi8grZq0rc7YrebsrhcQsi8grYKkrZq0rbLIrc7Yrf8ArhcQrYKkrc7YrebsqWqUrYKkrZq0rbLIqSZkqSZkrYKksnNQsnNQqSZkqSZkqSZkqTJsqUJ4qVaEqWqUrYKkrZq0rbLIrc7Yrebsrf8ArhcQsi8gskMwslc8smdIsnNQsnNQsnNQqSZksnNQsnNQqSZkqSZkqTJsqUJ4qVaEqWqUrYKkrZq0rbLIrc7Yrebsrf8ArhcQsi8gskMwslc8smdIsnNQsnNQqVaEqWqUrYKkrZq0rbLIrc7Yrebsrf8ArhcQsi8gskMwqVaEqWqUrZq0rbLIrc7Yrebsrf8ArhcQskMwrZq0rc7Yrf8ArbLIqSZkqTJsqUJ4qVaEqWqUrYKkrebsrhcQsi8gskMwslc8smdIsnNT///8aNcLmAAAAq3RSTlMAAAAAAAAAAAAAAAAAAAAyyvLy8vLy8vLy8vLy8vLy8vLy0kDN4IGAgICAfn+AgICAgICAgICA1NuCafXuhgi4lhdu8RHx7mgDEJeky0D5cEXN/psFdRepygj1gnH5cwrunB0K18E68YAHZ/Tex09OTk5OSUxOTk5OTk5OTk5Otuns82EULCwsJxwcHBwcHBwcHCYsLCwYHnh3d3d3d3d3eCpJ8fHx8fHx8V/RKlM7AAAAAWJLR0QOb70wTwAAAAd0SU1FB+IJDgszOKqrNyQAAAEGSURBVBjTY+AXEBQSFhEVE5eQlJKWkZWTV1BUUmZQUVVT19DU0tbR1dM3MDQyNjE1M7dgELRkYGRiZmFlY+fg5OLm4eXj47OyZrCxBYna2Ts4wkWdnKGiLq6r3dw90EU9xby81/j4oov6+bMHBAYFh6CJhrKHha+NiEQVjYqOiZWKi0ezLWH1usQkdNuSU1LTkF2WngH2RSaSL7KyGXJy8/ILCouKS0rLyisqq6prauvqGxjyGtdv2Lhp85bV69ZsXbtt+46du3Y3NTMwtLS2tXd0dnX39Pb1T5g4afKUqdP4GICAkWn6jJmzZs+ZO2/+goV8IAARXbTYdcnSZctXrJRdBRYFAObfVXM9GnbyAAAAAElFTkSuQmCC" /></svg>');
		        }
			}
		}

		&:last-child {
			ul.menu {
				li {
					a {
						padding: 2px 13px;
						position: relative;
						display: flex;
						align-items: center;

						&:before {
							content: "";
						    //font-family: "Font Awesome 5 free";
						    margin-right: 15px;
						    font-size: 18px;
						    text-rendering: auto;
						    -webkit-font-smoothing: antialiased;
						    vertical-align: top;
						    width: 18px;
						    height: 18px;
						    display: inline-block;
						    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18px" height="486px"><path fill-rule="evenodd" fill="rgb(180, 187, 192)" d="M-0.000,486.000 L-0.000,468.000 L18.000,468.000 L18.000,486.000 L-0.000,486.000 ZM16.000,470.000 L2.000,470.000 L2.000,484.000 L16.000,484.000 L16.000,470.000 ZM-0.000,442.000 L18.000,442.000 L18.000,460.000 L-0.000,460.000 L-0.000,442.000 ZM2.000,458.000 L16.000,458.000 L16.000,444.000 L2.000,444.000 L2.000,458.000 ZM-0.000,416.000 L18.000,416.000 L18.000,434.000 L-0.000,434.000 L-0.000,416.000 ZM2.000,432.000 L16.000,432.000 L16.000,418.000 L2.000,418.000 L2.000,432.000 ZM-0.000,390.000 L18.000,390.000 L18.000,408.000 L-0.000,408.000 L-0.000,390.000 ZM2.000,406.000 L16.000,406.000 L16.000,392.000 L2.000,392.000 L2.000,406.000 ZM-0.000,364.000 L18.000,364.000 L18.000,382.000 L-0.000,382.000 L-0.000,364.000 ZM2.000,380.000 L16.000,380.000 L16.000,366.000 L2.000,366.000 L2.000,380.000 ZM-0.000,338.000 L18.000,338.000 L18.000,356.000 L-0.000,356.000 L-0.000,338.000 ZM2.000,354.000 L16.000,354.000 L16.000,340.000 L2.000,340.000 L2.000,354.000 ZM-0.000,312.000 L18.000,312.000 L18.000,330.000 L-0.000,330.000 L-0.000,312.000 ZM2.000,328.000 L16.000,328.000 L16.000,314.000 L2.000,314.000 L2.000,328.000 ZM-0.000,286.000 L18.000,286.000 L18.000,304.000 L-0.000,304.000 L-0.000,286.000 ZM2.000,302.000 L16.000,302.000 L16.000,288.000 L2.000,288.000 L2.000,302.000 ZM-0.000,260.000 L18.000,260.000 L18.000,278.000 L-0.000,278.000 L-0.000,260.000 ZM2.000,276.000 L16.000,276.000 L16.000,262.000 L2.000,262.000 L2.000,276.000 ZM-0.000,234.000 L18.000,234.000 L18.000,252.000 L-0.000,252.000 L-0.000,234.000 ZM2.000,250.000 L16.000,250.000 L16.000,236.000 L2.000,236.000 L2.000,250.000 ZM-0.000,208.000 L18.000,208.000 L18.000,226.000 L-0.000,226.000 L-0.000,208.000 ZM2.000,224.000 L16.000,224.000 L16.000,210.000 L2.000,210.000 L2.000,224.000 ZM-0.000,182.000 L18.000,182.000 L18.000,200.000 L-0.000,200.000 L-0.000,182.000 ZM2.000,198.000 L16.000,198.000 L16.000,184.000 L2.000,184.000 L2.000,198.000 ZM-0.000,156.000 L18.000,156.000 L18.000,174.000 L-0.000,174.000 L-0.000,156.000 ZM2.000,172.000 L16.000,172.000 L16.000,158.000 L2.000,158.000 L2.000,172.000 ZM-0.000,130.000 L18.000,130.000 L18.000,148.000 L-0.000,148.000 L-0.000,130.000 ZM2.000,146.000 L16.000,146.000 L16.000,132.000 L2.000,132.000 L2.000,146.000 ZM-0.000,104.000 L18.000,104.000 L18.000,122.000 L-0.000,122.000 L-0.000,104.000 ZM2.000,120.000 L16.000,120.000 L16.000,106.000 L2.000,106.000 L2.000,120.000 ZM-0.000,78.000 L18.000,78.000 L18.000,96.000 L-0.000,96.000 L-0.000,78.000 ZM2.000,94.000 L16.000,94.000 L16.000,80.000 L2.000,80.000 L2.000,94.000 ZM-0.000,52.000 L18.000,52.000 L18.000,70.000 L-0.000,70.000 L-0.000,52.000 ZM2.000,68.000 L16.000,68.000 L16.000,54.000 L2.000,54.000 L2.000,68.000 ZM-0.000,26.000 L18.000,26.000 L18.000,44.000 L-0.000,44.000 L-0.000,26.000 ZM2.000,42.000 L16.000,42.000 L16.000,28.000 L2.000,28.000 L2.000,42.000 ZM-0.000,-0.000 L18.000,-0.000 L18.000,18.000 L-0.000,18.000 L-0.000,-0.000 ZM2.000,16.000 L16.000,16.000 L16.000,2.000 L2.000,2.000 L2.000,16.000 Z"/></svg>');
							//background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>') no-repeat;

						}

						&:hover {
							background: none !important;

							&:before {
								content: "";
								width: 18px;
								height: 18px;
								background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18px"><path fill="rgb(36, 186, 239)" d="M-0.000,18.000 L-0.000,-0.000 L18.000,-0.000 L18.000,18.000 L-0.000,18.000 ZM13.387,5.216 C13.312,5.136 13.272,5.039 13.158,4.999 C11.202,7.087 9.246,9.176 7.291,11.263 C6.661,10.603 6.032,9.943 5.403,9.284 C5.249,9.121 5.098,8.958 4.944,8.796 C4.913,8.764 4.862,8.637 4.791,8.660 C4.722,8.742 4.654,8.823 4.586,8.904 C4.391,9.103 4.195,9.302 4.000,9.501 C4.073,9.726 4.708,10.281 4.893,10.477 C5.411,11.028 5.930,11.580 6.449,12.131 C6.709,12.408 6.949,12.758 7.265,12.972 C7.265,12.981 7.265,12.990 7.265,12.999 C7.273,12.999 7.282,12.999 7.291,12.999 C9.527,10.631 11.764,8.262 14.000,5.894 C13.932,5.679 13.542,5.380 13.387,5.216 Z"/></svg>')no-repeat;
								//font-family: "Font Awesome 5 free";
								font-weight: 800;
								display: inline-block;
							}
						}
					}

					&:first-child {
						a {
							padding-top: 15px;
						}
					}
				}
			}
		}

		&.widget_nav_menu {
			margin-bottom: 46px;
		}
	}

	.widget_categories {
		margin-bottom: 18px;
		border-width: 1px;
		border-bottom-style: solid;

		ul {
			padding: 0;
			list-style: none;

			.menu-item,
			.cat-item {

				&:before {
					content: none;
				}

				a {
					display: flex;
					align-items: center;
					font-size: 14px;
					line-height: 1.5;
					padding: 9px 0 9px 14px;

					i {
						color: $pagination-color;
						margin-right: 20px;
					}
				}
			}
		}
	}

	.widget_search {
		margin-bottom: 45px;
	}

	.search-form {
		position: relative;


		.search-field {
			border-radius: 3px;
			padding: 7px 26px 7px 42px;
			background: #fff;
		}

		.search-submit {
			display: none;
		}

		&:before {
			content:"";
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%);
			width: 18px;
			height: 18px;
			z-index: 10;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"><path d="M7 0C11-0.1 13.4 2.1 14.6 4.9 15.5 7.1 14.9 9.8 13.9 11.4 13.7 11.7 13.6 12 13.3 12.2 13.4 12.5 14.2 13.1 14.4 13.4 15.4 14.3 16.3 15.2 17.2 16.1 17.5 16.4 18.2 16.9 18 17.5 17.9 17.6 17.9 17.7 17.8 17.8 17.2 18.3 16.7 17.8 16.4 17.4 15.4 16.4 14.3 15.4 13.3 14.3 13 14.1 12.8 13.8 12.5 13.6 12.4 13.5 12.3 13.3 12.2 13.3 12 13.4 11.5 13.8 11.3 14 10.7 14.4 9.9 14.6 9.2 14.8 8.9 14.9 8.6 14.9 8.3 14.9 8 15 7.4 15.1 7.1 15 6.3 14.8 5.6 14.8 4.9 14.5 2.7 13.6 1.1 12.1 0.4 9.7 0 8.7-0.2 7.1 0.2 6 0.3 5.3 0.5 4.6 0.9 4 1.8 2.4 3 1.3 4.7 0.5 5.2 0.3 5.7 0.2 6.3 0.1 6.5 0 6.8 0.1 7 0ZM7.3 1.5C7.1 1.6 6.8 1.5 6.7 1.5 6.2 1.6 5.8 1.7 5.4 1.9 3.7 2.5 2.6 3.7 1.9 5.4 1.7 5.8 1.7 6.2 1.6 6.6 1.4 7.4 1.6 8.5 1.8 9.1 2.4 11.1 3.5 12.3 5.3 13 5.9 13.3 6.6 13.5 7.5 13.5 7.7 13.5 7.9 13.5 8.1 13.5 8.6 13.4 9.1 13.3 9.6 13.1 11.2 12.5 12.4 11.4 13.1 9.8 13.6 8.5 13.6 6.6 13.1 5.3 12.2 3.1 10.4 1.5 7.3 1.5Z" fill="rgb(124, 127, 130)" /></svg>') no-repeat;

		}
	}

	.widget {
		position: relative;

		ul.menu {
			padding: 0;
			list-style: none;

			li {
				a {
					display: block;
					font-size: 14px;
					padding: 6px 13px;
				}
			}
		}
	}


	&.dark {

		.widget-title {
			color: #fff;
			border-bottom-color: #3c414f;

			&:after {
				background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(232, 231, 231)"/></svg>') no-repeat;
			}
		}

		.widget_categories {
			border-bottom-color: #3c414f;

			ul {
				.menu-item,.cat-item {
					a {
						color: #e8e7e7;

					}
				}
			}
		}

		.search-form .search-field {
			color: #929294;
		}

		.widget ul.menu li a {
			color: #e7e7e7;

			&:hover {
				background: #252a37;
			}
		}

		.widget:last-child ul.menu li a:before {
			color: #808b90;
		}
	}

	&.light {
		.widget-title {
			color: $vodi-title-color;
			border-bottom-color: $input-border-color;

			&:after {
				background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>') no-repeat;
			}
		}

		.widget_categories {
			border-bottom-color: $input-border-color;

			ul {
				.menu-item,
				.cat-item {
					a {
						color: #303030;
					}
				}
			}
		}

		.search-form .search-field {
			color: #929294;
		}

		.widget ul.menu li a {
			color: #303030;

			&:hover {
				background: #eff0f2;
			}
		}

		.widget:last-child ul.menu li a:before {
			color: #d5d5d5;
		}
	}
}
