.page-control-bar-bottom {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.025em;
    padding-top: 20px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 15px;

	.masvideos-pagination {
		justify-content: flex-end;
	    display: flex;
	    flex-grow: 1;
	    margin-bottom: 0;

	    ul.page-numbers {
	    	margin-bottom: 0;
	    	 > li {
	    	 	> a,
	    	 	> span {
	    	 	 	padding: 9.5px 15.5px;
	    	 	 	box-shadow: none;

	    	 	 	&.next,
	    	 	 	&.prev {
	    	 	 		background: transparent;
						color: #b4bbc0;
	    	 	 	}
	    	 	}

				.next {
					margin-right: 0;
    				padding-right: 0;
				}

				.prev {
					margin-left: 0;
					padding-left: 0;
				}
	    	}
	    }

	    li:last-child {

	    	a {
	    		background: transparent;
	    		font-family: $os;
	    	}
	    }
	}

	.masvideos-result-count {
		margin-bottom: 13px;
		padding: 10px 0;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
	}

	.form-masviseos-mpp {
		margin-right: 40px;
	}

	.form-vodi-wc-ppp,
	.form-masviseos-mpp {
		margin-bottom: 0;

		select {
			padding: 8px 20px 8px 0;
		}
	}

	@include media-breakpoint-up(md) {
        flex-direction: row;
	}
}
