.section-user-playlist-carousel {
    background-color: #f2f3f5;
    padding: 56px 0 30px;
    margin-bottom: 56px;

    &__inner {
        align-items: center;
    }

    .movies-collection {
        position: relative;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        padding: 0 60px;
        margin-bottom: 90px;
        border-radius: 5px;
        min-height: 285px;

        &__title {
            font-family: $os;
            color: $white;
            font-size: 15px;
            font-weight: $os-bold;
            margin-top: 20px;
        }

        &-carousel {
            position: relative;

            .slick-slide {
                margin: 0 7.5px;

                &:nth-child(5n+1) .movies-collection {
                    background-color: #696969;
                }

                &:nth-child(5n+2) .movies-collection {
                    background-color: #b9c0c8;
                }

                &:nth-child(5n+3) .movies-collection {
                    background-color: #c0ae9f;
                }

                &:nth-child(5n+4) .movies-collection {
                    background-color: #7285ab;
                }

                &:nth-child(5n) .movies-collection {
                    background-color: #a48997;
                }
            }

            .slick-list {
                margin: 0 -7.5px;
            }

            .slick-arrow {
                width: 40px;
                height: 40px;
                border: 2px solid #d2d2d8;
                border-radius: 50%;
                transform: none;
                top: 34%;
                z-index: 1;

                &::before {
                    display: inline-block;
                }

                @include hover-focus() {
                    border-color: #9f9fa4;
                }
            }

            .slick-prev {
                left: 0;

                &:before {
                    background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(189, 189, 195)"/></svg>' );
                }

                @include media-breakpoint-up(md) {
                    left: -30px;
                }

                @include media-breakpoint-up(xxl) {
                    left: -60px;
                }
            }

            .slick-prev:hover::before {
                background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(129, 129, 133)"/></svg>' );
            }

            .slick-next {
                right: 0;

                &:before {
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(189, 189, 195)" /></svg>');
                }

                @include media-breakpoint-up(md) {
                    right: -30px;
                }

                @include media-breakpoint-up(xxl) {
                    right: -60px;
                }
            }

            .slick-next:hover::before {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(129, 129, 133)" /></svg>');
            }
        }
    }

    .user-info {
        position: absolute;
        top: 100%;
        transform: translateY(-23px);
        text-align: center;
        width: 100%;
        left: 0;
        right: 0;
        padding: 0 15px;
    }

    .user-pic {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        padding: 5px;
        overflow: hidden;
        margin: 0 auto 5px;
        background-color: $white;

        &--image {
            border-radius: 50%;
        }
    }

    .user-name {
        font-family: $os;
        font-size: 12px;
        color: $vodi-title-color;
        margin-bottom: 0;
    }

    .user-collected-movies__meta {
        line-height: 1.2;

        span {
            font-size: 12px;
            color: #808b90;

            &+ span::before {
                content: ', ';
            }
        }
    }
}