.editor-styles-wrapper { 
	.home-section-videos-with-featured-video {
		a {
			text-decoration: none;
		}

		ul.nav {
			display: flex;
	    	flex-wrap: wrap;
		    margin-bottom: 0;
		    list-style: none;
		}

		.video__title {
			margin-top: 0;
		}
	}
}