.vodi-tabbed-widget {
    .vtw-tabbed-nav {
        display: flex;
        margin-bottom: 15px;
        flex-wrap: wrap;

        li {

            a {
                font-size: 24px;
                color: #949494;
                padding: 0;
                font-family: $ms;
            }

            &.tab-active {
                a {
                    color: $vodi-primary-color;
                }
            }

            &+li {
                margin-left: 22px;

                a:before {
                    content: '';
                    width: 1px;
                    height: 23px;
                    display: inline-block;
                    margin-right: 22px;
                    background-color: #c3c3c3;
                    transform: rotate(17deg);
                    vertical-align: bottom;
                }
            }
        }
    }

    .vtw-tabbed-cont {
        display: none;

        &.tab-active {
            display: block;
        }

        .widget-title {
            display: none;
        }
    }

    .vodi_posts_widget .style-1 ul li {
        align-items: center;
         padding: 0 0 10px;

         & + li {
            border-top: none;
         }

         .entry-title {
            margin-bottom: 0;
            padding-bottom: 0;
         }

        .entry-meta {
            display: none;
        }
    }
}