// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

div.wp-block[data-type="vodi/section-videos-carousel-aside-header"] {
    max-width: none;
    margin-left: -65px;
    margin-right: -65px;
    width: auto;
}

.editor-block-list__layout .editor-block-list__block[data-type="vodi/section-videos-carousel-aside-header"] .editor-block-contextual-toolbar .editor-block-toolbar {
    left: 60px;
}

.editor-block-list__layout .editor-block-list__block[data-type="vodi/section-videos-carousel-aside-header"]>.editor-block-mover {
    left: 20px;
}

.editor-block-list__layout .editor-block-list__block[data-type="vodi/section-videos-carousel-aside-header"]>.editor-block-mover {
    top: -64px;
}