.videos[data-view="list-large"] {
    .video {
        &__body {
            flex: 0 0 76.85%;
            max-width: 76.85%;
            padding-right: 15px;
        }

        &__container {
            flex: 0 0 23.15%;
            max-width: 23.15%;
        }

        &__actions {
        	display: none;
        }

        &__info {
            padding-left: 15px;
        }
    }

    li:hover {
		.video {
            &__actions {
            	display: block;
            }
        }
    }
}

.videos[data-view="list-small"] {
    .video {

        &__body {
            flex: 0 0 83.2%;
            max-width: 83.2%;
            padding-right: 15px;
        }

        &__container {
            flex: 0 0 16.7%;
            max-width: 16.7%;
        }

        &__actions {
            display: none;
        }

        &__info {
            padding-left: 15px;
        }

        &__short-description {
            display: none;
        }
    }

    li:hover {

        .video {

            &__actions {
                display: block;
            }

            &__short-description {
                display: block;
            }
        }
    }
}

.videos[data-view="list"] {
    .video {
        &__body {
            flex: 0 0 70.1%;
            max-width: 70.1%;
            display: flex;
        }

        &__poster {
            margin-bottom: 0;
        }

        &__container {
            flex: 0 0 29.9%;
            max-width: 29.9%;
        }

        &__info {
            padding-left: 24px;
        }

        &__review-info {
            flex-direction: column;
            align-items: flex-end;
        }

        &__review-info {
            flex: 0 0 30%;
            max-width: 30%;
        }
    }

    .viewers-count {
        order: 1;
        padding-left: 0;
        margin-bottom: 11px;
        align-self: flex-end;
    }
}

.videos[data-view="grid"],
.videos[data-view="grid-extended"] {
    .video {
        margin-bottom: 23px;
    }
}
