// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.section-videos-live-coming-soon {
    a {
        text-decoration: none;
    }

    /* &.wp-block-columns>.editor-inner-blocks>.editor-block-list__layout>[data-type="core/column"]:not(:last-child) {
        margin-right: 14px;
    }

    &.wp-block-columns>.editor-inner-blocks>.editor-block-list__layout>[data-type="core/column"]:not(:first-child) {
        margin-left: 14px;
    } */

    .video {
        &__title {
            font-family: $os;
            font-weight: $os-bold;
            color: #000;
        }

        &__link {
            display: block;
        }

        &__actions,
        &__review-info {
            display: none;
        }
    }
}
