// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.section-videos-live-coming-soon {
    &.has-2-columns {
        margin: 0 0 20px;

        .wp-block-column {
            padding-right: 8px;
            padding-left: 8px;
        }
    }

    .home-section__action {
        border-width: 0 !important;
        padding: 0 !important;
        line-height: 1;

        a {
            color: #949494;
        }
    }

    .videos {
        &__inner {

        }
    }

    .live-videos__title,
    .coming-soon-videos__title {
        font-size: 14px;
        font-weight: $ms-semi-bold;
        text-transform: uppercase;
        color: #949494;
        margin-bottom: 10px;
    }

    .video {
        display: flex;
        margin-bottom: 18px;

        &__poster {
            margin-bottom: 0;
        }

        &__meta {
            display: block;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 4px;
            color: #808b90;
        }

        &__title {
            @include media-breakpoint-up(xl) {
                font-size: 16px;
            }

            font-size: 14px;
            line-height: 20px;
            margin-bottom: 4px;
        }

        &__short-description {
            display: block;
            max-height: 62px;
            overflow: hidden;

            p {
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                color: #b4bbc0;
                margin-bottom: 23px;
            }
        }
    }

    .coming-soon-videos {
        .videos {
            &__inner {
                margin: 0;
            }
        }

        .video {
            padding: 12px;
            border: 1px solid #ced0d1;
            border-radius: 3px;

            &__body {
                margin-left: 16px;
            }

            &__container {
                margin-right: 10px;
                position: relative;

                &::after {
                    content: " ";
                    display: block;
                    width: 1px;
                    height: 52px;
                    background-color: #e7e7e7;
                    position: absolute;
                    top: 19px;
                    right: -14px;
                }
            }

            &__poster--image {
                width: 100px;
                height: 80px;
                max-width: 100px;
                object-fit: cover;
            }

            &__short-description {
                max-height: 42px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .home-section__action {
        text-align: right;
    }
}
