#reviews {
    .commentlist {
        @include list-unstyled();

        li {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .comment_container {
        display: flex;

        img {
            margin-right: 18px;
        }

        p {
            margin-bottom: 12px;
            line-height: 1;
        }
    }

    .comment-text {
        font-size: 14px;
    }

    .masvideos-review__author {
        margin-right: 6px;
    }
    
    .masvideos-review__published-date {
        color: #808b90;
    }

    .star-rating {
        .star {
            font-size: 16px;
            width: 18px;
        }
    }
}