/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    //height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }

    figure {
        margin: 0;
    }
    
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    @include list-unstyled();
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    flex-wrap: wrap;

    > li + li {
        margin-left: 14px;
    }

    button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #d3d3d3;
        text-indent: -9999px;
        padding: 0;
        transition: 0.2s;
    }

    .slick-active {
        button {
            width: 30px;
            border-radius: 3px;
            background-color: $vodi-primary-color;
        }
    }
}

.slick-arrow {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        
        /*&:before {
            opacity: $slick-opacity-on-hover;
        }*/
    }
    
    /*&.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }*/
    
    &:before {
        content: '';
        width: 8px;
        height: 14px;
        background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAArCAQAAAA5m9v9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiCAUBOjHlQx+uAAABbklEQVQ4y43SP0tWYRgH4HsSjd6iHJwDC5EMGiSchILClqBoSLAv0CAIEhE0hYFDFH2CaGuqIAjDIaJP0OCQWRFC5mD+IRXNq0Hl1dfn9dyc5ZznXL/nHO7nF+6YMSxyV3gORrK8wycwmuOhfSdwN8dDu4/gXo6HEzuB+zkeTvpQHdj7cNwkeJDj4VhVoHGhZgI8zPFQ8755oLRHzTswluPhqLfgUY6HI+VA8xm3eQPGczy0eQ0e53ho9Qo8yfEDgcrKavUSPMvx0FIPZHho8cIWnuZ46LSMlRw+5TM23c7hKfwzlPn3TlPYMJSZzGlfsGEwM/czprG5iw/nXaax7lamM12+Yt3NTCO7fcOaG/vXy/is71hzvfFNCff4gdWDuMTP+YlV10rfLeO/ZdzIz5vFiqvN5lXCA83Pon7b6xeWXTnsnOt4rhrv8gvmsORyVT+38TwWXaosc4Q+v/HHxWoswiwW9GewCJNmslj8B07gY6Pn0yzYAAAAAElFTkSuQmCC') no-repeat;
    }
}