.lp-v2-frequently-asked-questions {

    *:focus{outline:none;}

	&__inner {
        background-color: #191e2b;
    }

    .card-body {
        color: #bbc2d3;
        font-size: 10px;
        line-height: 18px;
        padding: 10px;
        -webkit-font-smoothing: antialiased;

        @include media-breakpoint-up(md) {
            font-size: 12px;
        }

        @include media-breakpoint-up(lg) {
            padding: 6px 153px 40px;
            font-size: 15px;
            line-height: 21px;
        }
    }

    h5 {
        margin-bottom: 0;
    }

	a.link {
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
        display: block;
        cursor: pointer;
        padding: 10px;

        @include media-breakpoint-up(md) {
            line-height: 30px;
            padding: 20px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 90px;
            padding: 0 60px;
        }

        &:before {
            display: inline-block;
            content: " ";
            width: 20px;
            height: 12px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="12px"><path fill="rgb(255, 255, 255)" d="M19.989,2.572 L10.714,10.973 L9.852,11.990 L0.017,2.401 L1.219,0.983 L9.784,9.332 L18.749,1.212 L19.989,2.572 Z"/></svg>');
            background-repeat: no-repeat;
            transform: rotate(180deg);
            margin-right: 10px;

            @include media-breakpoint-up(lg) {
                margin-right: 77px;
            }
        }

        @include hover-focus{
            text-decoration: none;
            color: #ffffff;
        }

        &.collapsed {

            &:before {
                transform: rotate(0deg);
            }
        }
	}

    

    .accordion {
        padding: 20px 0;
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapsing {
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    .card:not(:last-child) {
        position: relative;
        
        &:after {    
            content: ' ';
            width: 100%;
            height: 1px;
            background-color: #2c3346;
            display: inline-block;
            position: absolute;

            @include media-breakpoint-up(lg) {
                width: 896px;
            }
        }    
    }
}