.site-landing-v2__footer {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.45) 100%, rgba(0,0,0,0.70) 100%),url(https://placehold.it/1920x835);
    background-position-x: center;
    background-position-y: center;


	.footer-bar-site-info {
		border-top: 1px solid #343949;
		padding-top: 50px;
		padding-bottom: 75px;

		@include media-breakpoint-up(md) {
			padding: 30px 0;
		}
    }    

	.footer-bar {
		display: flex;
		justify-content: space-between;
	}

	.site-info {
		text-align: center;
	}

	.footer-menu {
		display: flex;
		@include list-unstyled();

		a {
			color: #ffffff;
			display: block;

			@include media-breakpoint-up(md) {
				padding: 10px;
			}

			@include media-breakpoint-up(lg) {
				padding: 10px 21px;
			}

			@include hover-focus() {
                text-decoration: none;
            }
		}
	}

	.social-icons {
		display: flex;
		@include list-unstyled();		
	}

	.fa-circle {
		color: #ffffff;
	}

	.fa-inverse {
		color: #000000;
	}

	.footer-social-icon {
		display: block;
		padding: 0 4px;

		&:hover {

			.fa-circle {
				color: $vodi-body-color;
			}

			.fa-inverse {
				color: #ffffff;
			}
		}
	}

	.site-info {
		font-family: $os;
		font-size: 14px;
		line-height: 23px;
		letter-spacing: -0.01em;
		color: #3e4455;
		padding-top: 14px;
	}
}

