.site-header-lp-v2 {
	padding: 0 15px;
    max-width: 100%;
    flex: 1;

	&__back-option {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: -0.01em;
		text-align: right;
		color: #ffffff;
		padding-top: 20px;
		padding-bottom: 46px;

		@include media-breakpoint-up(md) {
			padding-top: 30px;
			padding-bottom: 60px;
		}

		@include media-breakpoint-up(lg) {
			padding-top: 30px;
			padding-bottom: 92px;
		}

		a {
			font-weight: $ms-bold;
			color: #ffffff;
			text-decoration: underline;;

			@include hover-focus() {
				color: $vodi-primary-color;
			}
		}
	}

	&__site-branding {
		text-align: center;
	}
}