.lp-v2-section-plans {

	&__inner {
		color: #ffffff;
        padding: 40px 0;

        @include media-breakpoint-up(lg) {
            padding: 50px 0px 109px;
            justify-content: center;
        }
	}
        
    &__plan-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        align-items: center;

        @include media-breakpoint-up(lg) {
            @include make-col(4);
            margin-bottom: 0;
            align-items: flex-start;
        }

        @include media-breakpoint-up(xl) {
            @include make-col(3);
        }

        .title {
            text-align: center;

            @include media-breakpoint-up(lg) {
                text-align: start;
            }
        }
    }

    &__plan-box + &__plan-box {
        position: relative;

        @include media-breakpoint-up(lg) {
            padding-left: 30px;
        }

        @include media-breakpoint-up(xl) {
            padding-left: 63px;
        }
        
        &:before {
            content: " ";
            width: 1px;
            height: 230px;
            background-color: #2c3346;
            display: block;
            position: absolute;
            left: -5px;
            top: 6%;
        }
    }

	.features {
		@include list-unstyled();
        margin-bottom: 0;
        padding-top: 5px;
	} 

    &__plan,
    .title,
    .per-month {
        font-size: 24px;
        line-height: 1.25;
        color: #ffffff;
    }

    &__plan a {
       display: block; 
       text-decoration: none;
    }   

    .highlight {

        p,h3,span {
            color: $vodi-primary-color;
        }
    }

    .feature {
        font-size: 16px;
        line-height: 36px;

        &:before {
            content: " ";
            width: 9px;
            height: 7px;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"width="9px" height="7px"> <path fill="rgb(255, 255, 255)" d="M7.583,-0.001 C7.709,0.012 7.835,0.026 7.960,0.039 C8.043,0.153 8.183,0.233 8.224,0.391 C8.310,0.718 8.039,0.880 7.923,1.016 C7.613,1.379 7.341,1.764 7.019,2.111 C5.663,3.740 4.306,5.370 2.951,6.999 C2.938,6.999 2.925,6.999 2.913,6.999 C2.913,6.987 2.913,6.973 2.913,6.960 C2.737,6.855 2.649,6.687 2.499,6.569 C2.008,6.187 1.596,5.739 1.105,5.357 C1.017,5.253 0.929,5.149 0.841,5.044 C0.559,4.824 0.248,4.694 0.239,4.184 C0.416,3.959 0.433,3.794 0.841,3.793 C0.893,3.838 0.968,3.829 1.029,3.871 C1.092,3.949 1.155,4.027 1.218,4.106 C1.589,4.393 1.902,4.717 2.273,5.005 C2.477,5.164 2.610,5.457 2.875,5.553 C3.253,4.879 4.009,4.298 4.457,3.675 C4.783,3.224 5.148,2.837 5.474,2.385 C5.562,2.307 5.650,2.229 5.738,2.150 C6.295,1.378 6.929,0.672 7.583,-0.001 Z"/></svg>');            
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 9px;
        }
    }

    .price-per-month {
        font-size: 72px;
        color: #ffffff;
        font-weight: $ms-bold;
    }

    &__plan-join-link {
        padding-top: 5px;
        font-size: 24px;
        line-height: 72px;
        font-weight: $ms-semi-bold;
        margin-top: auto;

        a {
            color: $vodi-primary-color; 
            display: block;       

            @include hover-focus() {
                text-decoration: none;
            }
        }
    }
}