/**
 * Bootstrap variables override
 */
.section-movies-carousel-flex-header .slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #d2d2d8;
  border-radius: 50%;
  margin-right: 13px;
  transform: none;
  top: 30%;
  z-index: 1; }
  .section-movies-carousel-flex-header .slick-arrow::before {
    display: inline-block; }
  .section-movies-carousel-flex-header .slick-arrow:hover, .section-movies-carousel-flex-header .slick-arrow:focus {
    border-color: #9f9fa4; }

.section-movies-carousel-flex-header .slick-prev {
  left: 0; }
  .section-movies-carousel-flex-header .slick-prev:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(113, 127, 140)"/></svg>'); }
  @media (min-width: 768px) {
    .section-movies-carousel-flex-header .slick-prev {
      left: -45px; } }
  @media (min-width: 1440px) {
    .section-movies-carousel-flex-header .slick-prev {
      left: -48px; } }

.section-movies-carousel-flex-header .slick-prev:hover::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(129, 129, 133)"/></svg>'); }

.section-movies-carousel-flex-header .slick-next {
  right: 0; }
  .section-movies-carousel-flex-header .slick-next:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(189, 189, 195)" /></svg>'); }
  @media (min-width: 768px) {
    .section-movies-carousel-flex-header .slick-next {
      right: -30px; } }
  @media (min-width: 1440px) {
    .section-movies-carousel-flex-header .slick-next {
      right: -48px; } }

.section-movies-carousel-flex-header .slick-next:hover::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(129, 129, 133)" /></svg>'); }

.section-movies-carousel-flex-header .home-section__action {
  text-align: right; }

.section-movies-carousel-flex-header.dark .section-movies-carousel__carousel .slick-arrow {
  border-color: #4a545d; }

.section-movies-carousel-flex-header.dark .slick-prev::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(113, 127, 140)"/></svg>'); }

.section-movies-carousel-flex-header.dark .slick-prev:hover::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(255, 255, 255)"/></svg>'); }

.section-movies-carousel-flex-header.dark .slick-next::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(113, 127, 140)"/></svg>'); }

.section-movies-carousel-flex-header.dark .slick-next:hover::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(255, 255, 255)" /></svg>'); }

.section-movies-carousel-flex-header.style-2 {
  padding: 0px 0 34px; }
  .section-movies-carousel-flex-header.style-2.dark .section-movies-carousel__carousel .slick-arrow:hover {
    background: none; }
  .section-movies-carousel-flex-header.style-2 .section-videos-carousel__carousel {
    flex: 0 0 100%;
    max-width: 100%; }
  .section-movies-carousel-flex-header.style-2 .slick-arrow {
    border-width: 0; }
    .section-movies-carousel-flex-header.style-2 .slick-arrow:before {
      display: block; }
  .section-movies-carousel-flex-header.style-2 .slick-prev {
    left: -40px;
    z-index: 1; }
    .section-movies-carousel-flex-header.style-2 .slick-prev:before {
      width: 22px;
      height: 42px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="42"><path \a                 d="M21.988,40.588 L20.602,41.988 L0.011,21.204 L0.214,20.999 L0.011,20.795 L20.602,0.011 L21.988,1.410 L2.582,20.999 L21.988,40.588 Z" fill="rgb(177, 177, 177)"/>\a                 </svg>'); }
    .section-movies-carousel-flex-header.style-2 .slick-prev:hover::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="42"><path \a                  d="M21.988,40.588 L20.602,41.988 L0.011,21.204 L0.214,20.999 L0.011,20.795 L20.602,0.011 L21.988,1.410 L2.582,20.999 L21.988,40.588 Z" fill="rgb(255, 255, 255)"/>\a                 </svg>'); }
  .section-movies-carousel-flex-header.style-2 .slick-next {
    right: -45px; }
    .section-movies-carousel-flex-header.style-2 .slick-next:before {
      width: 22px;
      height: 42px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="43"><path d="M22.707,21.707 L1.707,42.707 L0.293,41.293 L20.086,21.500 L0.293,1.706 L1.707,0.292 L22.707,21.292 L22.500,21.499 L22.707,21.707 Z" fill="rgb(177, 177, 177)"/>\a                 </svg>'); }
    .section-movies-carousel-flex-header.style-2 .slick-next:hover::before {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="43"><path d="M22.707,21.707 L1.707,42.707 L0.293,41.293 L20.086,21.500 L0.293,1.706 L1.707,0.292 L22.707,21.292 L22.500,21.499 L22.707,21.707 Z" fill="rgb(255, 255, 255)"/>\a               </svg>'); }

/*# sourceMappingURL=style.css.map */