.videos__inner,
.videos-list {
    @include make-row(18px);
    
    .video__poster--image {
        width: 100%;
    }
}

.videos__inner > .video,
.videos-list > .video {
    @include make-col-ready(18px);
}

.columns-2 .videos__inner > .video {
    @include media-breakpoint-up(xxl) {
        @include make-col(6);
    }
}

.columns-2 > .video {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }
}

.columns-3 > .video,
.columns-3 .videos__inner > .video {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }
}

.columns-4 > .video,
.columns-4 .videos__inner > .video {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(3);
    }
}

.columns-5 .videos__inner > .video {
    @include media-breakpoint-up(xxl) {
        @include make-col(2.4);
    }
}

.columns-5 > .video {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(2.4);
    }
}

.columns-6 > .video,
.columns-6 .videos__inner > .video {
    @include media-breakpoint-up(md) {
        @include make-col(6);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(2);
    }
}

.section-2-column-videos-list {
    margin-bottom: 30px;
    
    .videos-list {
        @include make-row(20px);
    }

    .videos-list > .video {
        @include make-col-ready(20px);
    }
}

.section-4-column-videos-list {
    margin-bottom: 30px;
    
    .videos-list {
        @include make-row(18px);
    }

    .videos-list > .video {
        @include make-col-ready(18px);
    }
}

.section-5-column-videos-list {
    margin-bottom: 50px;
}

.home-v6-4-column-videos-list {
    .video {
        margin-bottom: 22px;
    }
}

.videos-carousel {
    &__inner {
        .videos__inner {
            margin: 0;
        }
    }
}