.video {
    position: relative;
    margin-bottom: 34px;

    &__link {
        display: block;

        @include hover-focus() {
            .video__title {
                color: $vodi-primary-color;
            }
        }
    }

    &__container {
        position: relative;
    }

    &__duration {
        position: absolute;
        bottom: 7px;
        right: 7px;
        background: #1f1f1f;
        padding: 2px 5.5px;
        border-radius: 2px;
        opacity: 0.8;
        font-size: 12px;
        line-height: 1;
        color: #fff;
        //width: 41px;
        //height: 16px;
        align-items: center;
        justify-content: center;
        display: none;
    }

    &__badge {
        position: absolute;
        font-size: 12px;
        line-height: 21px;
        color: $white;
        padding: 0 12px;
        border-radius: 4px;
        top: -10.5px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    &__poster {
        margin-bottom: 11px;

        img {
            @include media-breakpoint-only(lg) {
                width: 100%;
            }
        }
    }

    &__title {
        font-size: 14px;
        line-height: 18px;
        color: #000;
    }

    &__episode,
    &__meta {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 4px;
        color: #808b90;
    }

    &__meta {
        display: none;

        > span + span:before {
            content: 'ãƒ»';
            display: inline-block;
            font-weight: 700;
        }
    }

    &__actions,
    &__review-info,
    &__short-description {
        display: none;
    }

    &__short-description {

        p {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.01em;
            color: #b4bbc0;
            margin-bottom: 23px;
        }
    }

    &__actions {

        a {
            font-size: 12px;
            line-height: 1.25;
            font-family:$ms;
            font-weight: $ms-bold;
            color: #ffffff;
            text-transform: uppercase;
            display: inline-block;
            border: 2px solid transparent;
        }
    }

    .video-actions--link_watch {
        border-radius: 5px;
        background-color: #303544;
        padding: 12.5px 18.7px;
    }

    .video-actions--link_add-to-playlist {
        padding: 12px;
    }

    &__review-info {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #808b90;
    }

    .avg-rating {
        position: relative;
        order: 2;
        display: block;

        &:before {
            content: ' ';
            display: inline-block;
            background-image: url('data:image/svg+xml;utf8,<svg id="star" width="40px" height="39px" xmlns="http://www.w3.org/2000/svg" viewBox="40px 39px"><title>play</title><path fill-rule="evenodd" fill="rgb(48, 53, 68)" d="M19.633,-0.000 C21.509,0.035 21.530,1.174 22.167,2.414 C23.329,4.679 24.406,7.067 25.572,9.338 C25.853,9.886 26.431,11.640 26.918,11.834 C27.486,12.203 29.345,12.109 30.165,12.316 C32.170,12.825 34.489,12.860 36.500,13.364 C37.516,13.618 38.689,13.413 39.430,13.927 C39.689,14.107 39.770,14.504 39.984,14.732 C40.047,16.499 39.096,16.843 38.163,17.792 C36.473,19.509 34.784,21.227 33.095,22.944 C32.585,23.462 31.092,24.543 31.036,25.359 C31.423,25.951 31.307,27.455 31.511,28.258 C32.138,30.727 32.213,33.522 32.857,35.987 C33.142,37.078 33.016,38.241 32.303,38.724 C31.108,39.533 29.632,38.193 28.819,37.758 C26.695,36.623 24.601,35.624 22.483,34.457 C21.979,34.179 20.607,33.178 20.108,33.088 C19.748,33.023 18.163,34.107 17.812,34.296 C15.557,35.505 13.340,36.640 11.080,37.839 C10.548,38.120 9.180,39.226 8.309,38.966 C6.955,38.558 6.874,36.993 7.280,35.423 C7.716,33.733 7.697,31.880 8.151,30.109 C8.527,28.642 8.907,26.529 9.022,24.957 C8.092,24.344 7.202,23.107 6.408,22.300 C4.760,20.625 3.059,18.990 1.340,17.389 C0.646,16.742 -0.578,15.515 0.311,14.249 C0.915,13.388 2.364,13.656 3.557,13.364 C6.678,12.599 10.114,12.468 13.298,11.834 C14.186,9.747 15.306,7.711 16.307,5.716 C16.954,4.426 17.496,3.163 18.128,1.931 C18.334,1.531 18.358,1.093 18.603,0.724 C18.845,0.362 19.299,0.273 19.633,-0.000 Z" /></svg>');
            width: 40px;
            height: 39px;
            background-repeat: no-repeat;
            margin-bottom: 10px;
        }
    }

    .count,
    .avg-rating {
        font-size: 12px;
        color: #808b90;
    }

    .avg-rating-number {
        font-weight: $os-bold;
    }
}

.videos .video {
    &__title {
        font-family: $os;
        font-weight: $os-bold;
    }
}

.dark {
    .video__title {
        color: $white;
    }
}

.style-2 {
    .video {
        margin-bottom: 26px;

        &__link {
            position: relative;
        }

        &__info {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 30px 30px;
            z-index: 1;
        }

        .video__poster {
            &:before {
                background: linear-gradient(to bottom, rgba(240, 47, 23, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
                content: " ";
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 1;
            }

            img {
                height: auto;
            }
        }

        &__title  {
            font-size: 15px;
            color: #fff;
        }

        &__episode  {
            font-size: 13px;
            color: #fff;
        }
    }
}
