.site-header {
    position: relative;
    z-index: 1;

    &__masthead {
        border-bottom: 1px solid #9b9b9b;
    }

    &__inner {
        align-items: center;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.01em;
        -webkit-font-smoothing: antialiased;
        background: transparent;
    }

    &__left {
        @include make-col(10);
    }

    &__logo {
        @include make-col(2.7);

        a {
            display: block;
            padding: 18px;
        }
    }    

    .menu-item-has-children,
    &__user-account {

        > a {
            color: #ffffff;
            padding: 3px;

            @include media-breakpoint-up(lg) {
                padding: 30px 12px;
            }

            @include hover-focus() {
                text-decoration: none;
            }
        }
    }

    &__right {
        @include make-col(2);
    }

    &__user-account {
        text-align: end;
    }      
} 

   