.landing-hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.45) 100%, rgba(0,0,0,0.70) 100%),url(https://placehold.it/1920x849);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    margin-top: -80px;
    padding-top: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding-bottom: 30px;

    @include media-breakpoint-up(md) {
        height: 600px;
        padding-bottom: 100px;
    }
    
    @include media-breakpoint-up(lg) {
        height: 845px;
        padding-bottom: 145px;
    }

    &__inner {
        z-index: 1;
    }

    *:focus{outline: none;}
    
    &__caption {
        text-align: center;
        line-height: 1.25;
        color: #ffffff;
        padding-top: 20px;

        @include media-breakpoint-up(md) {
            padding: 0;
        }

        h2 {
            font-size: 30px;
            font-weight: $ms-bold;
            letter-spacing: -0.01em;

            @include media-breakpoint-up(md) {
                font-size: 40px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 50px;
            }
        }

        p {
            font-size: 18px;
            font-weight: $ms-medium;
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                font-size: 21px;
                margin-bottom: 40px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 26px;
                margin-bottom: 40px;
            }
        }
    }
}