.section-landing-page-movies,
.tabs-section {  

    &__section-header,
    .tab-content-header {
        text-align: center;
        -webkit-font-smoothing: antialiased;

        .section-sub-title {
            @include media-breakpoint-up(md) {
                font-size: 17px;    
            }

            @include media-breakpoint-up(lg) {
                font-size: 21px;    
            }

            font-size: 15px;
            line-height: 26px;
            margin-top: 21px;
            -webkit-font-smoothing: antialiased;
        }
    }
}    


.section-landing-page-movies .section-title,
.tabs-section .section-title,
.lp-featured-section .section-title {
    @include media-breakpoint-up(md) {
        font-size: 30px;    
    }

    @include media-breakpoint-up(lg) {
        font-size: 40px;    
    }
    font-size: 25px;
    line-height: 1.25;
    font-weight: $ms-bold;
}