.section-lp__features.tabs-section {
	background-color: #131722;
    padding-bottom: 45px;

    @include media-breakpoint-up(md) {
        padding-bottom: 95px;
    }

	.nav {
		@include list-unstyled();
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 0;
        padding-top: 90px;
        flex-wrap: nowrap;
        overflow: auto;

		a {
			color: #919398;
            display: block;

			@include hover-focus {
				text-decoration: none;
    		}
		}

		.nav-link {
			@include make-col(6);
			text-align: center;

            @include media-breakpoint-up(md) {
                @include make-col(4);
            }

            span {
                display: block;
            }
		}

		.active {
			border-bottom: 3px solid $vodi-primary-color;
            color: #ffffff;
            padding-bottom: 11px;

            svg {
                fill: #ffffff;
            }
		}

        svg {
            fill: #898b91;
        }
	}

	.section-title,
	.section-sub-title {
		color:#ffffff;
	}

    .tab-content-details {

        @include media-breakpoint-up(lg) {
            margin-top: 95px;
        }

        margin-top: 35px;
        -webkit-font-smoothing: antialiased;
    }

	.tab-content {
		color: #ffffff;
		text-align: center;
        line-height: 30px;
        margin-top: 60px;

        @include media-breakpoint-up(md) {
            margin-top: 80px;
        }

        > .tab-pane {
            display: none;
        }

        > .active {
            display: block;
        }
	}

	.screen {

        @include media-breakpoint-up(lg) {
            @include make-col(4);
            margin-bottom: 0;
        }

		display: flex;
		flex-direction: column;
		align-items: center;
        margin-bottom: 30px;
	}

	img {
		width: 100%;
        display: block;
        height: auto;
	}

    td svg {
        fill: #919398;
    }

    .screen-thumbnail {
        margin-bottom: 35px;
        
        @include media-breakpoint-up(lg) {
            margin-bottom: 70px;
        }
    }

	.title {
		font-size: 26px;
		font-weight: $ms-bold;
	}

    .discription {
        font-size: 16px;
        margin-top: 12px;

        @include media-breakpoint-up(xl) {
            padding: 0 60px;
        }
    }

    .unsubscribe {
        margin-bottom: 23px;

        .unsubscribe-content {
            @include media-breakpoint-up(lg) {
                @include make-col(7);
            }    
        }

        .unsubscribe-thumbnail {
            @include media-breakpoint-up(lg) {
                @include make-col(5);
            }       
        }

        .discription {
            text-align: start;
            font-size: 20px;
            line-height: 40px;

            @include media-breakpoint-up(md) {
                padding: 0 90px;
                font-size: 30px;
            }
        }

        img {

            @include media-breakpoint-up(md) {
                width: 430px;
                margin: auto;
            }    
        }
    }

    .trail-btn {
        text-align: center;
        margin-top: 10px;

        @include media-breakpoint-up(md) {
            margin-top: 40px;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 76px;
        }
    }

    .tab-icon {
        font-size: 70px;
        display: block;
        margin-bottom: 30px;
    }
}