.article__attachment--gallery {
    height: 100%;

    .gallery-caption {
        display: none;
    }

    .gallery-icon {
        display: flex;

        > a {
            display: inline-block;
            margin: auto;
        }
    }

    .slick-slider {
        height: 100%;
        display: flex;
    }

    .slick-list {
        margin: auto;
    }

    .slick-dots {
        position: absolute;
        bottom: 14px;
        width: 100%;
    }
}

.article__attachment--thumbnail {
    display: flex;
    height: 100%;
    
    > a, > img {
        display: block;
        margin: auto;
    }
}