@import "article-attachment";

.article {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    &.format-audio, &.sticky {
        flex-direction: column;
        align-items: flex-start;

        .article__summary, .article__attachment {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .article__attachment {
            margin-bottom: 23px;
            margin-right: 0;
            width: 100%;
        }
    }

    &.sticky {
        margin-bottom: 54px;
        
        .article__attachment {
            height: 440px;
        }

        .article__title {
            font-size: 26px;
        }
    }

    &__summary {
        flex: 1;
    }

    &__attachment {
        @include media-breakpoint-up(md) {
            margin-right: 30px;
            margin-bottom: 0;
        }

        flex: 0 0 48.48484848485%;
        max-width: 48.48484848485%;
        height: 270px;
        overflow: hidden;
        background-color: #f6f7f9;
        margin-bottom: 20px;

        &.audio {
            flex: 0 0 100%;
            max-width: 100%;
            height: auto;
            margin-bottom: 25px;
        }
    }

    &__header {
        margin-bottom: 10px;
    }

    &__title {
        font-size: 24px;
        font-weight: $ms-semi-bold;
        letter-spacing: -0.025em;

        a {
            color: #19272e;

            @include hover-focus() {
                color: $vodi-primary-color;
                text-decoration: none;
            }
        }
    }

    &__excerpt {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.001em;

        > *:last-child {
            margin-bottom: 0;
        }
    }

    &__content {
        margin: 11px 0 45px 0 ;

        > *:last-child {
            margin-bottom: 0;
        }

        a {
            font-weight: $os-semi-bold;
        }
    }

    &__meta {
        display: block;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.010em; 
        color: #949494;
        font-style: italic;

        a {
            color: #949494;
            text-decoration: none;
        }

        > * {
            display: inline-block;
        }

        > * + * {
            &:before {
                content: '・';
                display: inline-block;
                margin: 0 4px;
                font-weight: $os-bold;
            }
        }
    }

    &__categories {
        font-style: normal;

        a {
            font-weight: 600;
            color: $vodi-primary-color;     
        }
    }

    &__date {
        white-space: nowrap;

        .updated:not(.published) {
            display: none;
        }
    }

    &__comments {
        white-space: nowrap;
    }

    &__video,
    &__audio {
        embed, iframe, object {
            margin: 0;
        }
    }
}

.comments-title,
.comment-respond .comment-reply-title,
.vodi-related-articles .section-title {
    @include media-breakpoint-up(lg) {
        font-size: 24px;
    }

    font-size: 18px;
    line-height: 1.25;
    letter-spacing: -0.025em;
    font-weight: $ms-medium;
    color: #121a21;
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 22px;

    &:after {
        position: absolute;
        content: "";
        height: 1px;
        background-color: #e8e8e8;
        width: 100%;
        top: 50%;
        margin-left: 11px;
    }
}

.dark {
    .articles .article {
        .entry-title a {
            color: $white;
        }

        .article__excerpt,
        .article__meta > *:not(.article__categories),
        .article__meta > *:not(.article__categories) a {
            color: #808b90;
        }
    }
}

.no-comments {
    border: 1px solid #e8e8e8;
    color: #808b90;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    padding: 12px 20px;
    border-radius: 5px;
}
