.post-navigation {
    background-color: #f5f5f5;
    padding: 45px 50px; 
    margin-bottom: 35px;

    .nav-links {
        display: flex;
        justify-content: space-between;

        .nav-previous,
        .nav-next {
            flex-grow: 1;

            > a {
                display: block;

                @include hover-focus() {
                    .post-nav__article--title {
                        color: $vodi-primary-color;
                    }
                }
            }
        }

        .nav-previous {
            padding-right: 10px;
        }

        .nav-next {
            padding-left: 10px;
        }

        .nav-next {
            span {
                text-align: end;
            }
        }
    }
}

.post-nav {

    &__title {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #a3a3a3;
        display: block;
        margin-bottom: 7px;
    }
    
    &__article {
        
        &--title {
            font-size: 17px;
            line-height: 21px;
            letter-spacing: -0.025em;
            font-family: $ms;
            font-weight: $ms-semi-bold;
            color: #19272e;
            display: block;
            margin-bottom: 5px;
        }

        &--meta {
            display: block;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -0.01em;

            > * + * {
                &:before {
                    content: '・';
                    display: inline-block;
                    margin: 0 4px;
                    font-weight: $os-bold;
                }
            }
        }

        &--categories {
            font-weight: $os-bold;
            color: $vodi-primary-color;
        }

        &--date {
            color: #949494;
            font-style: italic;
        }
    }
}