.single-post-sharing {
    margin-bottom: 44px;

    div.sharedaddy {
        .sd-sharing {
            display: flex;
            align-items: center;
        }

        h3.sd-title {
            margin-bottom: 0;
            color: #949494;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: -0.01em;
            margin-right: 20px;
            font-weight: 400;

            &:before {
                content: none;
            }
        }
    }

    .sd-content ul {
            margin-bottom: 0 !important;

        li {
            margin: 0 9px 0 0;
        }
    }

    .sd-social-icon {
        .sd-content ul {
            li {
                a.sd-button {
                    &,
                    &:hover,
                    &:focus {
                        padding: 7px 32.5px;
                        border-radius: 3px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.single-article {
    .article__header {
        & + .single-post-sharing {
            margin-bottom: 34px;
        }
    }
}