.recentcomments {
    padding: 4px 0 7px 0;

    > a {
        font-size: 15px;
        line-height: 21px;
        font-weight: $ms-semi-bold;
        color: $vodi-title-color;
        display: block;
    }

    .comment-author-link > a {
        color: $vodi-title-color;
        font-size: 13px;
        line-height: 18px;
    }

    & + .recentcomments {
        border-top: 1px solid #e5eaeb;
    }
}

.calendar_wrap table {
    @include make-table-bordered( 0.5rem, 0, center );
}

.widget_rss,
.widget_recent_entries {

    ul .rsswidget,
    li a {
        font-size: 17px;
        line-height: 21px;
        letter-spacing: -0.025em;
        font-weight: $ms-semi-bold;
        color: #19272e;
        display: block;
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 8px;

        @include hover-focus() {
            text-decoration: none;
            color: $vodi-primary-color;
        }
    }

    .post-date {
        margin-top: 8px;
    }

    ul li {

        a {
            order: 0;
            display: block;
            margin: 0;
            padding: 0;
        }     
    }

    li {
        padding: 15px 0;
        font-family: $ms;
    }

    .rss-date, cite ,.post-date {
        font-size: 13px;
        line-height: 18px;
        font-style: italic;
        color: #949494;
        flex: 0 0 auto;
    }

    .rss-date {
        order: 3;

        &:before {
            content: '';
            margin: 0 7px;
            display: inline-block;
            height: 3px;
            width: 3px;
            background-color: #949494;
            border-radius: 50%;
            top: -2px;
            position: relative;
        }
    }

    .rssSummary {
        flex: 0 0 100%;
        max-width: 100%;
        order: 4;
        margin-top: 8px;
    }

    cite {
        display: block;
        font-style: normal;
        font-weight: $os-bold;
        color: $vodi-primary-color;
        order: 2;
    }

    ul > li {
        display: flex;
        flex-wrap: wrap;

        & + li {
            border-top: 1px solid #e5eaeb;
        }
    }
}

.widget_rss  ul > li {

    &:first-child {
        padding-top: 8px;
    }
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    .search-field {
        border-color: #d0d0d2;
        padding: 7px 51px 7px 25px;
        border-radius: 20px;
        background: transparent;

        @include fc-focus();
    }

    .search-submit {
        border-width: 0;
        margin-left: -52px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 16px;
        background: transparent;

        svg {
            margin-top: 6px;
        }
    }
}

@import "widgets/vodi-post-widget";
@import "widgets/vodi-tabs-widget";