// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.vodi-event-category {
    .event-category-lists {
        @include list-unstyled();
    }

    .columns-3 .column {
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }
    }

    .columns-4 .column {
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }

        @include media-breakpoint-up(xl) {
            @include make-col(3);
        }
    }

    .columns-5 .column {
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }

        @include media-breakpoint-up(xl) {
            @include make-col(3);
        }

        @include media-breakpoint-up(xxl) {
            @include make-col(2.4);
        }
    }

    .event-category-list {
        margin-bottom: 20px;

        &__inner {
            display: flex;
            position: relative;
            height: inherit;
            padding: 20px;
            height: 465px;

            @include media-breakpoint-only(lg) {
                height: 380px;
            }

            @include media-breakpoint-up(xxl) {
                height: 565px;
            }

            &-poster,
            &-poster:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &-poster {
                &::before {
                    background: linear-gradient(to bottom, rgba(240, 47, 23, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
                    content: " ";
                }

                &-image {
                    height: 465px;
                    object-fit: cover;
                    width: 100%;

                    @include media-breakpoint-only(lg) {
                        height: 380px;
                    }

                    @include media-breakpoint-up(xxl) {
                        height: 565px;
                    }

                    &.empty {
                        background-color: #ddd;
                    }
                }
            }

            &-content {
                border: 2px solid $white;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                text-align: center;
                padding-bottom: 12px;
                z-index: 1;
            }

            .event-category-title {
                font-size: 18px;
                color: $white;
                font-weight: 700;
                padding: 0 10px;
            }
        }
    }
}
