// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.section-featured-movies-carousel {
    padding: 99px 0 50px;
    margin-bottom: 38px;

    &__inner {
        padding-left: 7px;
    }

    .featured-movies-carousel {
        
        &__header {
            color: $vodi-body-color;
            margin-bottom: 30px;
            
            @include media-breakpoint-up(md) {
                margin-bottom: 70px;
            }

            &-pretitle {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 25px;
                opacity: 0.7;
                padding-left: 3px;
                font-weight: 400;
            }

            &-title {
                font-size: 30px;
                line-height: 1em;
                font-weight: $ms-bold;
                margin-bottom: 25px;

                @include media-breakpoint-up(md) {
                    font-size: 64px;
                }
            }

            &-subtitle {
                font-family: $ms;
                font-size: 22px;
                line-height: 30px;
                font-weight: 300;
                display: block;
                padding-left: 2px;
                
                @include media-breakpoint-up(lg) {
                    max-width: 34%;
                }
            }
        }
    }

    ul.nav {
        margin-bottom: 35px;
        align-items: baseline;
        flex-wrap: nowrap;
        overflow: auto;

        @include media-breakpoint-up(md) {
            flex-wrap: wrap;
        }

        .nav-item {
            display: block;
            flex-shrink: 0;

            .nav-link {
                font-family: $ms;
                font-weight: $ms-medium;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: -0.025em;
                color: $vodi-body-color;

                &.active {
                    font-weight: $ms-bold;
                    font-size: 20px;
                }
            }

            & + .nav-item {
                margin-left: 40px;
            }
        }
    }

    .featured-movies-carousel {
        position: relative;

        .slick-arrow {
            transform: none;
            top: 34%;
            z-index: 1;

            &::before {
                display: inline-block;
            }

            @include hover-focus() {
                border-color: #9f9fa4;
            }
        }

        .slick-prev {
            left: 0px;

            &:before {
                width: 22px;
                height: 42px;
                background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="42"><path 
                    d="M21.988,40.588 L20.602,41.988 L0.011,21.204 L0.214,20.999 L0.011,20.795 L20.602,0.011 L21.988,1.410 L2.582,20.999 L21.988,40.588 Z" fill="rgb(177, 177, 177)"/>
                </svg>');
            }

            @include media-breakpoint-up(md) {
                left: -25px;
            }

            @include media-breakpoint-up(xxl) {
                left: -50px;
            }
        }

        .slick-prev:hover::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="42"><path 
                    d="M21.988,40.588 L20.602,41.988 L0.011,21.204 L0.214,20.999 L0.011,20.795 L20.602,0.011 L21.988,1.410 L2.582,20.999 L21.988,40.588 Z" fill="rgb(0, 0, 0)"/>
                </svg>');
        }

        .slick-next {
            right: 0px;

            &:before {
                width: 22px;
                height: 42px;
                background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="43"><path d="M22.707,21.707 L1.707,42.707 L0.293,41.293 L20.086,21.500 L0.293,1.706 L1.707,0.292 L22.707,21.292 L22.500,21.499 L22.707,21.707 Z" fill="rgb(177, 177, 177)"/>
                    </svg>');
            }

            @include media-breakpoint-up(md) {
                right: -25px;
            }

            @include media-breakpoint-up(xxl) {
                right: -50px;
            }
        }

        .slick-next:hover::before {
            background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="43"><path d="M22.707,21.707 L1.707,42.707 L0.293,41.293 L20.086,21.500 L0.293,1.706 L1.707,0.292 L22.707,21.292 L22.500,21.499 L22.707,21.707 Z" fill="rgb(0, 0, 0)"/>
                    </svg>');
        }
    
    }
}