// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.home-recent-comments {
	.recent-comments {
		ul {
			@include list-unstyled();
			li.recentcomments {
			    padding: 4px 0 7px 0;

			    > a {
			        font-size: 15px;
			        line-height: 21px;
			        font-weight: $ms-semi-bold;
			        color: $vodi-title-color;
			        display: block !important;
			    }

			    .comment-author-link > a {
			        color: $vodi-title-color;
			        font-size: 13px;
			        line-height: 18px;
			    }

			    & + .recentcomments {
			        border-top: 1px solid #e5eaeb;
			    }
			}
		}
	}
}
