// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.home-section__movies {
    &__inner {
        align-items: center;
        padding: 45px 0 30px;

        > .home-section__header {
            &::before {
                @include media-breakpoint-up(md) {
                    margin-right: auto;
                    margin-left: auto;
                }

                @include media-breakpoint-up(xl) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            @include media-breakpoint-up(md) {
                text-align: center;
            }

            @include media-breakpoint-up(xl) {
                @include make-col(3);
                text-align: left;
            }

            @include media-breakpoint-up(xxl) {
                @include make-col(3.5);
                padding-right: 75px;
            }

            &::before {
                margin-bottom: 42px;
            }

            & + .masvideos-movies {
                @include media-breakpoint-up(xl) {
                    @include make-col(9);
                    padding-left: 7.5px;
                }

                @include media-breakpoint-up(xxl) {
                    @include make-col(8.5);
                    padding-left: 7.5px;
                }
            }
        }

        .movie {
            margin-bottom: 30px;
        }
    }
}
