// Vendors
@import "../../vendors/bootstrap/functions";
@import "../../vendors/bootstrap/variables";
@import "../../vendors/bootstrap/mixins";

// Utilities
@import "../../variables";
@import "../../mixins";

.section-movies-carousel {
    padding: 66px 0;

    &__header {
        @include media-breakpoint-up(md) {
            @include make-col(5);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }

        @include media-breakpoint-up(xl) {
            @include make-col(2.96666666667);
        }
    }

    &.header-right {
        .section-movies-carousel__header {
            @include media-breakpoint-up(md) {
                order: 2;
                padding-left: 20px;
            }
        }
    }

    &__with-bg {
        background: #f1f3f4;
    }

    &__header + .section-movies-carousel__carousel {
        @include media-breakpoint-up(md) {
            @include make-col(7);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(8);
        }

        @include media-breakpoint-up(xl) {
            @include make-col(9.03333333333);
        }
    }

    &__inner {
        align-items: center;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__custom-arrows {
        display: flex;
        margin-bottom: 36px;

        .slick-arrow {
            position: static;
            width: 40px;
            height: 40px;
            border: 2px solid #d2d2d8;
            border-radius: 50%;
            margin-right: 13px;
            transform: none;
            top: auto;

            &::before {
                display: inline-block;
            }

            @include hover-focus() {
                border-color: #9f9fa4;
            }
        }

        .slick-prev::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(189, 189, 195)"/></svg>' );
        }

        .slick-prev:hover::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(129, 129, 133)"/></svg>' );
        }

        .slick-next::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(189, 189, 195)" /></svg>');
        }

        .slick-next:hover::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(129, 129, 133)" /></svg>');
        }
    }

    .home-section__action {
        a {
            font-size: 13px;
            text-transform: uppercase;
            color: #4f5668;
        }
    }

    &.dark {
        .slick-arrow {
            border-color: #2d3343;

            @include hover-focus() {
                border-color: #4f5668;
            }
        }

        .slick-prev::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(55, 61, 78)"/></svg>' );
        }

        .slick-prev:hover::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M7.8 13.1L6.8 14 0 7.1 0.7 6.5 6.7 0 7.6 0.9 1.9 7.2 7.8 13.1Z" fill="rgb(100, 106, 123)"/></svg>' );
        }

        .slick-next::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(55, 61, 78)" /></svg>');
        }

        .slick-next:hover::before {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="14"><path d="M8 7.1L1.2 14 0.2 13.1 6.1 7.2 0.4 0.9 1.3 0 7.3 6.5 8 7.1Z" fill="rgb(100, 106, 123)" /></svg>');
        }
    }

    &.style-2 {
        padding: 40px 0 6px;

        .home-section__action {
            text-align: left;
            border-top: 1px solid #acacac2b;
            padding: 14px 0;

            a {
                font-size: 13px;
                text-transform: uppercase;
                color: #4f5668;
            }
        }

        .home-section__title {
            font-size: 32px;
            font-weight: 600;
        }

        /* .slick-arrow {
            &:before {
                display: block;
            }

            @include hover-focus() {
                border-color: #9f9fa4;
            }
        }

        .slick-prev {
            left: 0px;
            z-index: 1;

            &:before {
                width: 22px;
                height: 42px;
                background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="42"><path
                    d="M21.988,40.588 L20.602,41.988 L0.011,21.204 L0.214,20.999 L0.011,20.795 L20.602,0.011 L21.988,1.410 L2.582,20.999 L21.988,40.588 Z" fill="rgb(177, 177, 177)"/>
                </svg>');
            }

            @include media-breakpoint-up(md) {
                left: -25px;
            }

            @include media-breakpoint-up(xxl) {
                left: -50px;
            }
        }

        .slick-prev:hover::before {
            background-image: url( 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="42"><path
                    d="M21.988,40.588 L20.602,41.988 L0.011,21.204 L0.214,20.999 L0.011,20.795 L20.602,0.011 L21.988,1.410 L2.582,20.999 L21.988,40.588 Z" fill="rgb(255, 255, 255)"/>
                </svg>');
        }

        .slick-next {
            right: 0px;

            &:before {
                //width: 22px;
                //height: 42px;
                //background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="43"><path d="M22.707,21.707 L1.707,42.707 L0.293,41.293 L20.086,21.500 L0.293,1.706 L1.707,0.292 L22.707,21.292 L22.500,21.499 L22.707,21.707 Z" fill="rgb(177, 177, 177)"/>
                    </svg>');
            }

            @include media-breakpoint-up(md) {
                right: -25px;
            }

            @include media-breakpoint-up(xxl) {
                right: -50px;
            }
        }

        .slick-next:hover::before {
            background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="43"><path d="M22.707,21.707 L1.707,42.707 L0.293,41.293 L20.086,21.500 L0.293,1.706 L1.707,0.292 L22.707,21.292 L22.500,21.499 L22.707,21.707 Z" fill="rgb(255, 255, 255)"/>
                    </svg>');
        } */
    }
}
