/**
 * Bootstrap variables override
 */
.section-featured-video__inner {
  align-items: center;
  padding: 94px 0; }

.section-featured-video .featured-video__content {
  order: 1;
  padding-top: 20px; }
  @media (min-width: 768px) {
    .section-featured-video .featured-video__content {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
      order: inherit;
      padding-top: 0; } }
  @media (min-width: 992px) {
    .section-featured-video .featured-video__content {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .section-featured-video .featured-video__content {
      flex: 0 0 40%;
      max-width: 40%; } }
  .section-featured-video .featured-video__content-image {
    width: 187px;
    height: 59px;
    object-fit: cover;
    margin-bottom: 55px; }
  .section-featured-video .featured-video__content-title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 18px; }
  .section-featured-video .featured-video__content-subtitle {
    display: block;
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 50px; }
  .section-featured-video .featured-video__content-action--link {
    font-family: "Montserrat", "Open Sans", sans-serif;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 20px 40px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 6px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    min-width: 180px; }
    @media screen and (prefers-reduced-motion: reduce) {
      .section-featured-video .featured-video__content-action--link {
        transition: none; } }
    .section-featured-video .featured-video__content-action--link:hover, .section-featured-video .featured-video__content-action--link:focus {
      text-decoration: none; }
    .section-featured-video .featured-video__content-action--link:focus, .section-featured-video .featured-video__content-action--link.focus {
      outline: 0;
      /*box-shadow: $btn-focus-box-shadow;*/ }
    .section-featured-video .featured-video__content-action--link.disabled, .section-featured-video .featured-video__content-action--link:disabled {
      opacity: 0.65; }
    .section-featured-video .featured-video__content-action--link:not(:disabled):not(.disabled) {
      cursor: pointer; }
    .section-featured-video .featured-video__content-action--link:not(:disabled):not(.disabled):active, .section-featured-video .featured-video__content-action--link:not(:disabled):not(.disabled).active {
      background-image: none; }
    .section-featured-video .featured-video__content-action--link_watch {
      color: #fff;
      font-size: 12px;
      line-height: 12.77px;
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .section-featured-video .featured-video__content-action--link_watch {
          margin-bottom: 0; } }
    .section-featured-video .featured-video__content-action--link_add-to-playlist {
      color: #fff;
      background-color: transparent;
      background-image: none;
      border-color: #fff; }
      .section-featured-video .featured-video__content-action--link_add-to-playlist:hover {
        color: #000;
        background-color: #fff;
        border-color: #fff; }
      .section-featured-video .featured-video__content-action--link_add-to-playlist:focus, .section-featured-video .featured-video__content-action--link_add-to-playlist.focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
      .section-featured-video .featured-video__content-action--link_add-to-playlist.disabled, .section-featured-video .featured-video__content-action--link_add-to-playlist:disabled {
        color: #fff;
        background-color: transparent; }
      .section-featured-video .featured-video__content-action--link_add-to-playlist:not(:disabled):not(.disabled):active, .section-featured-video .featured-video__content-action--link_add-to-playlist:not(:disabled):not(.disabled).active,
      .show > .section-featured-video .featured-video__content-action--link_add-to-playlist.dropdown-toggle {
        color: #212529;
        background-color: #fff;
        border-color: #fff; }
        .section-featured-video .featured-video__content-action--link_add-to-playlist:not(:disabled):not(.disabled):active:focus, .section-featured-video .featured-video__content-action--link_add-to-playlist:not(:disabled):not(.disabled).active:focus,
        .show > .section-featured-video .featured-video__content-action--link_add-to-playlist.dropdown-toggle:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
    .section-featured-video .featured-video__content-action--link + .featured-video__content-action--link {
      margin-left: 0; }
      @media (min-width: 768px) {
        .section-featured-video .featured-video__content-action--link + .featured-video__content-action--link {
          margin-left: 15px; } }

@media (min-width: 768px) {
  .section-featured-video .featured-video__action {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; } }

@media (min-width: 992px) {
  .section-featured-video .featured-video__action {
    flex: 0 0 50%;
    max-width: 50%; } }

@media (min-width: 1200px) {
  .section-featured-video .featured-video__action {
    flex: 0 0 60%;
    max-width: 60%; } }

.section-featured-video .featured-video__action-icon {
  font-size: 84px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: auto;
  width: 182px;
  height: 182px;
  display: flex;
  align-items: center;
  justify-content: center; }

.section-featured-video .video__short-description {
  display: block; }

.section-featured-video h2.featured-video__content-title {
  font-size: 50px; }

/*# sourceMappingURL=style.css.map */