/**
 * Bootstrap variables override
 */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

small,
.small {
  font-size: 80%;
  font-weight: 400; }

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem; }

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d; }
  .blockquote-footer::before {
    content: "\2014 \00A0"; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto; }

.figure {
  display: inline-block; }

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1; }

.figure-caption {
  font-size: 90%;
  color: #6c757d; }

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word; }
  a > code {
    color: inherit; }

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem; }
  kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700; }

pre {
  display: block;
  font-size: 87.5%;
  color: #212529; }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }

.site-header {
  position: relative;
  z-index: 1; }
  .site-header__masthead {
    border-bottom: 1px solid #9b9b9b; }
  .site-header__inner {
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
    background: transparent; }
  .site-header__left {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .site-header__logo {
    flex: 0 0 22.5%;
    max-width: 22.5%; }
    .site-header__logo a {
      display: block;
      padding: 18px; }
  .site-header .menu-item-has-children > a, .site-header__user-account > a {
    color: #ffffff;
    padding: 3px; }
    @media (min-width: 992px) {
      .site-header .menu-item-has-children > a, .site-header__user-account > a {
        padding: 30px 12px; } }
    .site-header .menu-item-has-children > a:hover, .site-header .menu-item-has-children > a:focus, .site-header__user-account > a:hover, .site-header__user-account > a:focus {
      text-decoration: none; }
  .site-header__right {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .site-header__user-account {
    text-align: end; }

.container-fluid,
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1486px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container-fluid,
    .container {
      max-width: 1486px;
      padding-left: 38px;
      padding-right: 38px;
      margin-right: auto;
      margin-left: auto; } }

.site-header__inner,
.lp-featured-section__inner,
.nav,
.tab-content-details,
.site-header__left,
.site-header__inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.lp-featured-section__details,
.lp-featured-section__banner,
.site-header__left,
.site-header__logo,
.site-header__right,
.site-header__user-account,
.site-header__nav,
.nav-link,
.screen,
.unsubscribe-content,
.unsubscribe-thumbnail {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.site-header__nav {
  flex: 0 0 77.5%;
  max-width: 77.5%;
  display: flex;
  align-items: center; }
  @media (min-width: 768px) {
    .site-header__nav {
      justify-content: flex-end; } }
  @media (min-width: 992px) {
    .site-header__nav {
      justify-content: flex-start; } }
  .site-header__nav .menu-item-has-children {
    position: relative; }
    .site-header__nav .menu-item-has-children:hover .sub-menu {
      display: block; }
    .site-header__nav .menu-item-has-children > a {
      display: flex; }
      .site-header__nav .menu-item-has-children > a:after {
        display: inline-block;
        margin-left: 9px;
        content: " ";
        width: 7px;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="4"><path d="M6.9 1L3.9 3.8C3.9 3.8 3.8 3.8 3.8 3.9 3.7 3.9 3.6 4 3.6 4L3.3 4C3.3 4 3.3 3.9 3.3 3.9 3.2 4 3.1 3.9 3.1 3.9L0.1 1C0 0.9 0 0.7 0.1 0.6L0.5 0.1C0.6 0 0.8 0 0.9 0.1L3 2.2C3.2 2.3 3.3 2.3 3.4 2.3 3.8 2.3 4.1 1.9 4.1 1.9L4.1 1.9 6.1 0.1C6.2 0 6.4 0 6.5 0.1L6.9 0.5C7 0.7 7 0.9 6.9 1Z" fill="rgb(124, 127, 130)"/></svg>');
        background-repeat: no-repeat;
        position: relative;
        top: 8px; }
  .site-header__nav .sub-menu:before {
    content: ' ';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    top: -7%;
    left: 20%;
    color: #eee; }
  .site-header__nav .menu-item-has-children:first-child a {
    font-weight: 700; }

.site-header__right a {
  font-weight: 700; }

.site-footer .menu,
.site-footer .footer-menu,
.site-footer .social-icons,
.site-header__nav .menu,
.site-header__nav .footer-menu,
.site-header__nav .social-icons {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0; }

.site-footer .menu,
.site-footer .footer-menu,
.site-footer .user-account--link,
.site-header__nav .menu,
.site-header__nav .footer-menu,
.site-header__nav .user-account--link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased; }

.lp-featured-section {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://placehold.it/1920x610);
  background-position: 50% 14%;
  padding: 30px 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #19272e;
  line-height: 1.25; }
  @media (min-width: 768px) {
    .lp-featured-section {
      padding: 80px 0; } }
  .lp-featured-section span {
    font-size: 30px;
    font-weight: 500;
    margin-top: 16px;
    display: block; }
  .lp-featured-section p {
    font-size: 15px;
    line-height: 26px;
    margin-top: 23px;
    -webkit-font-smoothing: antialiased; }
    @media (min-width: 768px) {
      .lp-featured-section p {
        padding-right: 100px;
        font-size: 18px; } }
  .lp-featured-section__link {
    text-align: center; }
    @media (min-width: 768px) {
      .lp-featured-section__link {
        text-align: start; } }
  .lp-featured-section__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .lp-featured-section__details {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    .lp-featured-section__banner {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
      display: flex;
      justify-content: flex-end; } }
  .lp-featured-section img {
    box-shadow: 4px 25px 37px #858585;
    width: 100%; }
  .lp-featured-section .label-new span {
    display: inline-block;
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    transform: rotate(-40deg);
    margin-top: 26px;
    padding-left: 12px; }
  .lp-featured-section .label-new:before {
    content: ' ';
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
    position: absolute;
    top: 0; }

.site-header__nav .menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 15px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin: 0; }

.site-header__nav .menu .sub-menu > li > a {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  padding: 0.45rem 1.5rem;
  font-size: 14px; }
  .site-header__nav .menu .sub-menu > li > a:hover, .site-header__nav .menu .sub-menu > li > a:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa; }
  .site-header__nav .menu .sub-menu > li > a.active, .site-header__nav .menu .sub-menu > li > a:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff; }
  .site-header__nav .menu .sub-menu > li > a.disabled, .site-header__nav .menu .sub-menu > li > a:disabled {
    color: #6c757d;
    background-color: transparent; }

.landing-hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 100%, rgba(0, 0, 0, 0.7) 100%), url(https://placehold.it/1920x849);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  margin-top: -80px;
  padding-top: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .landing-hero {
      height: 600px;
      padding-bottom: 100px; } }
  @media (min-width: 992px) {
    .landing-hero {
      height: 845px;
      padding-bottom: 145px; } }
  .landing-hero__inner {
    z-index: 1; }
  .landing-hero *:focus {
    outline: none; }
  .landing-hero__caption {
    text-align: center;
    line-height: 1.25;
    color: #ffffff;
    padding-top: 20px; }
    @media (min-width: 768px) {
      .landing-hero__caption {
        padding: 0; } }
    .landing-hero__caption h2 {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -0.01em; }
      @media (min-width: 768px) {
        .landing-hero__caption h2 {
          font-size: 40px; } }
      @media (min-width: 992px) {
        .landing-hero__caption h2 {
          font-size: 50px; } }
    .landing-hero__caption p {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px; }
      @media (min-width: 768px) {
        .landing-hero__caption p {
          font-size: 21px;
          margin-bottom: 40px; } }
      @media (min-width: 992px) {
        .landing-hero__caption p {
          font-size: 26px;
          margin-bottom: 40px; } }

.landing-hero__btn-action,
.tab__btn-action,
.btn-secondary {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media screen and (prefers-reduced-motion: reduce) {
    .landing-hero__btn-action,
    .tab__btn-action,
    .btn-secondary {
      transition: none; } }
  .landing-hero__btn-action:hover, .landing-hero__btn-action:focus,
  .tab__btn-action:hover,
  .tab__btn-action:focus,
  .btn-secondary:hover,
  .btn-secondary:focus {
    text-decoration: none; }
  .landing-hero__btn-action:focus, .landing-hero__btn-action.focus,
  .tab__btn-action:focus,
  .tab__btn-action.focus,
  .btn-secondary:focus,
  .btn-secondary.focus {
    outline: 0;
    /*box-shadow: $btn-focus-box-shadow;*/ }
  .landing-hero__btn-action.disabled, .landing-hero__btn-action:disabled,
  .tab__btn-action.disabled,
  .tab__btn-action:disabled,
  .btn-secondary.disabled,
  .btn-secondary:disabled {
    opacity: 0.65; }
  .landing-hero__btn-action:not(:disabled):not(.disabled),
  .tab__btn-action:not(:disabled):not(.disabled),
  .btn-secondary:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .landing-hero__btn-action:not(:disabled):not(.disabled):active, .landing-hero__btn-action:not(:disabled):not(.disabled).active,
  .tab__btn-action:not(:disabled):not(.disabled):active,
  .tab__btn-action:not(:disabled):not(.disabled).active,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active {
    background-image: none; }

.btn-secondary {
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  border: 2px solid;
  background-color: transparent;
  border-radius: 31px;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .btn-secondary {
      margin-top: 35px;
      padding: 16px 54px; } }
  .btn-secondary:hover, .btn-secondary:focus {
    background-color: #19272e;
    color: #ffffff;
    border-color: #19272e; }

.landing-hero__btn-action,
.tab__btn-action {
  padding: 12px 16px;
  border-radius: 37px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  background-color: #24baef;
  color: #ffffff; }
  @media (min-width: 768px) {
    .landing-hero__btn-action,
    .tab__btn-action {
      padding: 21px 42px;
      font-size: 18px; } }
  .landing-hero__btn-action:hover, .landing-hero__btn-action:focus,
  .tab__btn-action:hover,
  .tab__btn-action:focus {
    background-color: #19272e;
    color: #ffffff; }

.section-landing-page-movies {
  padding: 30px 0; }
  @media (min-width: 768px) {
    .section-landing-page-movies {
      padding-top: 90px;
      padding-bottom: 76px; } }
  .section-landing-page-movies .discover-all-btn {
    text-align: center; }
    .section-landing-page-movies .discover-all-btn button {
      margin-top: 26px;
      font-family: "Montserrat", "Open Sans", sans-serif; }
      @media (min-width: 768px) {
        .section-landing-page-movies .discover-all-btn button {
          padding: 20px 60px; } }
  .section-landing-page-movies .movie__ratings, .section-landing-page-movies .movie__meta, .section-landing-page-movies .movie__title {
    display: none; }
  @media (min-width: 768px) {
    .section-landing-page-movies__carousel {
      padding-top: 58px; } }

.section-lp__features.tabs-section {
  background-color: #131722;
  padding-bottom: 45px; }
  @media (min-width: 768px) {
    .section-lp__features.tabs-section {
      padding-bottom: 95px; } }
  .section-lp__features.tabs-section .nav {
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
    padding-top: 90px;
    flex-wrap: nowrap;
    overflow: auto; }
    .section-lp__features.tabs-section .nav a {
      color: #919398;
      display: block; }
      .section-lp__features.tabs-section .nav a:hover, .section-lp__features.tabs-section .nav a:focus {
        text-decoration: none; }
    .section-lp__features.tabs-section .nav .nav-link {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center; }
      @media (min-width: 768px) {
        .section-lp__features.tabs-section .nav .nav-link {
          flex: 0 0 33.3333333333%;
          max-width: 33.3333333333%; } }
      .section-lp__features.tabs-section .nav .nav-link span {
        display: block; }
    .section-lp__features.tabs-section .nav .active {
      border-bottom: 3px solid #24baef;
      color: #ffffff;
      padding-bottom: 11px; }
      .section-lp__features.tabs-section .nav .active svg {
        fill: #ffffff; }
    .section-lp__features.tabs-section .nav svg {
      fill: #898b91; }
  .section-lp__features.tabs-section .section-title,
  .section-lp__features.tabs-section .section-sub-title {
    color: #ffffff; }
  .section-lp__features.tabs-section .tab-content-details {
    margin-top: 35px;
    -webkit-font-smoothing: antialiased; }
    @media (min-width: 992px) {
      .section-lp__features.tabs-section .tab-content-details {
        margin-top: 95px; } }
  .section-lp__features.tabs-section .tab-content {
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-top: 60px; }
    @media (min-width: 768px) {
      .section-lp__features.tabs-section .tab-content {
        margin-top: 80px; } }
    .section-lp__features.tabs-section .tab-content > .tab-pane {
      display: none; }
    .section-lp__features.tabs-section .tab-content > .active {
      display: block; }
  .section-lp__features.tabs-section .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px; }
    @media (min-width: 992px) {
      .section-lp__features.tabs-section .screen {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        margin-bottom: 0; } }
  .section-lp__features.tabs-section img {
    width: 100%;
    display: block;
    height: auto; }
  .section-lp__features.tabs-section td svg {
    fill: #919398; }
  .section-lp__features.tabs-section .screen-thumbnail {
    margin-bottom: 35px; }
    @media (min-width: 992px) {
      .section-lp__features.tabs-section .screen-thumbnail {
        margin-bottom: 70px; } }
  .section-lp__features.tabs-section .title {
    font-size: 26px;
    font-weight: 700; }
  .section-lp__features.tabs-section .discription {
    font-size: 16px;
    margin-top: 12px; }
    @media (min-width: 1200px) {
      .section-lp__features.tabs-section .discription {
        padding: 0 60px; } }
  .section-lp__features.tabs-section .unsubscribe {
    margin-bottom: 23px; }
    @media (min-width: 992px) {
      .section-lp__features.tabs-section .unsubscribe .unsubscribe-content {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%; } }
    @media (min-width: 992px) {
      .section-lp__features.tabs-section .unsubscribe .unsubscribe-thumbnail {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%; } }
    .section-lp__features.tabs-section .unsubscribe .discription {
      text-align: start;
      font-size: 20px;
      line-height: 40px; }
      @media (min-width: 768px) {
        .section-lp__features.tabs-section .unsubscribe .discription {
          padding: 0 90px;
          font-size: 30px; } }
    @media (min-width: 768px) {
      .section-lp__features.tabs-section .unsubscribe img {
        width: 430px;
        margin: auto; } }
  .section-lp__features.tabs-section .trail-btn {
    text-align: center;
    margin-top: 10px; }
    @media (min-width: 768px) {
      .section-lp__features.tabs-section .trail-btn {
        margin-top: 40px; } }
    @media (min-width: 992px) {
      .section-lp__features.tabs-section .trail-btn {
        margin-top: 76px; } }
  .section-lp__features.tabs-section .tab-icon {
    font-size: 70px;
    display: block;
    margin-bottom: 30px; }

.section-landing-page-movies__section-header,
.section-landing-page-movies .tab-content-header,
.tabs-section__section-header,
.tabs-section .tab-content-header {
  text-align: center;
  -webkit-font-smoothing: antialiased; }
  .section-landing-page-movies__section-header .section-sub-title,
  .section-landing-page-movies .tab-content-header .section-sub-title,
  .tabs-section__section-header .section-sub-title,
  .tabs-section .tab-content-header .section-sub-title {
    font-size: 15px;
    line-height: 26px;
    margin-top: 21px;
    -webkit-font-smoothing: antialiased; }
    @media (min-width: 768px) {
      .section-landing-page-movies__section-header .section-sub-title,
      .section-landing-page-movies .tab-content-header .section-sub-title,
      .tabs-section__section-header .section-sub-title,
      .tabs-section .tab-content-header .section-sub-title {
        font-size: 17px; } }
    @media (min-width: 992px) {
      .section-landing-page-movies__section-header .section-sub-title,
      .section-landing-page-movies .tab-content-header .section-sub-title,
      .tabs-section__section-header .section-sub-title,
      .tabs-section .tab-content-header .section-sub-title {
        font-size: 21px; } }

.section-landing-page-movies .section-title,
.tabs-section .section-title,
.lp-featured-section .section-title {
  font-size: 25px;
  line-height: 1.25;
  font-weight: 700; }
  @media (min-width: 768px) {
    .section-landing-page-movies .section-title,
    .tabs-section .section-title,
    .lp-featured-section .section-title {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .section-landing-page-movies .section-title,
    .tabs-section .section-title,
    .lp-featured-section .section-title {
      font-size: 40px; } }

.site-landing__footer {
  border-top: 1px solid #343949;
  padding-top: 50px;
  padding-bottom: 75px;
  background-color: #131722; }
  .site-landing__footer .footer-bar {
    display: flex;
    justify-content: space-between; }
  .site-landing__footer .site-info {
    text-align: center; }
  .site-landing__footer .footer-menu {
    display: flex;
    padding-left: 0;
    list-style: none; }
    .site-landing__footer .footer-menu a {
      color: #ffffff;
      padding: 8px;
      display: block; }
      @media (min-width: 992px) {
        .site-landing__footer .footer-menu a {
          padding: 10px 21px; } }
      .site-landing__footer .footer-menu a:hover, .site-landing__footer .footer-menu a:focus {
        text-decoration: none; }
  .site-landing__footer .social-icons {
    display: flex;
    padding-left: 0;
    list-style: none; }
  .site-landing__footer .fa-circle {
    color: #ffffff; }
  .site-landing__footer .fa-inverse {
    color: #000000; }
  .site-landing__footer .footer-social-icon {
    display: block;
    padding: 0 4px; }
    .site-landing__footer .footer-social-icon:hover .fa-circle {
      color: #19272e; }
    .site-landing__footer .footer-social-icon:hover .fa-inverse {
      color: #ffffff; }
  .site-landing__footer .site-info {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #3e4455;
    padding-top: 14px; }

body {
  font-size: 15px;
  line-height: 24px;
  color: #19272e;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-family: "Montserrat", "Open Sans", sans-serif; }

.pricing-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid #dee2e6;
  font-size: 12.5px;
  border: none; }
  .pricing-table th,
  .pricing-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left; }
  .pricing-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
  .pricing-table tbody + tbody {
    border-top: 2px solid #dee2e6; }
  .pricing-table .table {
    background-color: #fff; }
  .pricing-table th,
  .pricing-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left; }
  .pricing-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
  .pricing-table tbody + tbody {
    border-top: 2px solid #dee2e6; }
  .pricing-table .table {
    background-color: #fff; }
  .pricing-table th,
  .pricing-table td {
    border: 1px solid #dee2e6; }
  .pricing-table thead th,
  .pricing-table thead td {
    border-bottom-width: 2px; }
  @media (min-width: 768px) {
    .pricing-table {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .pricing-table {
      font-size: 23px; } }
  .pricing-table th,
  .pricing-table td,
  .pricing-table table {
    border: none; }
  .pricing-table td {
    color: #919398; }
  .pricing-table td + td,
  .pricing-table th + th {
    text-align: center; }
  .pricing-table tr:nth-child(even) {
    background-color: #222; }
  @media (max-width: 767.98px) {
    .pricing-table tr {
      display: flex; } }
  @media (max-width: 767.98px) {
    .pricing-table tr > th, .pricing-table tr td {
      display: flex;
      width: 33.3%;
      max-width: 33.3%;
      justify-content: center; } }
  @media (max-width: 767.98px) {
    .pricing-table tr > th:first-child, .pricing-table tr td:first-child {
      display: none; } }
  .pricing-table .alt-header > .alt-data {
    display: block;
    max-width: 100%;
    flex: 1 1 100%;
    text-align: center; }
    @media (min-width: 576px) {
      .pricing-table .alt-header > .alt-data {
        display: none; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  margin-left: 146px; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block;
    width: 100%; }
  .slick-slide figure {
    margin: 0; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  flex-wrap: wrap;
  padding-top: 17px; }
  .slick-dots > li + li {
    margin-left: 14px; }
  .slick-dots button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d3d3d3;
    text-indent: -9999px;
    padding: 0;
    transition: 0.2s;
    border: none;
    cursor: pointer;
    outline: none; }
  .slick-dots .slick-active button {
    width: 30px;
    border-radius: 3px;
    background-color: #24baef; }

.section-landing-page-movies__carousel {
  width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50% - 8px); }
  @media (max-width: 991.98px) {
    .section-landing-page-movies__carousel {
      margin-left: calc(-50vw + 50%); } }
  .section-landing-page-movies__carousel .slick-slider .slick-slide {
    padding: 0 7px; }

.site-header-lp-v2 {
  padding: 0 15px;
  max-width: 100%;
  flex: 1; }
  .site-header-lp-v2__back-option {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: right;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 46px; }
    @media (min-width: 768px) {
      .site-header-lp-v2__back-option {
        padding-top: 30px;
        padding-bottom: 60px; } }
    @media (min-width: 992px) {
      .site-header-lp-v2__back-option {
        padding-top: 30px;
        padding-bottom: 92px; } }
    .site-header-lp-v2__back-option a {
      font-weight: 700;
      color: #ffffff;
      text-decoration: underline; }
      .site-header-lp-v2__back-option a:hover, .site-header-lp-v2__back-option a:focus {
        color: #24baef; }
  .site-header-lp-v2__site-branding {
    text-align: center; }

.page-template-template-landingpage-v2 {
  font-size: 15px;
  line-height: 24px;
  color: #19272e;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-family: "Montserrat", "Open Sans", sans-serif;
  background-color: #131722; }

.lp-v2-video-section {
  overflow: hidden; }
  .lp-v2-video-section__inner {
    text-align: center; }
  @media (min-width: 1200px) {
    .lp-v2-video-section__video {
      height: 758px; } }
  .lp-v2-video-section__video img {
    width: 100%; }
    @media (min-width: 1200px) {
      .lp-v2-video-section__video img {
        width: auto; } }
  .lp-v2-video-section__title {
    font-size: 32px;
    line-height: 1.10;
    letter-spacing: -0.01em;
    font-weight: 600;
    color: #24baef; }
    @media (min-width: 768px) {
      .lp-v2-video-section__title {
        font-size: 40px; } }
    @media (min-width: 992px) {
      .lp-v2-video-section__title {
        font-size: 72px; } }
  .lp-v2-video-section__subtitle {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
    color: #ffffff;
    padding-top: 4px; }
    @media (min-width: 768px) {
      .lp-v2-video-section__subtitle {
        font-size: 26px; } }

.lp-v2-features-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 100%, rgba(0, 0, 0, 0.7) 100%), url(https://placehold.it/1920x619);
  background-position-x: center;
  background-position-y: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 40px; }
  @media (min-width: 768px) {
    .lp-v2-features-section {
      padding: 50px 0; } }
  @media (min-width: 1200px) {
    .lp-v2-features-section {
      padding: 150px 0px; } }
  @media (min-width: 1200px) {
    .lp-v2-features-section__caption {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; } }
  .lp-v2-features-section__title {
    font-size: 40px;
    line-height: 1.10;
    font-weight: 600; }
    @media (min-width: 768px) {
      .lp-v2-features-section__title {
        font-size: 50px; } }
    @media (min-width: 992px) {
      .lp-v2-features-section__title {
        font-size: 72px; } }
  @media (min-width: 1200px) {
    .lp-v2-features-section__content {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
      align-self: center; } }
  .lp-v2-features-section .features {
    padding-left: 0;
    list-style: none; }
  .lp-v2-features-section .feature-title {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center; }
  .lp-v2-features-section .feature-discribtion {
    font-size: 16px;
    line-height: 21px;
    padding-top: 23px; }
  .lp-v2-features-section .feature {
    padding: 18px; }
    @media (min-width: 992px) {
      .lp-v2-features-section .feature {
        padding: 24px; } }
    @media (min-width: 992px) {
      .lp-v2-features-section .feature {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%; } }
    .lp-v2-features-section .feature i {
      font-size: 30px;
      color: #24baef; }
    .lp-v2-features-section .feature span {
      padding-left: 20px;
      font-weight: 500; }

.lp-v2-features-section .features,
.lp-v2-section-plans__inner,
.lp-v2-features-section__inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.lp-v2-features-section__caption,
.lp-v2-features-section__content,
.lp-v2-features-section .feature,
.lp-v2-section-plans__plan-box {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.lp-v2-section-plans__inner {
  color: #ffffff;
  padding: 40px 0; }
  @media (min-width: 992px) {
    .lp-v2-section-plans__inner {
      padding: 50px 0px 109px;
      justify-content: center; } }

.lp-v2-section-plans__plan-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: center; }
  @media (min-width: 992px) {
    .lp-v2-section-plans__plan-box {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
      margin-bottom: 0;
      align-items: flex-start; } }
  @media (min-width: 1200px) {
    .lp-v2-section-plans__plan-box {
      flex: 0 0 25%;
      max-width: 25%; } }
  .lp-v2-section-plans__plan-box .title {
    text-align: center; }
    @media (min-width: 992px) {
      .lp-v2-section-plans__plan-box .title {
        text-align: start; } }

.lp-v2-section-plans__plan-box + .lp-v2-section-plans__plan-box {
  position: relative; }
  @media (min-width: 992px) {
    .lp-v2-section-plans__plan-box + .lp-v2-section-plans__plan-box {
      padding-left: 30px; } }
  @media (min-width: 1200px) {
    .lp-v2-section-plans__plan-box + .lp-v2-section-plans__plan-box {
      padding-left: 63px; } }
  .lp-v2-section-plans__plan-box + .lp-v2-section-plans__plan-box:before {
    content: " ";
    width: 1px;
    height: 230px;
    background-color: #2c3346;
    display: block;
    position: absolute;
    left: -5px;
    top: 6%; }

.lp-v2-section-plans .features {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  padding-top: 5px; }

.lp-v2-section-plans__plan,
.lp-v2-section-plans .title,
.lp-v2-section-plans .per-month {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff; }

.lp-v2-section-plans__plan a {
  display: block;
  text-decoration: none; }

.lp-v2-section-plans .highlight p, .lp-v2-section-plans .highlight h3, .lp-v2-section-plans .highlight span {
  color: #24baef; }

.lp-v2-section-plans .feature {
  font-size: 16px;
  line-height: 36px; }
  .lp-v2-section-plans .feature:before {
    content: " ";
    width: 9px;
    height: 7px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"width="9px" height="7px"> <path fill="rgb(255, 255, 255)" d="M7.583,-0.001 C7.709,0.012 7.835,0.026 7.960,0.039 C8.043,0.153 8.183,0.233 8.224,0.391 C8.310,0.718 8.039,0.880 7.923,1.016 C7.613,1.379 7.341,1.764 7.019,2.111 C5.663,3.740 4.306,5.370 2.951,6.999 C2.938,6.999 2.925,6.999 2.913,6.999 C2.913,6.987 2.913,6.973 2.913,6.960 C2.737,6.855 2.649,6.687 2.499,6.569 C2.008,6.187 1.596,5.739 1.105,5.357 C1.017,5.253 0.929,5.149 0.841,5.044 C0.559,4.824 0.248,4.694 0.239,4.184 C0.416,3.959 0.433,3.794 0.841,3.793 C0.893,3.838 0.968,3.829 1.029,3.871 C1.092,3.949 1.155,4.027 1.218,4.106 C1.589,4.393 1.902,4.717 2.273,5.005 C2.477,5.164 2.610,5.457 2.875,5.553 C3.253,4.879 4.009,4.298 4.457,3.675 C4.783,3.224 5.148,2.837 5.474,2.385 C5.562,2.307 5.650,2.229 5.738,2.150 C6.295,1.378 6.929,0.672 7.583,-0.001 Z"/></svg>');
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 9px; }

.lp-v2-section-plans .price-per-month {
  font-size: 72px;
  color: #ffffff;
  font-weight: 700; }

.lp-v2-section-plans__plan-join-link {
  padding-top: 5px;
  font-size: 24px;
  line-height: 72px;
  font-weight: 600;
  margin-top: auto; }
  .lp-v2-section-plans__plan-join-link a {
    color: #24baef;
    display: block; }
    .lp-v2-section-plans__plan-join-link a:hover, .lp-v2-section-plans__plan-join-link a:focus {
      text-decoration: none; }

.lp-v2-frequently-asked-questions *:focus {
  outline: none; }

.lp-v2-frequently-asked-questions__inner {
  background-color: #191e2b; }

.lp-v2-frequently-asked-questions .card-body {
  color: #bbc2d3;
  font-size: 10px;
  line-height: 18px;
  padding: 10px;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 768px) {
    .lp-v2-frequently-asked-questions .card-body {
      font-size: 12px; } }
  @media (min-width: 992px) {
    .lp-v2-frequently-asked-questions .card-body {
      padding: 6px 153px 40px;
      font-size: 15px;
      line-height: 21px; } }

.lp-v2-frequently-asked-questions h5 {
  margin-bottom: 0; }

.lp-v2-frequently-asked-questions a.link {
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  cursor: pointer;
  padding: 10px; }
  @media (min-width: 768px) {
    .lp-v2-frequently-asked-questions a.link {
      line-height: 30px;
      padding: 20px; } }
  @media (min-width: 992px) {
    .lp-v2-frequently-asked-questions a.link {
      font-size: 18px;
      line-height: 90px;
      padding: 0 60px; } }
  .lp-v2-frequently-asked-questions a.link:before {
    display: inline-block;
    content: " ";
    width: 20px;
    height: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="12px"><path fill="rgb(255, 255, 255)" d="M19.989,2.572 L10.714,10.973 L9.852,11.990 L0.017,2.401 L1.219,0.983 L9.784,9.332 L18.749,1.212 L19.989,2.572 Z"/></svg>');
    background-repeat: no-repeat;
    transform: rotate(180deg);
    margin-right: 10px; }
    @media (min-width: 992px) {
      .lp-v2-frequently-asked-questions a.link:before {
        margin-right: 77px; } }
  .lp-v2-frequently-asked-questions a.link:hover, .lp-v2-frequently-asked-questions a.link:focus {
    text-decoration: none;
    color: #ffffff; }
  .lp-v2-frequently-asked-questions a.link.collapsed:before {
    transform: rotate(0deg); }

.lp-v2-frequently-asked-questions .accordion {
  padding: 20px 0; }

.lp-v2-frequently-asked-questions .collapse:not(.show) {
  display: none; }

.lp-v2-frequently-asked-questions .collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }

.lp-v2-frequently-asked-questions .card:not(:last-child) {
  position: relative; }
  .lp-v2-frequently-asked-questions .card:not(:last-child):after {
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #2c3346;
    display: inline-block;
    position: absolute; }
    @media (min-width: 992px) {
      .lp-v2-frequently-asked-questions .card:not(:last-child):after {
        width: 896px; } }

.view-count {
  padding: 40px 0; }
  @media (min-width: 768px) {
    .view-count {
      padding: 100px 0; } }
  @media (min-width: 1200px) {
    .view-count {
      padding: 180px 0; } }
  .view-count__content {
    line-height: 1.10;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .view-count .count {
    font-size: 60px;
    color: #24baef; }
    @media (min-width: 768px) {
      .view-count .count {
        font-size: 100px; } }
    @media (min-width: 992px) {
      .view-count .count {
        font-size: 130px; } }
    @media (min-width: 1200px) {
      .view-count .count {
        font-size: 170px; } }
  .view-count p {
    font-size: 32px;
    color: #ffffff; }
  .view-count .count, .view-count p {
    text-align: center; }

.site-landing-v2__footer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 100%, rgba(0, 0, 0, 0.7) 100%), url(https://placehold.it/1920x835);
  background-position-x: center;
  background-position-y: center; }
  .site-landing-v2__footer .footer-bar-site-info {
    border-top: 1px solid #343949;
    padding-top: 50px;
    padding-bottom: 75px; }
    @media (min-width: 768px) {
      .site-landing-v2__footer .footer-bar-site-info {
        padding: 30px 0; } }
  .site-landing-v2__footer .footer-bar {
    display: flex;
    justify-content: space-between; }
  .site-landing-v2__footer .site-info {
    text-align: center; }
  .site-landing-v2__footer .footer-menu {
    display: flex;
    padding-left: 0;
    list-style: none; }
    .site-landing-v2__footer .footer-menu a {
      color: #ffffff;
      display: block; }
      @media (min-width: 768px) {
        .site-landing-v2__footer .footer-menu a {
          padding: 10px; } }
      @media (min-width: 992px) {
        .site-landing-v2__footer .footer-menu a {
          padding: 10px 21px; } }
      .site-landing-v2__footer .footer-menu a:hover, .site-landing-v2__footer .footer-menu a:focus {
        text-decoration: none; }
  .site-landing-v2__footer .social-icons {
    display: flex;
    padding-left: 0;
    list-style: none; }
  .site-landing-v2__footer .fa-circle {
    color: #ffffff; }
  .site-landing-v2__footer .fa-inverse {
    color: #000000; }
  .site-landing-v2__footer .footer-social-icon {
    display: block;
    padding: 0 4px; }
    .site-landing-v2__footer .footer-social-icon:hover .fa-circle {
      color: #19272e; }
    .site-landing-v2__footer .footer-social-icon:hover .fa-inverse {
      color: #ffffff; }
  .site-landing-v2__footer .site-info {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #3e4455;
    padding-top: 14px; }

.site-coming-soon-header {
  margin: 0; }
  .site-coming-soon-header .site-header__cs-site-branding-with-nav a {
    padding: 18px 0;
    display: inline-block; }
  .site-coming-soon-header .site-header__content {
    position: relative; }
  .site-coming-soon-header .site-header__inner {
    height: auto; }
  .site-coming-soon-header .site-header__masthead {
    border-bottom: 1px solid #9b9b9b; }
  .site-coming-soon-header .site-header__content {
    flex: 1; }
  .site-coming-soon-header .collapse {
    display: none; }
  .site-coming-soon-header .show {
    display: block; }
  .site-coming-soon-header .btn-link {
    display: inline-block;
    float: right;
    padding: 22px;
    text-align: end;
    padding-right: 0; }
  .site-coming-soon-header .collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.50s ease; }
  .site-coming-soon-header .show,
  .site-coming-soon-header .collapsing {
    background-color: #fff;
    z-index: 9999;
    position: absolute;
    width: 100%; }
  .site-coming-soon-header .link {
    display: block;
    padding: 10px 20px;
    font-weight: 500;
    color: #000000;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #121a21; }
    .site-coming-soon-header .link:hover, .site-coming-soon-header .link:focus {
      background-color: #eee;
      text-decoration: none; }

.cs-site-content-section {
  padding: 50px 0;
  color: #ffffff; }
  @media (min-width: 768px) {
    .cs-site-content-section {
      padding: 100px 0; } }
  @media (min-width: 1200px) {
    .cs-site-content-section {
      padding-top: 280px;
      padding-bottom: 216px; } }
  @media (min-width: 992px) {
    .cs-site-content-section__subscribe-section {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%; } }
  @media (min-width: 1200px) {
    .cs-site-content-section__subscribe-section {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 992px) {
    .cs-site-content-section__timer-section {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%; } }
  @media (min-width: 1200px) {
    .cs-site-content-section__timer-section {
      flex: 0 0 50%;
      max-width: 50%; } }
  .cs-site-content-section__vodi-subscribe-form {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px; }
    @media (min-width: 768px) {
      .cs-site-content-section__vodi-subscribe-form {
        margin-top: 40px; } }
  .cs-site-content-section__title {
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.01em;
    font-weight: 700;
    padding: 15px 0; }
    @media (min-width: 768px) {
      .cs-site-content-section__title {
        font-size: 50px;
        padding: 20px 20px 20px 0; } }
  .cs-site-content-section__sub-title {
    font-size: 16px;
    line-height: 21px;
    padding-top: 3px;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .cs-site-content-section__sub-title {
        margin-bottom: 36px; } }
  .cs-site-content-section .email,
  .cs-site-content-section .btn-subscribe {
    border-radius: 0; }
  .cs-site-content-section .email {
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 12px;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    color: #a0a0a0;
    border: none; }
    @media (min-width: 768px) {
      .cs-site-content-section .email {
        padding: 9px 16px;
        width: 470px;
        font-size: 14px; } }
  .cs-site-content-section .btn-subscribe {
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 10px;
    line-height: 18px;
    font-weight: 700;
    background-color: #24baef;
    color: #ffffff; }
    @media (min-width: 768px) {
      .cs-site-content-section .btn-subscribe {
        padding: 14px 43px;
        font-size: 14px; } }
  .cs-site-content-section .subscribe-form {
    display: flex;
    border-radius: 7px; }
  .cs-site-content-section .value {
    font-size: 72px;
    line-height: 1.25;
    font-weight: 500; }
  .cs-site-content-section__timer-section {
    display: flex;
    justify-content: center; }
  .cs-site-content-section .deal-countdown {
    display: flex; }
    @media (min-width: 992px) {
      .cs-site-content-section .deal-countdown {
        padding-top: 56px; } }
    .cs-site-content-section .deal-countdown > span {
      display: flex;
      flex-direction: column; }
      .cs-site-content-section .deal-countdown > span + span {
        position: relative;
        padding-left: 24px;
        margin-left: 10px; }
        @media (min-width: 768px) {
          .cs-site-content-section .deal-countdown > span + span {
            padding-left: 44px;
            margin-left: 30px; } }
        .cs-site-content-section .deal-countdown > span + span:before {
          content: ' ';
          width: 14px;
          height: 14px;
          background-color: #6c6f70;
          border-radius: 20px;
          display: block;
          position: absolute;
          left: 0;
          top: 18%; }
      .cs-site-content-section .deal-countdown > span span {
        font-size: 30px; }
        @media (min-width: 768px) {
          .cs-site-content-section .deal-countdown > span span {
            font-size: 70px; } }
    .cs-site-content-section .deal-countdown b {
      font-size: 15px;
      line-height: 37px;
      letter-spacing: -0.01em;
      font-weight: 500;
      color: #a5a6a7;
      text-align: center; }

.cs-footer__footer-bar {
  display: flex;
  justify-content: space-between;
  padding: 39px 0; }

.cs-footer__site-info {
  align-self: center;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-family: "Open Sans", sans-serif;
  color: #464d5f; }

.cs-footer .fa-circle {
  color: #818285; }

.cs-footer .fa-inverse {
  color: #000000; }

.cs-footer .footer-social-icon:hover .fa-circle {
  color: #ffffff; }

.page-template-template-coming-soon {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 100%, rgba(0, 0, 0, 0.7) 100%), url(https://placehold.it/1920x996);
  background-repeat: no-repeat;
  font-size: 15px;
  line-height: 24px;
  color: #19272e;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-family: "Montserrat", "Open Sans", sans-serif;
  background-position-x: center;
  background-position-y: center;
  background-size: cover; }

.cs-site-content-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.cs-site-content-section__subscribe-section,
.cs-site-content-section__timer-section,
.cs-site-content-section__vodi-subscribe-form {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/*# sourceMappingURL=landing.css.map */