@mixin make-pagination() {
    display: flex;
    @include list-unstyled();
    @include border-radius();
}

@mixin make-page-link() {
    position: relative;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin: 0 4px;
    line-height: $pagination-line-height;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;
    border-radius: 2px;

    &:hover {
        z-index: 2;
        color: $pagination-hover-color;
        text-decoration: none;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
    }

    &:focus {
        z-index: 2;
        outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
    }

    // Opinionated: add "hand" cursor to non-disabled .page-link elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &.current {
        @include make-page-link-active();    
    }
}

@mixin make-page-link-active() {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
    font-weight: $ms-bold;   
}