.page-template-template-coming-soon {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.45) 100%, rgba(0,0,0,0.70) 100%),url(https://placehold.it/1920x996);
	background-repeat: no-repeat;
	font-size: 15px;
    line-height: 24px;
    color: #19272e;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;  
    word-break: break-word;  
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-family: $ms;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}